/**
 * Variable fonts:
 * https://fontsource.org/?category=sans-serif&variable=true
 */
@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'tailwindcss/components';

@import './styles/layers/index.css';

/* Base variables */

:root {
  font-synthesis: none;
  font-variation-settings:
    'wght' 400,
    'slnt' 0;
  scroll-padding-block-start: theme(spacing.14);
  scroll-padding-block-end: theme(spacing.2);
  --surface-bg: var(--dx-base);
  --input-bg: var(--dx-input);
  --input-bg-hover: var(--dx-hoverSurface);
  --surface-text: var(--dx-baseText);
  --description-text: var(--dx-description);
  --topbar-size: theme(spacing.12);
  --statusbar-size: theme(spacing.6);
  --sticky-top: 0;
  --rail-size: 48px;
  --rail-action: 40px;
  --nav-sidebar-size: 16.875rem;
  --complementary-sidebar-size: 22.5rem;
}

@media (pointer: coarse) {
  :root {
    --statusbar-size: theme(spacing.8);
  }
}

.dark {
  --surface-bg: var(--dx-base);
  --surface-text: var(--dx-baseText);
  --input-bg: var(--dx-input);
  --input-bg-hover: var(--dx-hoverSurface);
  --description-text: var(--dx-description);
  color: var(--surface-text);
}

html {
  background-color: var(--surface-bg);
  color: var(--surface-text);
  @apply font-body;
}
