/**
 * Graph styles.
 * TODO(burdon): Light/dark theme.
 */
svg g.graph, svg.graph {
  /**
   * Arrows.
   */
  marker {
    &.arrow path {
      fill: none;
      stroke: #888;
      stroke-width: 1px;
    }

    &.dot circle {
      fill: none;
      stroke: red;
      stroke-width: 2px;
    }
  }

  /**
   * Guides.
   */
  g.guides {
    circle {
      fill: #333;
      stroke: black;
      stroke-width: 2px;
      stroke-dasharray: 10, 2;
      opacity: 0.2;
    }
  }

  /**
   * Nodes.
   */
  g.nodes {
    .selected {
      circle {
        fill: cornflowerblue;
        stroke: #333;
        stroke-width: 2px;
      }
    }

    circle {
      fill: #cfd8dc;
      stroke: #333;
    }

    circle.highlight {
      fill: #fff;
      stroke: #333;
      stroke-width: 2px;
    }

    text {
      fill: #555 !important;
      font-family: sans-serif;
    }
  }

  /**
   * Links.
   */
  g.links {
    path {
      fill: none;
      stroke: #888;
      stroke-width: 1px;
    }

    path.click {
      stroke: transparent;
      stroke-width: 16px;
      opacity: 0.2;
    }
  }

  .linker {
    path {
      stroke: orange;
      stroke-dasharray: 10, 5;
    }

    path::marker {
      stroke: red;
    }
  }

  circle.bullet {
    fill: red;
    stroke: none;
  }
}
