/**
 * Copyright 2022 DXOS.org
 */

/* TODO(burdon): Remove custom CSS. */

html, body, #root {
  height: 100%;
}

body {
  overflow: hidden;
  overscroll-behavior: none;
  @apply font-body font-normal text-base;
}

/*
 * TODO(burdon): Custom RBC style.
 * TODO(burdon): Tailwind colors.
 * https://jquense.github.io/react-big-calendar/examples/index.html?path=/docs/guides-custom-styling--page
 */
.rbc-calendar, .rbc-month-view, .rbc-header {
  @apply font-body font-normal !important;
}
.rbc-event {
  /*border: 1px solid #333 !important;*/
  border: none !important;
  border-radius: 0 !important;
  color: #333 !important;
  padding: 2px 6px 2px 6px !important;
  @apply bg-slate-200 !important;
}
.rbc-off-range-bg {
  @apply bg-slate-200 !important;
}
.rbc-today {
  @apply bg-gray-100 !important;
}
.rbc-event-content > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: small;
}
.rbc-event-label {
  display: none !important;
}
.rbc-agenda-table {
  border: none !important;
}
.rbc-agenda-time-cell {
  padding: 5px 0 5px 0 !important;
}
.rbc-agenda-table td {
  border: none !important;
}
