/**
 * Copyright 2022 DXOS.org
 */

.logo {
  transform: rotate(300deg);
  transition: transform 750ms ease-in-out;
}
.logo:hover {
  transform: rotate(-300deg);
}

/** TODO(burdon): Patch containing div of Composer. */
.editor-container > div {
  display: flex;
  flex: 1;
}

/** TODO(burdon): Currently bleeds outside of content to fade. */
.fade:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 62px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), white);
}
