/**
 * Copyright 2022 DXOS.org
 */

/* TODO(burdon): Remove custom CSS. */

html, body, #root {
  height: 100%;
}

body {
  overflow: hidden;
  overscroll-behavior: none;
  @apply font-body font-normal text-base;
}

/**
 * Composer
 */
.kai-composer {}
.kai-composer p {
  @apply text-gray-600;
}
.kai-composer h1, h2, h3 {
  @apply text-black;
}
.kai-composer h1 {
  @apply text-2xl;
}
.kai-composer h2 {
  @apply text-xl;
}
.kai-composer h2 {
  @apply text-lg;
}
.kai-composer ul {
  @apply ml-8 list-square;
}
.kai-composer ul li p {
  @apply ml-1;
}
.kai-composer ol {
  @apply ml-8 list-decimal;
}
.kai-composer ol li p {
  @apply ml-1;
}

/**
 * TODO(burdon): Custom RBC style.
 * TODO(burdon): Tailwind colors.
 * https://jquense.github.io/react-big-calendar/examples/index.html?path=/docs/guides-custom-styling--page
 */
.rbc-calendar, .rbc-month-view, .rbc-header {
  @apply font-body font-normal !important;
}
.rbc-event {
  /*border: 1px solid #333 !important;*/
  border: none !important;
  border-radius: 0 !important;
  color: #333 !important;
  padding: 2px 6px 2px 6px !important;
  @apply bg-slate-200 !important;
}
.rbc-off-range-bg {
  @apply bg-slate-200 !important;
}
.rbc-today {
  @apply bg-gray-100 !important;
}
.rbc-event-content > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: small;
}
.rbc-event-label {
  display: none !important;
}
.rbc-agenda-table {
  border: none !important;
}
.rbc-agenda-date-cell {
  @apply text-sm pl-0 pt-2 !important;
}
.rbc-agenda-time-cell {
  @apply text-sm pt-2 !important;
  padding: 5px 0 5px 0 !important;
}
.rbc-agenda-event-cell {
}
.rbc-agenda-table td {
  border: none !important;
}
