/**
 * Copyright 2022 DXOS.org
 */

/* TODO(burdon): Remove custom CSS. */

.logo {
  transform: rotate(300deg);
  transition: transform 750ms ease-in-out;
}
.logo:hover {
  transform: rotate(-300deg);
}

/** TODO(burdon): Currently bleeds outside of content to fade. */
.fade:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 62px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), white);
  /* pointer-events: none; */
}
.fade:after:hover {
  opacity: 0;
}

/*
 * TODO(burdon): Custom RBC style
 * https://jquense.github.io/react-big-calendar/examples/index.html?path=/docs/guides-custom-styling--page
 */
.rbc-calendar, .rbc-month-view, .rbc-header {
  font-family: sans-serif !important;
  font-weight: lighter !important;
}
.rbc-event {
  border: 1px solid #333 !important;
  border-radius: 0 !important;
  color: #333 !important;
  background-color: #eee !important;
  padding: 2px 6px 2px 6px !important;
}
.rbc-event-content > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: small;
}
.rbc-event-label {
  display: none !important;
}
.rbc-agenda-table {
  border: none !important;
}
.rbc-agenda-time-cell {
  padding: 5px 0 5px 0 !important;
}
.rbc-agenda-table td {
  border: none !important;
}
