@import '@fontsource/roboto-flex/variable-full.css';
@import '@fontsource/fira-code/variable.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rounded-btn: 0.33rem;
  --rounded-box: 0.66rem;
}

.input-bordered, .toggle, .checkbox, .radio {
  --tw-border-opacity: .88;
}

.btn {
  text-transform: inherit;
  font-variation-settings: "wdth" 112, "wght" 800, "YTLC" 560;
  letter-spacing: .06em;
}
