version: 1

runtime:
  client:
    storage:
      persistent: true
      dataRoot: /tmp/dx/run

  services:
    ipfs:
      server: https://kube.dxos.org/ipfs/api
      gateway: https://kube.dxos.org/ipfs/gateway
    signaling:
      - server: wss://kube.dxos.org/.well-known/dx/signal
      - server: wss://dx.dev.kube.dxos.org/.well-known/dx/signal
    ice:
      - urls: stun:kube.dxos.org:3478
      - urls: turn:kube.dxos.org:3478
        username: dxos
        credential: dxos
    publisher:
      server: wss://kube.dxos.org/.well-known/dx/deploy
    supervisor:
      server: wss://kube.dxos.org/.well-known/dx/supervisor
    tunneling:
      server: wss://kube.dxos.org/.well-known/dx/tunnel
    machine:
      doAccessToken:
