/**
 * Graph styles.
 * TODO(burdon): Light/dark theme.
 */
svg g.graph, svg.graph {
  marker {
    &.arrow path {
      fill: none;
      stroke: #555;
      stroke-width: 1px;
    }

    &.dot circle {
      fill: none;
      stroke: red;
      stroke-width: 2px;
    }
  }

  g.guides {
    circle {
      fill: #333;
      stroke: black;
      stroke-width: 2px;
      stroke-dasharray: 10, 2;
      opacity: 0.2;
    }
  }

  g.nodes {
    g.node {
      circle {
        fill: #777;
      }
      rect {
        visibility: hidden;
        /* stroke-width: 0.5px;
        stroke: #555; */
      }
      text {
        visibility: hidden;
        /* fill: #555;
        cursor: pointer; */
      }      
    }

    g.node:hover {
      circle {
        fill: #AAA;
      }
      rect {
        visibility: visible;
        stroke: #999;
      }
      text {
        visibility: visible;
        fill: #AAA;
      }      
    }
  }

  g.edges {
    g.edge {
      path {
        stroke: #555;
        stroke-width: 1px;
      }
    }
  }

  .linker {
    path {
      stroke: orange;
      stroke-dasharray: 10, 5;
    }

    path::marker {
      stroke: red;
    }
  }

  circle.bullet {
    fill: red;
    stroke: none;
  }
}
