/* TODO(burdon): Move into theme? */
@reference "../../ui-theme/src/theme.css";

/**
 * Graph styles.
 */

/* TODO(burdon): Implement light/dark theme or use semantic tokens. light-dark. */

svg {
  marker {
    &.dx-arrow path {
      @apply fill-none;
    }

    &.dx-dot circle {
      @apply fill-none;
    }
  }

  g.dx-grid {
    path.dx-axis {
      @apply stroke-neutral-300;

      .dark & {
        @apply stroke-neutral-800;
      }
    }
    path.dx-major {
      @apply stroke-neutral-200;

      .dark & {
        @apply stroke-neutral-900;
      }
    }
    path.dx-minor {
      @apply stroke-neutral-200;

      .dark & {
        @apply stroke-neutral-950;
      }
    }
  }

  g.dx-graph {
    g.dx-guides {
      circle {
        @apply fill-neutral-400 stroke-neutral-600 opacity-10;

        .dark & {
          @apply fill-neutral-800 stroke-neutral-950;
        }
      }
    }

    g.dx-subgraphs {
      path.dx-subgraph {
        @apply stroke-red-500 fill-neutral-200 [stroke-dasharray:4_4];

        .dark & {
          @apply fill-neutral-950;
        }
      }
    }

    g.dx-nodes {
      g.dx-node {
        circle {
          @apply fill-neutral-300 stroke-neutral-800;

          .dark & {
            @apply fill-neutral-600 stroke-none;
          }
        }
        &.dx-selected {
          circle {
            @apply !fill-red-500 stroke-2 stroke-neutral-950;

            .dark & {
              @apply stroke-neutral-300;
            }
          }
        }

        g.dx-label {
          @apply hidden;
        }
      }

      g[data-color="orange" ].dx-node { circle { @apply fill-orange-300; .dark & { @apply fill-orange-500; } } }
      g[data-color="amber"  ].dx-node { circle { @apply fill-amber-300; .dark & { @apply fill-amber-500; } } }
      g[data-color="yellow" ].dx-node { circle { @apply fill-yellow-300; .dark & { @apply fill-yellow-500; } } }
      g[data-color="lime"   ].dx-node { circle { @apply fill-lime-300; .dark & { @apply fill-lime-500; } } }
      g[data-color="green"  ].dx-node { circle { @apply fill-green-300; .dark & { @apply fill-green-500; } } }
      g[data-color="emerald"].dx-node { circle { @apply fill-emerald-300; .dark & { @apply fill-emerald-500; } } }
      g[data-color="teal"   ].dx-node { circle { @apply fill-teal-300; .dark & { @apply fill-teal-500; } } }
      g[data-color="cyan"   ].dx-node { circle { @apply fill-cyan-300; .dark & { @apply fill-cyan-500; } } }
      g[data-color="sky"    ].dx-node { circle { @apply fill-sky-300; .dark & { @apply fill-sky-500; } } }
      g[data-color="indigo" ].dx-node { circle { @apply fill-indigo-300; .dark & { @apply fill-indigo-500; } } }
      g[data-color="violet" ].dx-node { circle { @apply fill-violet-300; .dark & { @apply fill-violet-500; } } }
      g[data-color="purple" ].dx-node { circle { @apply fill-purple-300; .dark & { @apply fill-purple-500; } } }
      g[data-color="fuchsia"].dx-node { circle { @apply fill-fuchsia-300; .dark & { @apply fill-fuchsia-500; } } }
      g[data-color="rose"   ].dx-node { circle { @apply fill-rose-300; .dark & { @apply fill-rose-500; } } }
      g[data-color="pink"   ].dx-node { circle { @apply fill-pink-300; .dark & { @apply fill-pink-500; } } }

      g.dx-dragging,
      g.dx-highlight {
        circle {
          @apply stroke-2 stroke-neutral-900 cursor-pointer;

          .dark & {
            @apply stroke-neutral-200;
          }
        }

        g.dx-label {
          @apply block;

          line {
            @apply stroke-2 stroke-neutral-500;
          }
          rect {
            @apply stroke-1 stroke-neutral-500 fill-inverse-surface;
          }
          text {
            @apply fill-inverse-text;
          }
        }
      }
    }

    g.dx-edges {
      g.dx-edge {
        path {
          /** NOTE: Set text- so that current color is picked up by marker. */
          @apply stroke-1 stroke-neutral-700;

          .dark & {
            @apply stroke-neutral-700;
          }
        }

        &.dx-dashed {
          path {
            @apply [stroke-dasharray:4_4];
          }
        }
      }

      g[data-color="orange" ].dx-edge { path { @apply stroke-orange-300; .dark & { @apply stroke-orange-500; } } }
      g[data-color="amber"  ].dx-edge { path { @apply stroke-amber-300; .dark & { @apply stroke-amber-500; } } }
      g[data-color="yellow" ].dx-edge { path { @apply stroke-yellow-300; .dark & { @apply stroke-yellow-500; } } }
      g[data-color="lime"   ].dx-edge { path { @apply stroke-lime-300; .dark & { @apply stroke-lime-500; } } }
      g[data-color="green"  ].dx-edge { path { @apply stroke-green-300; .dark & { @apply stroke-green-500; } } }
      g[data-color="emerald"].dx-edge { path { @apply stroke-emerald-300; .dark & { @apply stroke-emerald-500; } } }
      g[data-color="teal"   ].dx-edge { path { @apply stroke-teal-300; .dark & { @apply stroke-teal-500; } } }
      g[data-color="cyan"   ].dx-edge { path { @apply stroke-cyan-300; .dark & { @apply stroke-cyan-500; } } }
      g[data-color="sky"    ].dx-edge { path { @apply stroke-sky-300; .dark & { @apply stroke-sky-500; } } }
      g[data-color="indigo" ].dx-edge { path { @apply stroke-indigo-300; .dark & { @apply stroke-indigo-500; } } }
      g[data-color="violet" ].dx-edge { path { @apply stroke-violet-300; .dark & { @apply stroke-violet-500; } } }
      g[data-color="purple" ].dx-edge { path { @apply stroke-purple-300; .dark & { @apply stroke-purple-500; } } }
      g[data-color="fuchsia"].dx-edge { path { @apply stroke-fuchsia-300; .dark & { @apply stroke-fuchsia-500; } } }
      g[data-color="rose"   ].dx-edge { path { @apply stroke-rose-300; .dark & { @apply stroke-rose-500; } } }
      g[data-color="pink"   ].dx-edge { path { @apply stroke-pink-300; .dark & { @apply stroke-pink-500; } } }
    }

    .dx-linker {
      path {
        @apply stroke-orange-500 [stroke-dasharray:4_4];
      }

      path::marker {
        @apply stroke-red-500;
      }
    }

    circle.dx-bullet {
      @apply fill-red-500 stroke-none;
    }
  }
}
