/**
 * Graph styles.
 */

/* TODO(burdon): Implement light/dark theme or use semantic tokens. */
svg.graph {
  marker {
    &.arrow path {
      @apply stroke-neutral-600 fill-none stroke-1;
    }

    &.dot circle {
      fill: none;
      stroke: red;
      stroke-width: 2px;
    }
  }

  g.guides {
    circle {
      @apply fill-neutral-700 stroke-neutral-900 stroke-2 opacity-20; 
    }
  }

  g.nodes {
    g.node {
      circle {
        @apply fill-neutral-500;
      }
      rect {
        @apply invisible;
      }
      text {
        @apply invisible;
      }      
    }

    g.node:hover {
      circle {
        @apply fill-red-500;
      }
      rect {
        @apply visible stroke-neutral-700;
      }
      text {
        @apply visible fill-neutral-500;
      }      
    }
  }

  g.edges {
    g.edge {
      path {
        @apply stroke-neutral-600 stroke-1;
      }
    }
  }

  .linker {
    path {
      stroke: orange;
      stroke-dasharray: 10, 5;
    }

    path::marker {
      stroke: red;
    }
  }

  circle.bullet {
    fill: red;
    stroke: none;
  }
}
