# registry=http://localhost:4873/
strict-peer-dependencies=true
auto-install-peers=false
# https://github.com/storybookjs/storybook/issues/13428
# https://github.com/storybookjs/builder-vite/issues/55
public-hoist-pattern[]=*storybook*
# Fix for build errors on Cloudflare deployments.
public-hoist-pattern[]=@rolldown/binding-*
# Disable pnpm Node.js auto-install. Node version is managed by proto.
manage-package-manager-versions=false
use-node-version=false
