{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "quoteProps": "consistent",
  "plugins": ["prettier-plugin-packagejson"],
  "overrides": [
    {
      "files": "*.tpl",
      "options": { "parser": "none" }
    }
  ]
}
