{
  "jsxSingleQuote": true,
  "plugins": ["prettier-plugin-packagejson"],
  "printWidth": 120,
  "quoteProps": "as-needed",
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.tpl",
      "options": { "parser": "none" }
    }
  ]
}
