formatter:
  column: 100

# processor: debug

filter:
  - warn
  - info
  # - debug
  # - swarm.ts:debug
  - swarm:debug
  - peer:debug
  - connection:debug
  - test:debug
  # - feed-wrapper:debug
  # - service-host:debug
  # - client:debug
  # - replicator:debug
  # - teleport:debug
  # - member:debug
  # - deprecated/space:debug
  # - space-proxy:debug
  # - stress:debug
