formatter:
  column: 60

# processor: debug

filter:
  - warn
  - info
  # - debug
  # - sync:debug
  # - data-space.ts:debug
  # - space-proxy.ts:debug
  - database-proxy:debug
  # - test.ts:debug
  # - database:debug
  # - notarization:debug
  # - feed-store:debug
  # - control-pipeline:debug
  # - state-manager:debug
  # - feed-store:debug
  # - client-services:debug
  # - space.ts:debug
  # - space.ts:debug
  # - debug
  # - space-invitations-handler.ts:debug
  # - entity:debug
  # - database:debug
  # - service-host:debug
  # - service:debug
  # - data:debug
  # - identity:debug
  # - sync:debug
  # - auth:debug
  # - control-pipeline:debug
  # - notarization:debug
  # - pipeline:debug
  # - iterator:debug
  # - test:debug
  # - debug
  # - swarm.ts:debug
  # - swarm:debug
  # - peer:debug
  # - connection:debug
  # - test:debug
  # - space:debug
  # - client-services:debug
  # - framer:debug
  # - feed-wrapper:debug
  # - service-host:debug
  # - client:debug
  # - replicator:debug
  # - teleport:debug
  # - member:debug
  # - deprecated/space:debug
  # - space-proxy:debug
  # - stress:debug
