formatter:
  column: 100

# processor: debug

filter:
  - warn
  - info
  # - debug
  - space-invitations-handler.ts:debug
  # - entity:debug
  # - database:debug
  # - service-host:debug
  # - service:debug
  # - data:debug
  # - identity:debug
  # - sync:debug
  - auth:debug
  - notarization:debug
  - pipeline:debug
  # - test:debug
  # - debug
  # - swarm.ts:debug
  # - swarm:debug
  # - peer:debug
  # - connection:debug
  # - test:debug
  # - space:debug
  # - client-services:debug
  # - framer:debug
  # - feed-wrapper:debug
  # - service-host:debug
  # - client:debug
  # - replicator:debug
  # - teleport:debug
  # - member:debug
  # - deprecated/space:debug
  # - space-proxy:debug
  # - stress:debug
