name = "labs-workers"
main = "src/index.ts"
compatibility_date = "2024-04-19"
account_id = "950816f3f59b079880a1ae33fb0ec320"

[[d1_databases]]
binding = "DB"
database_name = "dev-users"
database_id = "98e5b6a0-53f4-468b-b483-6c66a8cf9f15"

[ai]
binding = "AI"
