/**
 * Tokens
 */

@theme {
  /* Surfaces */
  /* TODO(burdon): Audit surfaces. */

  --color-base-surface: light-dark(theme(colors.neutral.50), theme(colors.neutral.950));
  --color-base-text: light-dark(theme(colors.neutral.950), theme(colors.neutral.50));

  --color-inverse-surface: light-dark(theme(colors.neutral.900), theme(colors.neutral.100));
  --color-inverse-text: light-dark(theme(colors.neutral.50), theme(colors.neutral.950));

  --color-deck-surface: light-dark(theme(colors.neutral.50), theme(colors.neutral.950));
  --color-active-surface: light-dark(theme(colors.neutral.100), theme(colors.neutral.900));
  --color-modal-surface: light-dark(theme(colors.neutral.50), theme(colors.neutral.950));
  --color-scrim-surface: light-dark(theme(colors.neutral.50 / 0.5), theme(colors.neutral.950 / 0.5));
  --color-group-surface: light-dark(theme(colors.neutral.50), theme(colors.neutral.950));

  --color-card-surface: light-dark(theme(colors.neutral.100), theme(colors.neutral.900));
  --color-sidebar-surface: light-dark(theme(colors.neutral.100), theme(colors.neutral.900));
  --color-toolbar-surface: light-dark(theme(colors.neutral.100), theme(colors.neutral.900));
  --color-header-surface: light-dark(theme(colors.neutral.100), theme(colors.neutral.900));

  --color-hover-surface: light-dark(theme(colors.neutral.200), theme(colors.neutral.800));
  --color-input-surface: light-dark(theme(colors.neutral.100), theme(colors.neutral.900));
  --color-text-input-surface: light-dark(theme(colors.neutral.50), theme(colors.neutral.900));

  --color-attention: light-dark(theme(colors.neutral.50), theme(colors.neutral.950));
  --color-focus-surface: light-dark(theme(colors.neutral.50), theme(colors.neutral.950));
  --color-neutral-focus-indicator: light-dark(theme(colors.neutral.400), theme(colors.neutral.600));

  /* Accent */

  --color-accent-surface: light-dark(theme(colors.blue.500), theme(colors.blue.700));
  --color-accent-surface-hover: light-dark(theme(colors.blue.600), theme(colors.blue.500));
  --color-accent-surface-text: theme(colors.white);
  --color-accent-text: light-dark(theme(colors.blue.600), theme(colors.blue.400));
  --color-accent-text-hover: light-dark(theme(colors.blue.500), theme(colors.blue.400));
  --color-accent-focus-indicator: light-dark(theme(colors.blue.300), theme(colors.blue.500));

  --color-un-accent: theme(colors.neutral.400);
  --color-un-accent-hover: theme(colors.neutral.500);

  /* Separator */

  --color-separator: light-dark(theme(colors.neutral.200), theme(colors.neutral.800));
  --color-primary-separator: light-dark(theme(colors.neutral.200), theme(colors.neutral.800));
  --color-subdued-separator: light-dark(theme(colors.neutral.100), theme(colors.neutral.900));

  /* Scrollbar */

  --color-scrollbar-track: light-dark(var(--color-neutral-50), var(--color-neutral-950));
  --color-scrollbar-thumb: light-dark(theme(colors.neutral.200), theme(colors.neutral.700));
  --color-scrollbar-thumb-active: light-dark(theme(colors.neutral.200), theme(colors.neutral.600));
  --color-scrollbar-thumb-hover: light-dark(theme(colors.neutral.200), theme(colors.neutral.600));

  /* Sheet */

  --color-axis-selected-surface: light-dark(theme(colors.neutral.100), theme(colors.neutral.900));
  --color-axis-selected-text: light-dark(theme(colors.neutral.100), theme(colors.neutral.900));
  --color-axis-surface: light-dark(theme(colors.neutral.50), theme(colors.neutral.800));
  --color-axis-text: light-dark(theme(colors.neutral.800), theme(colors.neutral.200));

  /* Grid */

  --color-grid-selection-overlay: oklch(from var(--color-blue-500) l c h / 0.2);
  --color-grid-highlight: oklch(from var(--color-emerald-500) l c h / 0.5);
  --color-grid-commented: light-dark(var(--color-green-200), var(--color-green-600));
  --color-grid-commented-active: light-dark(theme(colors.green.200 / 0.5), theme(colors.green.600 / 0.5));
  --color-grid-hover-overlay: oklch(from var(--color-neutral-500) l c h / 0.1);
  --color-grid-line: light-dark(theme(colors.neutral.100), theme(colors.neutral.800));

  /* Cursors */

  --color-success-cursor: light-dark(var(--color-emerald-400), var(--color-emerald-300));
  --color-info-cursor: light-dark(var(--color-cyan-400), var(--color-cyan-300));
  --color-warning-cursor: light-dark(var(--color-amber-400), var(--color-amber-300));
  --color-error-cursor: light-dark(var(--color-rose-400), var(--color-rose-300));

  /* Text */

  --color-description: light-dark(var(--color-neutral-600), var(--color-neutral-400));
  --color-subdued: light-dark(var(--color-neutral-800), var(--color-neutral-200));
  --color-placeholder: light-dark(var(--color-neutral-600), var(--color-neutral-400))
}

/* TODO(burdon): Layer names. */
@layer dx-tokens {

  /* TODO(burdon): Are these used? See surfaces.css */
  .sidebar-surface, .dark .sidebar-surface, .bg-group-surface, .dark .bg-group-surface, .bg-sidebar-surface, .dark .bg-sidebar-surface, .bg-header-surface, .dark .bg-header-surface, .bg-toolbar-surface, .dark .bg-toolbar-surface, .bg-card-surface, .dark .bg-card-surface {
    --color-text-input-surface: light-dark(var(--color-neutral-50), var(--color-neutral-800));
    --color-input-surface: light-dark(var(--color-neutral-100), var(--color-neutral-800));
    --color-hover-surface: light-dark(var(--color-neutral-100), var(--color-neutral-700));
    --color-separator: light-dark(var(--color-neutral-200), var(--color-neutral-700));
  }

  /* TODO(burdon): Are these used? See surfaces.css */
  .modal-surface, .dark .modal-surface, .bg-modal-surface, .dark .bg-modal-surface, .bg-current-related, .dark .bg-current-related {
    --color-text-input-surface: light-dark(var(--color-neutral-50), var(--color-neutral-800));
    --color-input-surface: light-dark(var(--color-neutral-100), var(--color-neutral-800));
    --color-hover-surface: light-dark(var(--color-neutral-100), var(--color-neutral-700));
    --color-separator: light-dark(var(--color-neutral-200), var(--color-neutral-700));
  }
}
