/**
 * Theme extensions.
 */

@import './animation.css';
@import './border.css';
@import './codemirror.css';
@import './palette.css';
@import './colors.css';
@import './spacing.css';
@import './text.css';
