/**
 * Color theme tokens.
 * https://tailwindcss.com/docs/colors
 * 
 * NOTE: The following are equivalent:
 *   text-red-500
 *   text-(--color-red-500)
 *   text-[var(--color-red-500)]
 */

@theme {
  --color-primary-50:  var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary-950: var(--color-blue-950);

  --color-neutral-75: color-mix(in oklch, var(--color-neutral-50) 50%, var(--color-neutral-100) 50%);
  --color-neutral-250: color-mix(in oklch, var(--color-neutral-200) 50%, var(--color-neutral-300) 50%);
  --color-neutral-750: color-mix(in oklch, var(--color-neutral-700) 50%, var(--color-neutral-800) 50%);
  --color-neutral-925: color-mix(in oklch, var(--color-neutral-900) 50%, var(--color-neutral-950) 50%);

  --color-neutral-fill: theme(colors.neutral.500);
  --color-neutral-surface: light-dark(theme(colors.neutral.200), theme(colors.neutral.800));
  --color-neutral-surface-text: light-dark(theme(colors.neutral.800), theme(colors.neutral.200));
  --color-neutral-text: light-dark(theme(colors.neutral.600), theme(colors.neutral.400));

  --color-red-fill: theme(colors.red.500);
  --color-red-surface: light-dark(theme(colors.red.200), theme(colors.red.800));
  --color-red-surface-text: light-dark(theme(colors.red.800), theme(colors.red.200));
  --color-red-text: light-dark(theme(colors.red.600), theme(colors.red.400));

  --color-orange-fill: theme(colors.orange.500);
  --color-orange-surface: light-dark(theme(colors.orange.200), theme(colors.orange.800));
  --color-orange-surface-text: light-dark(theme(colors.orange.800), theme(colors.orange.200));
  --color-orange-text: light-dark(theme(colors.orange.600), theme(colors.orange.400));

  --color-amber-fill: theme(colors.amber.500);
  --color-amber-surface: light-dark(theme(colors.amber.200), theme(colors.amber.800));
  --color-amber-surface-text: light-dark(theme(colors.amber.800), theme(colors.amber.200));
  --color-amber-text: light-dark(theme(colors.amber.600), theme(colors.amber.400));

  --color-yellow-fill: theme(colors.yellow.500);
  --color-yellow-surface: light-dark(theme(colors.yellow.200), theme(colors.yellow.800));
  --color-yellow-surface-text: light-dark(theme(colors.yellow.800), theme(colors.yellow.200));
  --color-yellow-text: light-dark(theme(colors.yellow.600), theme(colors.yellow.400));

  --color-lime-fill: theme(colors.lime.500);
  --color-lime-surface: light-dark(theme(colors.lime.200), theme(colors.lime.800));
  --color-lime-surface-text: light-dark(theme(colors.lime.800), theme(colors.lime.200));
  --color-lime-text: light-dark(theme(colors.lime.600), theme(colors.lime.400));

  --color-green-fill: theme(colors.green.500);
  --color-green-surface: light-dark(theme(colors.green.200), theme(colors.green.800));
  --color-green-surface-text: light-dark(theme(colors.green.800), theme(colors.green.200));
  --color-green-text: light-dark(theme(colors.green.600), theme(colors.green.400));

  --color-emerald-fill: theme(colors.emerald.500);
  --color-emerald-surface: light-dark(theme(colors.emerald.200), theme(colors.emerald.800));
  --color-emerald-surface-text: light-dark(theme(colors.emerald.800), theme(colors.emerald.200));
  --color-emerald-text: light-dark(theme(colors.emerald.600), theme(colors.emerald.400));

  --color-teal-fill: theme(colors.teal.500);
  --color-teal-surface: light-dark(theme(colors.teal.200), theme(colors.teal.800));
  --color-teal-surface-text: light-dark(theme(colors.teal.800), theme(colors.teal.200));
  --color-teal-text: light-dark(theme(colors.teal.600), theme(colors.teal.400));

  --color-cyan-fill: theme(colors.cyan.500);
  --color-cyan-surface: light-dark(theme(colors.cyan.200), theme(colors.cyan.800));
  --color-cyan-surface-text: light-dark(theme(colors.cyan.800), theme(colors.cyan.200));
  --color-cyan-text: light-dark(theme(colors.cyan.600), theme(colors.cyan.400));

  --color-sky-fill: theme(colors.sky.500);
  --color-sky-surface: light-dark(theme(colors.sky.200), theme(colors.sky.800));
  --color-sky-surface-text: light-dark(theme(colors.sky.800), theme(colors.sky.200));
  --color-sky-text: light-dark(theme(colors.sky.600), theme(colors.sky.400));

  --color-blue-fill: theme(colors.blue.500);
  --color-blue-surface: light-dark(theme(colors.blue.200), theme(colors.blue.800));
  --color-blue-surface-text: light-dark(theme(colors.blue.800), theme(colors.blue.200));
  --color-blue-text: light-dark(theme(colors.blue.600), theme(colors.blue.400));

  --color-indigo-fill: theme(colors.indigo.500);
  --color-indigo-surface: light-dark(theme(colors.indigo.200), theme(colors.indigo.800));
  --color-indigo-surface-text: light-dark(theme(colors.indigo.800), theme(colors.indigo.200));
  --color-indigo-text: light-dark(theme(colors.indigo.600), theme(colors.indigo.400));

  --color-violet-fill: theme(colors.violet.500);
  --color-violet-surface: light-dark(theme(colors.violet.200), theme(colors.violet.800));
  --color-violet-surface-text: light-dark(theme(colors.violet.800), theme(colors.violet.200));
  --color-violet-text: light-dark(theme(colors.violet.600), theme(colors.violet.400));

  --color-purple-fill: theme(colors.purple.500);
  --color-purple-surface: light-dark(theme(colors.purple.200), theme(colors.purple.800));
  --color-purple-surface-text: light-dark(theme(colors.purple.800), theme(colors.purple.200));
  --color-purple-text: light-dark(theme(colors.purple.600), theme(colors.purple.400));

  --color-fuchsia-fill: theme(colors.fuchsia.500);
  --color-fuchsia-surface: light-dark(theme(colors.fuchsia.200), theme(colors.fuchsia.800));
  --color-fuchsia-surface-text: light-dark(theme(colors.fuchsia.800), theme(colors.fuchsia.200));
  --color-fuchsia-text: light-dark(theme(colors.fuchsia.600), theme(colors.fuchsia.400));

  --color-pink-fill: theme(colors.pink.500);
  --color-pink-surface: light-dark(theme(colors.pink.200), theme(colors.pink.800));
  --color-pink-surface-text: light-dark(theme(colors.pink.800), theme(colors.pink.200));
  --color-pink-text: light-dark(theme(colors.pink.600), theme(colors.pink.400));

  --color-rose-fill: theme(colors.rose.500);
  --color-rose-surface: light-dark(theme(colors.rose.200), theme(colors.rose.800));
  --color-rose-surface-text: light-dark(theme(colors.rose.800), theme(colors.rose.200));
  --color-rose-text: light-dark(theme(colors.rose.600), theme(colors.rose.400));

  /*
   * System
   */

  --color-primary-fill: var(--color-cyan-fill);
  --color-primary-surface: var(--color-cyan-surface);
  --color-primary-surface-text: var(--color-cyan-surface-text);
  --color-primary: var(--color-cyan-text);

  --color-info-fill: var(--color-cyan-fill);
  --color-info-surface: var(--color-cyan-surface);
  --color-info-surface-text: var(--color-cyan-surface-text);
  --color-info: var(--color-cyan-text);

  --color-success-fill: var(--color-emerald-fill);
  --color-success-surface: var(--color-emerald-surface);
  --color-success-surface-text: var(--color-emerald-surface-text);
  --color-success: var(--color-emerald-text);

  --color-warning-fill: var(--color-amber-fill);
  --color-warning-surface: var(--color-amber-surface);
  --color-warning-surface-text: var(--color-amber-surface-text);
  --color-warning: var(--color-amber-text);

  --color-error-fill: var(--color-rose-fill);
  --color-error-surface: var(--color-rose-surface);
  --color-error-surface-text: var(--color-rose-surface-text);
  --color-error: var(--color-rose-text);
}
