/**
 * Color roles
 */

 @theme {
  /*
   * Semantic
   */

  --color-info-fill: var(--color-cyan-fill);
  --color-info-surface: var(--color-cyan-surface);
  --color-info-surface-text: var(--color-cyan-surface-text);
  --color-info-text: var(--color-cyan-text);
  --color-info-border: var(--color-cyan-border);

  --color-success-fill: var(--color-emerald-fill);
  --color-success-surface: var(--color-emerald-surface);
  --color-success-surface-text: var(--color-emerald-surface-text);
  --color-success-text: var(--color-emerald-text);
  --color-success-border: var(--color-emerald-border);

  --color-warning-fill: var(--color-amber-fill);
  --color-warning-surface: var(--color-amber-surface);
  --color-warning-surface-text: var(--color-amber-surface-text);
  --color-warning-text: var(--color-amber-text);
  --color-warning-border: var(--color-amber-border);

  --color-error-fill: var(--color-rose-fill);
  --color-error-surface: var(--color-rose-surface);
  --color-error-surface-text: var(--color-rose-surface-text);
  --color-error-text: var(--color-rose-text);
  --color-error-border: var(--color-rose-border);

  /**
   * Hue
   */

  --color-neutral-fill: var(--color-neutral-500);
  --color-neutral-surface: light-dark(var(--color-neutral-200), var(--color-neutral-800));
  --color-neutral-surface-text: light-dark(var(--color-neutral-800), var(--color-neutral-200));
  --color-neutral-text: light-dark(var(--color-neutral-600), var(--color-neutral-400));
  --color-neutral-border: light-dark(var(--color-neutral-400), var(--color-neutral-600));

  --color-red-fill: var(--color-red-500);
  --color-red-surface: light-dark(var(--color-red-200), var(--color-red-800));
  --color-red-surface-text: light-dark(var(--color-red-800), var(--color-red-200));
  --color-red-text: light-dark(var(--color-red-600), var(--color-red-400));
  --color-red-border: light-dark(var(--color-red-400), var(--color-red-600));

  --color-orange-fill: var(--color-orange-500);
  --color-orange-surface: light-dark(var(--color-orange-200), var(--color-orange-800));
  --color-orange-surface-text: light-dark(var(--color-orange-800), var(--color-orange-200));
  --color-orange-text: light-dark(var(--color-orange-600), var(--color-orange-400));
  --color-orange-border: light-dark(var(--color-orange-400), var(--color-orange-600));

  --color-amber-fill: var(--color-amber-500);
  --color-amber-surface: light-dark(var(--color-amber-200), var(--color-amber-800));
  --color-amber-surface-text: light-dark(var(--color-amber-800), var(--color-amber-200));
  --color-amber-text: light-dark(var(--color-amber-600), var(--color-amber-400));
  --color-amber-border: light-dark(var(--color-amber-400), var(--color-amber-600));

  --color-yellow-fill: var(--color-yellow-500);
  --color-yellow-surface: light-dark(var(--color-yellow-200), var(--color-yellow-800));
  --color-yellow-surface-text: light-dark(var(--color-yellow-800), var(--color-yellow-200));
  --color-yellow-text: light-dark(var(--color-yellow-600), var(--color-yellow-400));
  --color-yellow-border: light-dark(var(--color-yellow-400), var(--color-yellow-600));

  --color-lime-fill: var(--color-lime-500);
  --color-lime-surface: light-dark(var(--color-lime-200), var(--color-lime-800));
  --color-lime-surface-text: light-dark(var(--color-lime-800), var(--color-lime-200));
  --color-lime-text: light-dark(var(--color-lime-600), var(--color-lime-400));
  --color-lime-border: light-dark(var(--color-lime-400), var(--color-lime-600));

  --color-green-fill: var(--color-green-500);
  --color-green-surface: light-dark(var(--color-green-200), var(--color-green-800));
  --color-green-surface-text: light-dark(var(--color-green-800), var(--color-green-200));
  --color-green-text: light-dark(var(--color-green-600), var(--color-green-400));
  --color-green-border: light-dark(var(--color-green-400), var(--color-green-600));

  --color-emerald-fill: var(--color-emerald-500);
  --color-emerald-surface: light-dark(var(--color-emerald-200), var(--color-emerald-800));
  --color-emerald-surface-text: light-dark(var(--color-emerald-800), var(--color-emerald-200));
  --color-emerald-text: light-dark(var(--color-emerald-600), var(--color-emerald-400));
  --color-emerald-border: light-dark(var(--color-emerald-400), var(--color-emerald-600));

  --color-teal-fill: var(--color-teal-500);
  --color-teal-surface: light-dark(var(--color-teal-200), var(--color-teal-800));
  --color-teal-surface-text: light-dark(var(--color-teal-800), var(--color-teal-200));
  --color-teal-text: light-dark(var(--color-teal-600), var(--color-teal-400));
  --color-teal-border: light-dark(var(--color-teal-400), var(--color-teal-600));

  --color-cyan-fill: var(--color-cyan-500);
  --color-cyan-surface: light-dark(var(--color-cyan-200), var(--color-cyan-800));
  --color-cyan-surface-text: light-dark(var(--color-cyan-800), var(--color-cyan-200));
  --color-cyan-text: light-dark(var(--color-cyan-600), var(--color-cyan-400));
  --color-cyan-border: light-dark(var(--color-cyan-400), var(--color-cyan-600));

  --color-sky-fill: var(--color-sky-500);
  --color-sky-surface: light-dark(var(--color-sky-200), var(--color-sky-800));
  --color-sky-surface-text: light-dark(var(--color-sky-800), var(--color-sky-200));
  --color-sky-text: light-dark(var(--color-sky-600), var(--color-sky-400));
  --color-sky-border: light-dark(var(--color-sky-400), var(--color-sky-600));

  --color-blue-fill: var(--color-blue-500);
  --color-blue-surface: light-dark(var(--color-blue-200), var(--color-blue-800));
  --color-blue-surface-text: light-dark(var(--color-blue-800), var(--color-blue-200));
  --color-blue-text: light-dark(var(--color-blue-600), var(--color-blue-400));
  --color-blue-border: light-dark(var(--color-blue-400), var(--color-blue-600));

  --color-indigo-fill: var(--color-indigo-500);
  --color-indigo-surface: light-dark(var(--color-indigo-200), var(--color-indigo-800));
  --color-indigo-surface-text: light-dark(var(--color-indigo-800), var(--color-indigo-200));
  --color-indigo-text: light-dark(var(--color-indigo-600), var(--color-indigo-400));
  --color-indigo-border: light-dark(var(--color-indigo-400), var(--color-indigo-600));

  --color-violet-fill: var(--color-violet-500);
  --color-violet-surface: light-dark(var(--color-violet-200), var(--color-violet-800));
  --color-violet-surface-text: light-dark(var(--color-violet-800), var(--color-violet-200));
  --color-violet-text: light-dark(var(--color-violet-600), var(--color-violet-400));
  --color-violet-border: light-dark(var(--color-violet-400), var(--color-violet-600));

  --color-purple-fill: var(--color-purple-500);
  --color-purple-surface: light-dark(var(--color-purple-200), var(--color-purple-800));
  --color-purple-surface-text: light-dark(var(--color-purple-800), var(--color-purple-200));
  --color-purple-text: light-dark(var(--color-purple-600), var(--color-purple-400));
  --color-purple-border: light-dark(var(--color-purple-400), var(--color-purple-600));

  --color-fuchsia-fill: var(--color-fuchsia-500);
  --color-fuchsia-surface: light-dark(var(--color-fuchsia-200), var(--color-fuchsia-800));
  --color-fuchsia-surface-text: light-dark(var(--color-fuchsia-800), var(--color-fuchsia-200));
  --color-fuchsia-text: light-dark(var(--color-fuchsia-600), var(--color-fuchsia-400));
  --color-fuchsia-border: light-dark(var(--color-fuchsia-400), var(--color-fuchsia-600));

  --color-pink-fill: var(--color-pink-500);
  --color-pink-surface: light-dark(var(--color-pink-200), var(--color-pink-800));
  --color-pink-surface-text: light-dark(var(--color-pink-800), var(--color-pink-200));
  --color-pink-text: light-dark(var(--color-pink-600), var(--color-pink-400));
  --color-pink-border: light-dark(var(--color-pink-400), var(--color-pink-600));

  --color-rose-fill: var(--color-rose-500);
  --color-rose-surface: light-dark(var(--color-rose-200), var(--color-rose-800));
  --color-rose-surface-text: light-dark(var(--color-rose-800), var(--color-rose-200));
  --color-rose-text: light-dark(var(--color-rose-600), var(--color-rose-400));
  --color-rose-border: light-dark(var(--color-rose-400), var(--color-rose-600));
}
