/* TODO(wittjosiah): Tailwind plugin complains if css is nested. */

:root {
  --surface-bg: white;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.demo {
  z-index: 10;
  flex-grow: 1;
  height: 100vh;
  position: relative;
}

.demo > .client {
  border: 1px solid black;
  margin: 1em;
  width: 70%;
  height: 55%;
  position: absolute;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  padding-block-start: 1rem;
}

.demo > .client::before {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em 1.2em;
  color: gray;
  font-family: monospace;
  border-radius: 12px 0 0 0;
}

.demo > .client {
  overflow-y: auto;
}

.demo > .client-0 {
  top: 0;
  left: 0;
}

.demo > .client-0::before {
  content: 'Peer A';
}

.demo > .client-1 {
  bottom: 0;
  right: 0;
}

.demo > .client-1::before {
  content: 'Peer B';
}

.demo > .buttons {
  z-index: 20;
  position: absolute;
  left: 70%;
  bottom: 55%;
  margin: 2em;
}

.demo > .buttons > div {
  margin: 1em;
}

.demo > .buttons label {
  margin-left: 0.6em;
  display: flex;
  align-items: center;
  color: rgb(118, 118, 124);
}

.demo > .buttons label .active {
  color: rgb(0, 130, 169);
}
