type: library
language: typescript
tags:
  - ts-build
  - ts-test
  - pack
tasks:
  compile:
    args:
      - '--entryPoint=src/index.ts'
      - '--entryPoint=src/loaders/index.ts'
      - '--entryPoint=src/loaders/browser.ts'
      - '--entryPoint=src/savers/index.ts'
      - '--entryPoint=src/savers/browser.ts'
      - '--entryPoint=src/plugin/index.ts'
      - '--entryPoint=src/plugin/browser.ts'
    deps:
      - compile-plugin
  compile-plugin:
    command: dx-compile
    args:
      - '--entryPoint=src/plugin/esbuild-plugin.ts'
      - '--entryPoint=src/plugin/rollup-plugin.ts'
      - '--entryPoint=src/plugin/vite-plugin.ts'
      - '--outputPath=dist/plugin'
      - '--platform=node'
    deps:
      - ^:compile
      - dx-compile:compile
    inputs:
      - '@group(production)'
    outputs:
      - dist/plugin
