version: 2.1

orbs:
  nx: nrwl/nx@1.6.0

aliases:
  - &docker_image
    image: ghcr.io/dxos/circleci-node:latest
    auth:
      username: dxos-bot
      password: $GH_TOKEN
  - &cache_restore
    restore_cache:
      keys:
        - pnpm-store-v1-{{ arch }}-{{ checksum "pnpm-lock.yaml" }}
        - pnpm-store-v1-{{ arch }}-
  - &cache_save
    save_cache:
      paths:
        - ~/.local/share/pnpm/store/v3
      key: pnpm-store-v1-{{ arch }}-{{ checksum "pnpm-lock.yaml" }}

jobs:
  #
  # NOTE: This job is required to complete before ALL PRs can be merged to main.
  #
  check:
    docker:
      - *docker_image
    steps:
      - checkout
      - *cache_restore
      - run: pnpm install
      - run: pnpx playwright@1.25.1 install
      - *cache_save
      - nx/set-shas
      - run: pnpm nx affected --base=$NX_BASE --head=$NX_HEAD --target=build
      - run: pnpm nx affected --base=$NX_BASE --head=$NX_HEAD --target=test
      - run: pnpm nx affected --base=$NX_BASE --head=$NX_HEAD --target=lint
      - when:
          condition:
            equal: [ main, <<pipeline.git.branch>> ]
          steps:
            - run:
                command: pnpm nx run-many --target=prerelease
                no_output_timeout: 30m

  #
  # End-to-end integration tests.
  #
  e2e:
    docker:
      - *docker_image
    steps:
      - checkout
      - *cache_restore
      - run: pnpm install
      - run: pnpx playwright@1.25.1 install
      - *cache_save
      - nx/set-shas
      - run: pnpm nx affected --base=$NX_BASE --head=$NX_HEAD --target=e2e

  #
  # Create application bundles.
  #
  bundle:
    docker:
      - *docker_image
    steps:
      - run:
          command: pnpm nx affected --base=$NX_BASE --head=$NX_HEAD --target=bundle
          environment:
            # TODO(wittjosiah): Remove. Currently needed for building Vite wallet app.
            NODE_OPTIONS: --max_old_space_size=8198

  deploy:
    docker:
      - *docker_image
    steps:
      - checkout
      - *cache_restore
      - run: pnpm install
      - *cache_save
      - run:
          command: pnpm nx bundle halo-app
          environment:
            NODE_OPTIONS: --max_old_space_size=8198
      - run:
          name: Deploy HALO
          command: ./node_modules/.bin/netlify deploy --site $NETLIFY_SITE_ID --auth $NETLIFY_ACCESS_TOKEN --prod --dir apps/halo/out/halo
          environment:
            NETLIFY_SITE_ID: 8ba86553-e00c-4694-bab5-45f973a97011

  full_test:
    docker:
      - image: ghcr.io/dxos/circleci-node:latest
        auth:
          username: dxos-bot
          password: $GH_TOKEN
    steps:
      - checkout
      - *cache_restore
      - run: pnpm install
      - run: pnpx playwright@1.25.1 install
      - *cache_save
      - nx/set-shas
      - run: pnpm nx run-many --target=test --skip-nx-cache

workflows:
  main:
    jobs:
      - check:
          context:
            - Github
      - e2e:
          context:
            - Github
#      - bundle:
#          context:
#            - Github

  deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only:
                - production
          context:
            - Github
            - Netlify

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - full_test:
          context:
            - Github
