#
# CircleCI configuration
# https://circleci.com/docs/configuration-reference
#

version: 2.1

orbs:
  nx: nrwl/nx@1.6.1

parameters:
  mode:
    type: string
    default: default

  e2e:
    type: boolean
    default: false

aliases:
  - &docker_image
    image: ghcr.io/dxos/circleci-node:latest
    auth:
      username: dxos-bot
      password: $GH_TOKEN
  - &cache_restore
    restore_cache:
      keys:
        - pnpm-store-v1-{{ arch }}-{{ checksum "pnpm-lock.yaml" }}
        - pnpm-store-v1-{{ arch }}-
  - &cache_save
    save_cache:
      paths:
        - ~/.local/share/pnpm/store/v3
      key: pnpm-store-v1-{{ arch }}-{{ checksum "pnpm-lock.yaml" }}
  - &ram_cache_configure
    run: pnpm config set store-dir /mnt/ramdisk/pnpm-store
  - &ram_cache_restore
    restore_cache:
      keys:
        - pnpm-store-ram-v1-{{ arch }}-{{ checksum "pnpm-lock.yaml" }}
        - pnpm-store-ram-v1-{{ arch }}-
  - &ram_cache_save
    save_cache:
      paths:
        - /mnt/ramdisk/pnpm-store
      key: pnpm-store-ram-v1-{{ arch }}-{{ checksum "pnpm-lock.yaml" }}
  - &codecov_upload
    run:
      name: Upload to codecov.com
      command: ./.circleci/scripts/upload-codecov.sh
  - &store_test_results
    store_test_results:
      path: test-results
  - &send_test_report
    when:
      condition:
        equal: [ report, << pipeline.parameters.mode >> ]
      steps:
        - run:
            command: ./.circleci/scripts/send-test-report.sh $CIRCLE_JOB failure
            when: on_fail
        - run:
            command: ./.circleci/scripts/send-test-report.sh $CIRCLE_JOB success
            when: on_success
  # https://docs.datadoghq.com/continuous_integration/tests/junit_upload/
  - &install_datadog
    run:
      name: Install Datadog
      command: npm install -g @datadog/datadog-ci 

jobs:
  #
  # NOTE: This job is required to complete before ALL PRs can be merged to main.
  #
  check:
    docker:
      - *docker_image
    # https://circleci.com/docs/configuration-reference/#docker-execution-environment
    resource_class: xlarge
    environment:
      DX_ENVIRONMENT: circleci
    
    # Run the job on ramdisk for optimal performance.
    # https://support.circleci.com/hc/en-us/articles/360056323651-How-to-optimize-the-restore-cache-step-for-Node-projects
    working_directory: /mnt/ramdisk/work

    steps:
      - *ram_cache_configure
      - checkout
      - *ram_cache_restore
      - run: npm set verify-store-integrity false
      - run: pnpm install --prefer-offline
      - run: pnpm install-playwright
      - *ram_cache_save
      - nx/set-shas
      - run: pnpm check-dependencies
      - run: pnpm nx affected --base=$NX_BASE --head=$NX_HEAD --target=lint
      - run: pnpm nx affected --base=$NX_BASE --head=$NX_HEAD --target=build
      - run: pnpm nx affected --base=$NX_BASE --head=$NX_HEAD --target=test --coverage --xmlReport --environments=nodejs
      - when:
          condition:
            equal: [ main, <<pipeline.git.branch>> ]
          steps:
            - run: pnpm nx run-many --target=lint
            - run: pnpm nx run-many --target=build
            - run: pnpm nx run-many --target=test --skip-nx-cache --coverage --xmlReport --environments=nodejs
      - *send_test_report
      - *codecov_upload
      - *store_test_results

  #
  # End-to-end playwright UI testing.
  #
  e2e:
    docker:
      - *docker_image
    # TODO(wittjosiah): Using because of kai bundling memory usage.
    resource_class: xlarge
    steps:
      - checkout
      - *cache_restore
      - run: pnpm install
      - run: pnpm install-playwright
      - *cache_save
      - nx/set-shas
      # TODO(wittjosiah): Apps can't be bundled in parallel currently due to memory usage.
      - run:
          command: pnpm nx affected --base=$NX_BASE --head=$NX_HEAD --target=bundle --parallel=1
          environment:
            REMOTE_SOURCE: http://localhost:3967/vault.html
            # TODO(wittjosiah): Remove. Currently needed for building Vite apps.
            NODE_OPTIONS: --max_old_space_size=10240
      - run:
          command: pnpm nx affected --base=$NX_BASE --head=$NX_HEAD --target=e2e --parallel=1 --xmlReport
          environment:
            REMOTE_SOURCE: http://localhost:3967/vault.html
            # TODO(wittjosiah): Remove. Currently need because e2e seems to be re-running bundling.
            NODE_OPTIONS: --max_old_space_size=10240
      - run:
          command: pnpm nx affected --base=$NX_BASE --head=$NX_HEAD --target=chromatic
          when: always
      - *send_test_report
      - *codecov_upload
      - *store_test_results
      - store_artifacts:
          path: tmp/playwright


  #
  # Quarantine for flaky tests.
  #
  flaky:
    docker:
      - *docker_image
    steps:
      - checkout
      - *cache_restore
      - run: pnpm install
      - run: pnpm install-playwright
      - *cache_save
      - nx/set-shas
      - run: pnpm nx affected --base=$NX_BASE --head=$NX_HEAD --target=test --tags=unit,flaky --coverage --xmlReport
      - *codecov_upload
      - *store_test_results

  #
  # Publish applications.
  #
  publish:
    docker:
      - *docker_image
    # TODO(wittjosiah): Using because of kai bundling memory usage.
    resource_class: xlarge
    steps:
      - checkout
      - *cache_restore
      - run: pnpm install
      - *cache_save
      - run: pnpm nx build cli
      - run:
          command: ./.circleci/scripts/publish.sh
          environment:
            NODE_ENV: production
            NODE_OPTIONS: --max_old_space_size=10240
      - run:
          command: ./.circleci/scripts/publish-extension.sh
          environment:
            NODE_ENV: production

workflows:
  default:
    jobs:
      - check:
          context:
            - Github
      - e2e:
          # Only run e2e tests on pushes to main & release branches.
          filters:
            branches:
              only:
                - main
                - /^rc-.*/
                - /^hotfix-.*/
                - /^release-please-.*/
          context:
            - Github

  e2e:
    when: << pipeline.parameters.e2e >>
    jobs:
      - e2e:
          context:
            - Github

  deploy:
    jobs:
      - publish:
          filters:
            branches:
              only:
                - main
                - production
                - staging
          context:
            - Github

# VS Code Extension Version: 1.5.1
