/**
 * Override OverlayScrollbars theme variables.
 * This file should be imported after 'overlayscrollbars/styles/overlayscrollbars.css'
 * to ensure proper CSS cascade order.
 * 
 * https://www.npmjs.com/package/overlayscrollbars
 * https://github.com/KingSora/OverlayScrollbars/blob/master/packages/overlayscrollbars/src/styles/scrollbars.scss
 */
/** TODO(burdon): Tailwind. */
.os-theme-dark {
  --os-size: 6px;
  --os-padding-perpendicular: 0px;
  --os-padding-axis: 0px;
  --os-track-border-radius: 0px;
  --os-handle-interactive-area-offset: 0px;
  --os-handle-border-radius: 0px;
  --os-handle-bg: rgba(128, 128, 128, 0.4);
  --os-handle-bg-hover: rgba(128, 128, 128, 0.5);
  --os-handle-bg-active: rgba(128, 128, 128, 0.7);
}
