@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

$font-family-fancy: "DM Sans";
$font-family: "DM Sans";

$code-dark-theme: 'coldark-dark';

// $code-light-theme: 'duotone-light'
// $code-light-theme: 'ateliersulphurpool-light'
// $code-light-theme: 'coldark-cold'
// $code-light-theme: 'coy'
$code-light-theme: 'ghcolors'
// $code-light-theme: 'gruvbox-light'
// $code-light-theme: 'material-light'
// $code-light-theme: 'one-light'
// $code-light-theme: 'vs'