@use "sass:map";
@import './tailwind-colors.scss';
@import './palette.scss';

/**
 * Main content area.
 */
.page {
  transition: none !important;
}

#message-container .message {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

/**
 * Navbar (header)
 */
.navbar {
  .site-name {
    display: none;
  }

  .logo {
    height: 48px;
    opacity: 0.9;
  }

  nav {
    &.nav-links {
      margin-left: 2rem !important;
    }

    .nav-item > .nav-link:hover::after,
    .nav-item > .nav-link.active::after {
      bottom: -16px;
    }
  }
}

/**
 * Hero
 */
.home.project {
  .hero-info-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;

    .hero-info {
      #main-title {
        // Hide the title (cannot be blank since used in browser title).
        display: none;
      }

      .description {
        max-width: 25rem;
      }

      .actions {
        margin: 3rem 0;
      }
    }
  }

  .feature h2 {
    font-weight: 500;
  }

  .feature-item:hover {
    transform: none;
    box-shadow: none;
    background-color: transparent;

    &:before {
      display: none;
    }
  }
}

html[data-theme=dark] .home.project .hero-info-wrapper {
  img.dark {
    opacity: 0.9 !important;
  }
  h1 {
    color: white;
  }
}

html[data-theme=light] .home.project .hero-info-wrapper {
  img.light {
    opacity: 0.9 !important;
  }
  h1 {
    color: black;
  }
}

.custom-container {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  ul {
    li {
      margin-bottom: 0.62em;
    }
  }

  .custom-container-title {
    font-weight: 500;
  }
}

html[data-theme=dark] {
  .custom-container.note,
  .hint-container.note {
    background-color: darken($zinc-800, 3%);
  }
}

/**
 * Misc.
 */

// Rich text formatting.
h2,h3,h4,h5,h6 {
  >a:first-child {
    margin-left: -1.1em;
  }
}

html[data-theme=light] {
  th, td {
    border-color: $zinc-200;
  }
}

html[data-theme=dark] {
  tr:nth-child(2n) {
    background-color: transparent;
  }
  th, td {
    border-color: $zinc-700;
  }
}

.theme-hope-content figure img {
  border-radius: 0;
  &[tabindex]:hover {
    box-shadow: none;
  }
}

/**
 * Code
 */

code {
  background-color: $zinc-200;
}

div[class^="language-"] {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

html[data-theme=dark] div[class^="language-"] {
  background-color: $zinc-900;
}

div[class^="language-error"] code {
  color: $red-600;
  html[data-theme=dark] & {
    color: $red-400;
  }
}

// Code highlight v height adjustment for font
div[class*=language-] .highlight-lines {
  line-height: 1.376;
}

html[data-theme=light] {
  div[class*=language-] > button.copy-code-button:not(.pure) {
    background-color: $zinc-300;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.075);
    &:hover {
      background-color: $theme-color; // map.get($theme-color, 'light');
    }
  }
}

html[data-theme=dark] {
  div[class*=language-] > button.copy-code-button:not(.pure) {
    background-color: $zinc-700;
    .copy-icon {
      color: $zinc-400;
    }
    box-shadow: 0px 3px 5px rgba(0,0,0,0.075);
    &:hover {
      background-color: $theme-color; // map.get($theme-color, 'dark');
      .copy-icon {
        color: $zinc-800;
      }
    }
  }
}

video.dark {
  display: none;
}

html[data-theme=dark] {
  video.dark {
    display: block;
  }
  video.light {
    display: none;
  }
}

.peer-a {
  color: $orange-500;
}

.peer-b {
  color: $violet-500;
}
