@import './tailwind-colors.scss';

$theme-color: (
  light: $green-600,
  dark: $green-500 
);

$bg-color: (
  light: $zinc-100,
  dark: $zinc-800,
);

$border-color: (
  light: $zinc-300,
  dark: $zinc-700
)

