$theme-color: (
  light: #ea580c,
  dark: #fb9b5f,
);
$zinc-50: #fafafa;
$zinc-100: #f4f4f5;
$slate-100: #e7e5e4;
$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$stone-50: #fafaf9;
$stone-100: #f5f5f4;
$stone-200: #e7e5e4;

$bg-color: (
  light: $zinc-100,
  dark: #1d2025,
);