@import './tailwind-colors.scss';

$transform-transition: "0s linear";

$theme-color: $emerald-500;
// $theme-color: (
//   // light: #6cab52 ,
//   // dark: #91d076 
//   light: $emerald-600,
//   dark: $emerald-500
// );

$bg-color: (
  light: $zinc-100,
  dark: $zinc-800,
);

$border-color: (
  light: $zinc-300,
  dark: $zinc-700
);

$bg-color-tertiary: $slate-900;



// $code-highlight-line-color: (
//   light: $zinc-200,
//   dark: $zinc-300
// )
