@import './tailwind-colors.scss';

$theme-color: (
  light: #6cab52 ,
  dark: #91d076 
);

$bg-color: (
  light: $zinc-100,
  dark: $zinc-800,
);

$border-color: (
  light: $zinc-300,
  dark: $zinc-700
)

