@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

/* sharp-sans-400normal */
@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Sharp Sans Regular '), local('Sharp Sans-Regular'),
    url('/fonts/sharp-sans/sharp-sans-display-400.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('/fonts/sharp-sans/sharp-sans-display-400.woff') format('woff'); /* Modern Browsers */
}

/* sharp-sans-400italic */
@font-face {
  font-family: 'Sharp Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local('Sharp Sans Regular italic'), local('Sharp Sans-Regularitalic'),
    url('/fonts/sharp-sans/sharp-sans-display-400italic.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('/fonts/sharp-sans/sharp-sans-display-400italic.woff') format('woff'); /* Modern Browsers */
}

/* sharp-sans-700normal */
@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Sharp Sans Bold '), local('Sharp Sans-Bold'),
    url('/fonts/sharp-sans/sharp-sans-display-700.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('/fonts/sharp-sans/sharp-sans-display-700.woff') format('woff'); /* Modern Browsers */
}

/* sharp-sans-700italic */
@font-face {
  font-family: 'Sharp Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: local('Sharp Sans Bold italic'), local('Sharp Sans-Bolditalic'),
    url('/fonts/sharp-sans/sharp-sans-display-700italic.woff2') format('woff2'),
    /* Super Modern Browsers */
      url('/fonts/sharp-sans/sharp-sans-display-700italic.woff') format('woff'); /* Modern Browsers */
}

// $code-dark-theme: 'coldark-dark';
// $code-dark-theme: 'atom-dark';
// $code-dark-theme: 'cb';
// $code-dark-theme: 'coldark-dark';
// $code-dark-theme: 'dark';
// $code-dark-theme: 'dracula';
// $code-dark-theme: 'duotone-dark';
// $code-dark-theme: 'duotone-earth';
// $code-dark-theme: 'duotone-forest';
// $code-dark-theme: 'duotone-sea';
// $code-dark-theme: 'duotone-space';
// $code-dark-theme: 'gruvbox-dark';
// $code-dark-theme: 'holi';
// $code-dark-theme: 'hopscotch';
// $code-dark-theme: 'lucario';
// $code-dark-theme: 'material-dark';
// $code-dark-theme: 'material-oceanic';
// $code-dark-theme: 'night-owl';
// $code-dark-theme: 'one-dark';
// $code-dark-theme: 'pojoaque';
// $code-dark-theme: 'shades-of-purple';
// $code-dark-theme: 'solarized-dark-atom';
// $code-dark-theme: 'xonokai';
// $code-dark-theme: 'z-touch';

// $code-dark-theme: 'nord';
// $code-dark-theme: 'tomorrow';
$code-dark-theme: 'vsc-dark-plus';

$code-light-theme: 'duotone-light';
// $code-light-theme: 'ateliersulphurpool-light'
// $code-light-theme: 'coldark-cold'
// $code-light-theme: 'coy'
// $code-light-theme: 'ghcolors'
// $code-light-theme: 'gruvbox-light'
// $code-light-theme: 'material-light'
// $code-light-theme: 'one-light'
// $code-light-theme: 'vs'
