/**
 * NOTE: The order of the layers is important and defined in the root `index.html`.
 */

@import './anchored-overflow.css';
@import './animation.css';
@import './attention.css';
@import './base.css';
@import './button.css';
@import './can-scroll.css';
@import './checkbox.css';
@import './dialog.css';
@import './drag-preview.css';
@import './focus-ring.css';
@import './hues.css';
@import './positioning.css';
@import './main.css';
@import './native.css';
@import './size.css';
@import './surfaces.css';
@import './tag.css';
@import './tldraw.css';
@import './tokens.css';
@import './typography.css';

@layer dx-tokens, user-tokens, tw-base, dx-base, tw-components, dx-components, utilities;
