@layer utilities {
  /**
   * Main Web app.
   */
  .dx-main-bounce-layout {
    @apply fixed overflow-auto overscroll-auto;
    @apply duration-200 ease-[cubic-bezier(0.4,0,0.6,1)];
    transition-property: padding-inline-start, padding-inline-end, scroll-padding-start, scroll-padding-end;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-start: 0;
    inset-block-end: 0;
    z-index: 0;
  }

  /**
   * Main Mobile app.
   */
  .dx-main-mobile-layout {
    @apply absolute inset-0 overflow-hidden flex flex-col;
  }

  /**
   * Main content padding.
   */
  .dx-main-content-padding {
    @apply ps-0 scroll-ps-0 pe-0 scroll-pe-0;

    @media (min-width: theme('screens.lg')) {
      &[data-sidebar-inline-start-state='collapsed'] {
        @apply ps-[--l0-size] scroll-ps-[--l0-size];
      }
      &[data-sidebar-inline-start-state='expanded'] {
        @apply ps-[--nav-sidebar-size] scroll-ps-[--nav-sidebar-size];
      }

      &[data-sidebar-inline-end-state='collapsed'] {
        @apply pe-[--r0-size] scroll-pe-[--r0-size];
      }
      &[data-sidebar-inline-end-state='expanded'] {
        @apply pe-[--complementary-sidebar-size] scroll-pe-[--complementary-sidebar-size];
      }
    }
  }

  /** TODO(burdon): Reconcile with dx-main-bounce-layout */
  .dx-main-content-padding-transitions {
    @apply duration-200 ease-[cubic-bezier(0.4,0,0.6,1)];
    transition-property: padding-inline-start, padding-inline-end, scroll-padding-start, scroll-padding-end;
  }

  /**
   *
   */
  .dx-main-intrinsic-size {
    @apply inline-[calc(100dvw)-2*var(--main-spacing)] transition-[inline-size] ease-[cubic-bezier(0.4,0,0.6,1)] duration-200;

    @media (min-width: theme('screens.lg')) {
      &[data-sidebar-inline-start-state='closed'][data-sidebar-inline-end-state='closed'] {
        inline-size: calc(100dvw - 2 * var(--main-spacing));
      }
      &[data-sidebar-inline-start-state='collapsed'][data-sidebar-inline-end-state='closed'] {
        inline-size: calc(100dvw - var(--l0-size) - 2 * var(--main-spacing));
      }
      &[data-sidebar-inline-start-state='expanded'][data-sidebar-inline-end-state='closed'] {
        inline-size: calc(100dvw - var(--nav-sidebar-size) - 2 * var(--main-spacing));
      }

      &[data-sidebar-inline-start-state='closed'][data-sidebar-inline-end-state='collapsed'] {
        inline-size: calc(100dvw - var(--r0-size) - 2 * var(--main-spacing));
      }
      &[data-sidebar-inline-start-state='collapsed'][data-sidebar-inline-end-state='collapsed'] {
        inline-size: calc(100dvw - var(--l0-size) - var(--r0-size) - 2 * var(--main-spacing));
      }
      &[data-sidebar-inline-start-state='expanded'][data-sidebar-inline-end-state='collapsed'] {
        inline-size: calc(100dvw - var(--nav-sidebar-size) - var(--r0-size) - 2 * var(--main-spacing));
      }

      &[data-sidebar-inline-start-state='closed'][data-sidebar-inline-end-state='expanded'] {
        inline-size: calc(100dvw - var(--complementary-sidebar-size) - 2 * var(--main-spacing));
      }
      &[data-sidebar-inline-start-state='collapsed'][data-sidebar-inline-end-state='expanded'] {
        inline-size: calc(100dvw - var(--l0-size) - var(--complementary-sidebar-size) - 2 * var(--main-spacing));
      }
      &[data-sidebar-inline-start-state='expanded'][data-sidebar-inline-end-state='expanded'] {
        inline-size: calc(
          100dvw - var(--nav-sidebar-size) - var(--complementary-sidebar-size) - 2 * var(--main-spacing)
        );
      }
    }
  }
}

@layer dx-components {
  .dx-main-sidebar {
    @apply fixed overscroll-contain overflow-x-hidden overflow-y-auto;
    @apply duration-200 ease-[cubic-bezier(0.4,0,0.6,1)];
    @apply border-landmarkLine border-subduedSeparator rounded-md;
    @apply backdrop-blur-md dark:backdrop-blur-lg;
    background-color: var(--dx-sidebarSurface);
    --surface-bg: var(--dx-sidebarSurface);

    transition-property: inset-inline-start, inset-inline-end, inline-size;
    inset-block-start: max(0.5rem, env(safe-area-inset-top));
    inset-block-end: max(0.5rem, env(safe-area-inset-bottom));
    inline-size: calc(100dvw - 3rem);
    z-index: 7;

    @media (min-width: theme('screens.lg')) {
      @apply top-0 bottom-0 rounded-none border-b-0;
    }

    &[data-resizing='false'] {
      @apply duration-200;
    }

    &[data-side='is'] {
      @apply -start-[100vw] border-e-landmarkLine border-subduedSeparator;
      z-index: 8;

      &[data-state='expanded'] {
        inset-inline-start: max(0.5rem, env(safe-area-inset-left));
        @media (min-width: theme('screens.lg')) {
          @apply start-0;
        }
      }

      @media (min-width: theme('screens.sm')) {
        @apply inline-[--nav-sidebar-size];
      }

      @media (min-width: theme('screens.lg')) {
        @apply border-x-0;

        &[data-state='collapsed'] {
          @apply inline-[--l0-size] start-0;
        }
        &[data-state='expanded'] {
          @apply inline-[--nav-sidebar-size];
        }
      }
    }

    &[data-side='ie'] {
      @apply -end-[100vw] border-s-landmarkLine border-separator;

      &[data-state='expanded'] {
        inset-inline-end: max(0.5rem, env(safe-area-inset-right));
        @media (min-width: theme('screens.lg')) {
          @apply end-0;
        }
      }

      @media (min-width: theme('screens.sm')) {
        @apply inline-[--complementary-sidebar-size];
      }

      @media (min-width: theme('screens.lg')) {
        @apply border-e-0;
        &[data-state='collapsed'] {
          @apply inline-[--r0-size] end-0;
        }
        &[data-state='expanded'] {
          @apply inline-[--complementary-sidebar-size];
        }
      }
    }
  }


  .dx-main-overlay {
    @apply fixed inset-0 bg-scrimSurface;
    @apply transition-opacity duration-200 ease-[cubic-bezier(0.4,0,0.6,1)];
    @apply opacity-0 hidden;
    z-index: 6;

    &[data-state='open'] {
      @apply opacity-100 block;

      @media (min-width: theme('screens.lg')) {
        @apply opacity-100 hidden;
      }
    }
  }
}
