/**
 * @layer dx-components
 * See lengths.ts for dx- sememes.
 */

/** 
 * Container query root.
 */

.size-container {
  container-type: size;
}

.container-max-width {
  @apply inline-full max-is-container-max-width mx-auto;
}

/**
 * Card
 */

.card-square {
  inline-size: min(min(var(--radix-popper-available-width), var(--dx-card-max-width)),
      min(var(--radix-popper-available-height), 100dvh));
  block-size: min(min(var(--radix-popper-available-width), var(--dx-card-max-width)),
      min(var(--radix-popper-available-height), 100dvh));
}

.card-default-width {
  @apply is-card-default-width;
}

.card-min-width {
  @apply min-is-card-min-width;
}

.card-max-width {
  @apply inline-full max-is-card-max-width;
}

.popover-card {
  inline-size: var(--dx-card-max-width);
  max-block-size: min(var(--radix-popper-available-height), var(--dx-card-max-height));
}

@layer dx-components {

  /* Block size */
  [data-size='0'],
  [data-block-size='0'] {
    @apply block-0;
  }

  [data-size='px'],
  [data-block-size='px'] {
    @apply bs-px;
  }

  [data-size='0.5'],
  [data-block-size='0.5'] {
    @apply block-0.5;
  }

  [data-size='1'],
  [data-block-size='1'] {
    @apply block-1;
  }

  [data-size='1.5'],
  [data-block-size='1.5'] {
    @apply block-1.5;
  }

  [data-size='2'],
  [data-block-size='2'] {
    @apply block-2;
  }

  [data-size='2.5'],
  [data-block-size='2.5'] {
    @apply block-2.5;
  }

  [data-size='3'],
  [data-block-size='3'] {
    @apply block-3;
  }

  [data-size='3.5'],
  [data-block-size='3.5'] {
    @apply block-3.5;
  }

  [data-size='4'],
  [data-block-size='4'] {
    @apply block-4;
  }

  [data-size='5'],
  [data-block-size='5'] {
    @apply block-5;
  }

  [data-size='6'],
  [data-block-size='6'] {
    @apply block-6;
  }

  [data-size='7'],
  [data-block-size='7'] {
    @apply block-7;
  }

  [data-size='8'],
  [data-block-size='8'] {
    @apply block-8;
  }

  [data-size='9'],
  [data-block-size='9'] {
    @apply block-9;
  }

  [data-size='10'],
  [data-block-size='10'] {
    @apply block-10;
  }

  [data-size='11'],
  [data-block-size='11'] {
    @apply block-11;
  }

  [data-size='12'],
  [data-block-size='12'] {
    @apply block-12;
  }

  [data-size='14'],
  [data-block-size='14'] {
    @apply block-14;
  }

  [data-size='16'],
  [data-block-size='16'] {
    @apply block-16;
  }

  [data-size='20'],
  [data-block-size='20'] {
    @apply block-20;
  }

  [data-size='24'],
  [data-block-size='24'] {
    @apply block-24;
  }

  [data-size='28'],
  [data-block-size='28'] {
    @apply block-28;
  }

  [data-size='32'],
  [data-block-size='32'] {
    @apply block-32;
  }

  [data-size='36'],
  [data-block-size='36'] {
    @apply block-36;
  }

  [data-size='40'],
  [data-block-size='40'] {
    @apply block-40;
  }

  [data-size='44'],
  [data-block-size='44'] {
    @apply block-44;
  }

  [data-size='48'],
  [data-block-size='48'] {
    @apply block-48;
  }

  [data-size='52'],
  [data-block-size='52'] {
    @apply block-52;
  }

  [data-size='56'],
  [data-block-size='56'] {
    @apply block-56;
  }

  [data-size='60'],
  [data-block-size='60'] {
    @apply block-60;
  }

  [data-size='64'],
  [data-block-size='64'] {
    @apply block-64;
  }

  [data-size='72'],
  [data-block-size='72'] {
    @apply block-72;
  }

  [data-size='80'],
  [data-block-size='80'] {
    @apply block-80;
  }

  [data-size='96'],
  [data-block-size='96'] {
    @apply block-96;
  }

  /* Inline size */
  [data-size='0'],
  [data-inline-size='0'] {
    @apply inline-0;
  }

  [data-size='px'],
  [data-inline-size='px'] {
    @apply is-px;
  }

  [data-size='0.5'],
  [data-inline-size='0.5'] {
    @apply inline-0.5;
  }

  [data-size='1'],
  [data-inline-size='1'] {
    @apply inline-1;
  }

  [data-size='1.5'],
  [data-inline-size='1.5'] {
    @apply inline-1.5;
  }

  [data-size='2'],
  [data-inline-size='2'] {
    @apply inline-2;
  }

  [data-size='2.5'],
  [data-inline-size='2.5'] {
    @apply inline-2.5;
  }

  [data-size='3'],
  [data-inline-size='3'] {
    @apply inline-3;
  }

  [data-size='3.5'],
  [data-inline-size='3.5'] {
    @apply inline-3.5;
  }

  [data-size='4'],
  [data-inline-size='4'] {
    @apply inline-4;
  }

  [data-size='5'],
  [data-inline-size='5'] {
    @apply inline-5;
  }

  [data-size='6'],
  [data-inline-size='6'] {
    @apply inline-6;
  }

  [data-size='7'],
  [data-inline-size='7'] {
    @apply inline-7;
  }

  [data-size='8'],
  [data-inline-size='8'] {
    @apply inline-8;
  }

  [data-size='9'],
  [data-inline-size='9'] {
    @apply inline-9;
  }

  [data-size='10'],
  [data-inline-size='10'] {
    @apply inline-10;
  }

  [data-size='11'],
  [data-inline-size='11'] {
    @apply inline-11;
  }

  [data-size='12'],
  [data-inline-size='12'] {
    @apply inline-12;
  }

  [data-size='14'],
  [data-inline-size='14'] {
    @apply inline-14;
  }

  [data-size='16'],
  [data-inline-size='16'] {
    @apply inline-16;
  }

  [data-size='20'],
  [data-inline-size='20'] {
    @apply inline-20;
  }

  [data-size='24'],
  [data-inline-size='24'] {
    @apply inline-24;
  }

  [data-size='28'],
  [data-inline-size='28'] {
    @apply inline-28;
  }

  [data-size='32'],
  [data-inline-size='32'] {
    @apply inline-32;
  }

  [data-size='36'],
  [data-inline-size='36'] {
    @apply inline-36;
  }

  [data-size='40'],
  [data-inline-size='40'] {
    @apply inline-40;
  }

  [data-size='44'],
  [data-inline-size='44'] {
    @apply inline-44;
  }

  [data-size='48'],
  [data-inline-size='48'] {
    @apply inline-48;
  }

  [data-size='52'],
  [data-inline-size='52'] {
    @apply inline-52;
  }

  [data-size='56'],
  [data-inline-size='56'] {
    @apply inline-56;
  }

  [data-size='60'],
  [data-inline-size='60'] {
    @apply inline-60;
  }

  [data-size='64'],
  [data-inline-size='64'] {
    @apply inline-64;
  }

  [data-size='72'],
  [data-inline-size='72'] {
    @apply inline-72;
  }

  [data-size='80'],
  [data-inline-size='80'] {
    @apply inline-80;
  }

  [data-size='96'],
  [data-inline-size='96'] {
    @apply inline-96;
  }
}