@layer dx-tokens {
  /* Design token aliases and contextual overrides */

  :root, .dark {
    --dx-gridLine: var(--dx-activeSurface);
    --dx-gridFocusIndicatorColor: var(--dx-accentFocusIndicator);
    --dx-activeSurface: var(--dx-inputSurfaceBase);
    --dx-inputSurface: var(--dx-inputSurfaceBase);
    --dx-sidebarSurface: var(--dx-groupSurface);
    --dx-headerSurface: var(--dx-groupSurface);
    --dx-toolbarSurface: var(--dx-groupSurface);
    --dx-cardSurface: var(--dx-groupSurface);
    --dx-textInputSurface: var(--dx-textInputSurfaceBase);
    --dx-hoverSurface: var(--dx-hoverSurfaceBase);
    --dx-attention: var(--dx-focusSurface);
    --dx-currentRelated: var(--dx-modalSurface);
    --dx-separator: var(--dx-separatorBase);
    --dx-successText: var(--dx-emeraldText);
    --dx-infoText: var(--dx-cyanText);
    --dx-warningText: var(--dx-amberText);
    --dx-errorText: var(--dx-roseText);
    --dx-currentText: var(--dx-primaryText);
    --dx-internalText: var(--dx-fuchsiaText);
    --dx-successSurface: var(--dx-emeraldSurface);
    --dx-infoSurface: var(--dx-cyanSurface);
    --dx-warningSurface: var(--dx-amberSurface);
    --dx-errorSurface: var(--dx-roseSurface);
    --dx-currentSurface: var(--dx-primarySurface);
    --dx-internalSurface: var(--dx-fuchsiaSurface);
    --dx-successSurfaceText: var(--dx-emeraldSurfaceText);
    --dx-infoSurfaceText: var(--dx-cyanSurfaceText);
    --dx-warningSurfaceText: var(--dx-amberSurfaceText);
    --dx-errorSurfaceText: var(--dx-roseSurfaceText);
    --dx-currentSurfaceText: var(--dx-primarySurfaceText);
    --dx-internalSurfaceText: var(--dx-fuchsiaSurfaceText);
    --dx-successFill: var(--dx-emeraldFill);
    --dx-infoFill: var(--dx-cyanFill);
    --dx-warningFill: var(--dx-amberFill);
    --dx-errorFill: var(--dx-roseFill);
    --dx-currentFill: var(--dx-primaryFill);
    --dx-internalFill: var(--dx-fuchsiaFill);
    --dx-successCursor: var(--dx-emeraldCursor);
    --dx-infoCursor: var(--dx-cyanCursor);
    --dx-warningCursor: var(--dx-amberCursor);
    --dx-errorCursor: var(--dx-roseCursor);
    --dx-currentCursor: var(--dx-primaryCursor);
    --dx-internalCursor: var(--dx-fuchsiaCursor);
  }

  .sidebar-surface, .dark .sidebar-surface, .bg-groupSurface, .dark .bg-groupSurface, .bg-sidebarSurface, .dark .bg-sidebarSurface, .bg-headerSurface, .dark .bg-headerSurface, .bg-toolbarSurface, .dark .bg-toolbarSurface, .bg-cardSurface, .dark .bg-cardSurface {
    --dx-textInputSurface: var(--dx-textInputSurfaceGroup);
    --dx-inputSurface: var(--dx-inputSurfaceGroup);
    --dx-hoverSurface: var(--dx-hoverSurfaceGroup);
    --dx-separator: var(--dx-separatorGroup);
  }

  .modal-surface, .dark .modal-surface, .bg-modalSurface, .dark .bg-modalSurface, .bg-currentRelated, .dark .bg-currentRelated {
    --dx-textInputSurface: var(--dx-textInputSurfaceModal);
    --dx-inputSurface: var(--dx-inputSurfaceModal);
    --dx-hoverSurface: var(--dx-hoverSurfaceModal);
    --dx-separator: var(--dx-separatorModal);
  }

  [data-grid-focus-indicator-variant="stack"] {
    --dx-gridFocusIndicatorColor: var(--dx-neutralFocusIndicator);
  }

  :root {
    --dx-line-0: 0.000px;
    --dx-line-1: 1.000px;
    --dx-line-2: 2.000px;

    --dx-lacuna-12: 1.500rem;
    --dx-lacuna-3: 0.375rem;
    --dx-lacuna-4: 0.500rem;
    --dx-lacuna-6: 0.750rem;
  }

  :root {
    --dx-noLine: var(--dx-line-0);
    --dx-hairLine: var(--dx-line-1);
    --dx-thickLine: var(--dx-line-2);
    --dx-trimXs: var(--dx-lacuna-3);
    --dx-trimSm: var(--dx-lacuna-4);
    --dx-trimMd: var(--dx-lacuna-6);
    --dx-trimLg: var(--dx-lacuna-12);
    --dx-inputFine: var(--dx-lacuna-3);
    --dx-inputCoarse: var(--dx-lacuna-4);
  }

  :root, .density-fine {
    --dx-focusOffset: var(--dx-noLine);
    --dx-modalLine: var(--dx-hairLine);
    --dx-landmarkLine: var(--dx-hairLine);
    --dx-positionedLine: var(--dx-hairLine);
    --dx-gridGap: var(--dx-hairLine);
    --dx-gridFocusIndicatorWidth: var(--dx-hairLine);
    --dx-focusLine: var(--dx-thickLine);
    --dx-iconButtonPadding: var(--dx-inputFine);
    --dx-cardChrome: var(--dx-trimXs);
    --dx-cardPadding: var(--dx-trimSm);
  }

  .density-coarse {
    --dx-iconButtonPadding: var(--dx-inputCoarse);
    --dx-cardPadding: var(--dx-trimMd);
  }

  .density-flush {

  }

  [data-grid-focus-indicator-variant="stack"] {
    --dx-gridFocusIndicatorWidth: var(--dx-thickLine);
  }

  :root {
    --dx-size-18: 18.000rem;
    --dx-size-20: 20.000rem;
    --dx-size-22: 22.000rem;
    --dx-size-30: 30.000rem;
    --dx-size-50: 50.000rem;
  }

  :root {
    --dx-prose-max-width: var(--dx-size-50);
    --dx-container-max-width: var(--dx-size-50);
    --dx-card-default-width: var(--dx-size-20);
    --dx-card-min-width: var(--dx-size-18);
    --dx-card-max-width: var(--dx-size-22);
    --dx-card-min-height: var(--dx-size-18);
    --dx-card-max-height: var(--dx-size-30);
  }

  :root {
    /* Recitations */
    --sticky-top: 0;

    /* Lengths / sizes */
    --rail-content: 3rem;
    --rail-size: calc(var(--rail-content) + 1px);
    --rail-action: calc(var(--rail-content) - 0.5rem + 1px);
    --rail-item: calc(var(--rail-content) - 1rem);
    --line-height: 32px;
    --topbar-size: var(--rail-size);
    --toolbar-size: var(--rail-content);
    --statusbar-size: var(--rail-content);
    --nav-sidebar-size: 22.5rem;
    --complementary-sidebar-size: 25rem;
    --drawer-size: 50dvh;
    /* NOTE(thure): 74px (rather than rem) is intentional in order to match the size of macOS windowing controls. */
    --l0-size: 74px;
    --l0-avatar-size: 3rem;
    --l1-size: calc(var(--nav-sidebar-size) - var(--l0-size));
    --r0-size: var(--rail-size);
    --r1-size: calc(var(--complementary-sidebar-size) - var(--r0-size));
    --text-content: calc(50rem - env(safe-area-inset-left) - env(safe-area-inset-right));
  }

  /* TODO(thure): Support arbitrary values (like for keywords e.g. `auto`, or font families) in @ch-ui/tokens */
  :root {
    --dx-calc-auto: auto;
    --dx-calc-min: min-content;
    --dx-calc-fit: fit-content;
    --dx-calc-max: max-content;
    --dx-calc-content: content;
  }
  @supports (block-size: calc-size(fit-content, size)) {
    :root {
      --dx-calc-auto: calc-size(auto, size);
      --dx-calc-min: calc-size(min-content, size);
      --dx-calc-fit: calc-size(fit-content, size);
      --dx-calc-max: calc-size(max-content, size);
      --dx-calc-content: calc-size(content, size);
    }
  }
}
