@layer dx-tokens {
  @tokens dx;

  :root {
    /* Recitations */
    --sticky-top: 0;

    /* Lengths / sizes */
    --rail-content: 3rem;
    --rail-size: calc(var(--rail-content) + 1px);
    --rail-action: calc(var(--rail-content) - 0.5rem + 1px);
    --rail-item: calc(var(--rail-content) - 1rem);
    --line-height: 32px;
    --topbar-size: var(--rail-size);
    --toolbar-size: var(--rail-content);
    --statusbar-size: theme(spacing.8);
    --nav-sidebar-size: 22.5rem;
    --complementary-sidebar-size: 25rem;
    /* NOTE(thure): 74px (rather than rem) is intentional in order to match the size of macOS windowing controls. */
    --l0-size: 74px;
    --l0-avatar-size: 3rem;
    --l1-size: calc(var(--nav-sidebar-size) - var(--l0-size));
    --r0-size: var(--rail-size);
    --r1-size: calc(var(--complementary-sidebar-size) - var(--r0-size));
    --text-content: calc(50rem - env(safe-area-inset-left) - env(safe-area-inset-right));
  }

  /* TODO(thure): Support arbitrary values (like for keywords e.g. `auto`, or font families) in @ch-ui/tokens */
  :root {
    --dx-calc-auto: auto;
    --dx-calc-min: min-content;
    --dx-calc-fit: fit-content;
    --dx-calc-max: max-content;
    --dx-calc-content: content;
  }
  @supports (block-size: calc-size(fit-content, size)) {
    :root {
      --dx-calc-auto: calc-size(auto, size);
      --dx-calc-min: calc-size(min-content, size);
      --dx-calc-fit: calc-size(fit-content, size);
      --dx-calc-max: calc-size(max-content, size);
      --dx-calc-content: calc-size(content, size);
    }
  }
}
