@import '@fontsource/roboto-flex/variable-full.css';
@import '@fontsource/fira-code/variable.css';
@import '@fontsource/space-grotesk/variable-full.css';

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer utilities {
  /* Font weights */
  .font-thin {
    font-variation-settings: 'wght' 100;
  }
  .font-extralight {
    font-variation-settings: 'wght' 200;
  }
  .font-light {
    font-variation-settings: 'wght' 300;
  }
  .font-normal {
    font-variation-settings: 'wght' 400;
  }
  .font-medium {
    font-variation-settings: 'wght' 500;
  }
  .font-semibold {
    font-variation-settings: 'wght' 600;
  }
  .font-bold {
    font-variation-settings: 'wght' 700;
  }
  .font-extrabold {
    font-variation-settings: 'wght' 800;
  }
  .font-black {
    font-variation-settings: 'wght' 900;
  }
}

:root {
  --surface-bg: theme(colors.neutral.50);
  --surface-text: theme(colors.neutral.900);
}

.dark {
  --surface-bg: theme(colors.neutral.900);
  --surface-text: theme(colors.neutral.50);
}

html {
  background-color: var(--surface-bg);
  color: var(--surface-text);
}
