/**
 * Copyright 2022 DXOS.org
 */

html, body, #root {
  height: 100%;
}

body {
  overflow: hidden;
  overscroll-behavior: none;
  @apply font-body font-normal text-base;
}

/**
 * Highlight
 */
.hljs-title {}
.hljs-title.class_ {
  @apply text-blue-500;
}
.hljs-title.function_ {
  @apply text-blue-500;
}
.hljs-keyword {
  @apply text-orange-400;
}
.hljs-params {
  @apply text-black;
}
.hljs-string {
  @apply text-green-500;
}
.hljs-number {
  @apply text-blue-500;
}
.hljs-tag {
  @apply text-teal-500;
}
.hljs-built_in {
  @apply text-red-500;
}

/**
 * TODO(burdon): Custom RBC style.
 * TODO(burdon): Tailwind colors.
 * https://jquense.github.io/react-big-calendar/examples/index.html?path=/docs/guides-custom-styling--page
 */
.rbc-calendar, .rbc-month-view, .rbc-header {
  @apply font-body font-normal !important;
}
.rbc-event {
  /*border: 1px solid #333 !important;*/
  border: none !important;
  border-radius: 0 !important;
  color: #333 !important;
  padding: 2px 6px 2px 6px !important;
  @apply bg-slate-200 !important;
}
.rbc-off-range-bg {
  @apply bg-slate-200 !important;
}
.rbc-today {
  @apply bg-gray-100 !important;
}
.rbc-event-content > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: small;
}
.rbc-event-label {
  display: none !important;
}
.rbc-agenda-table {
  border: none !important;
}
.rbc-agenda-date-cell {
  @apply text-sm pl-0 pt-2 !important;
}
.rbc-agenda-time-cell {
  @apply text-sm pt-2 !important;
  padding: 5px 0 5px 0 !important;
}
.rbc-agenda-event-cell {
}
.rbc-agenda-table td {
  border: none !important;
}
