---
import WebflowLayout from '../layouts/WebflowLayout.astro';
import DxosLogo from '../components/svg/DxosLogo.astro';
import IconExternalLink from '../components/svg/IconExternalLink.astro';
import IconGitHub from '../components/svg/IconGitHub.astro';
import IconDiscord from '../components/svg/IconDiscord.astro';
import IconBluesky from '../components/svg/IconBluesky.astro';
import IconX from '../components/svg/IconX.astro';
---
<WebflowLayout
  title="Composer Welcome"
  description="Request early access for Composer"
  ogImage="/webflow/images/dxos-composer-og-image.png"
  wfPageId="680aa2a5da61b51e4a5da064"
>
  <div>
    <div data-animation="default" class="nav_component w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium" data-w-id="bfd0a663-f65c-39fd-83f7-9ca4ebde13e6" role="banner" data-duration="400">
      <div class="nav_container">
        <div class="nav-left c">
          <div class="nav_menu-button w-nav-button">
            <div class="menu-icon2">
              <div class="menu-icon2_line-top"></div>
              <div class="menu-icon2_line-middle">
                <div class="menu-icon2_line-middle-inner"></div>
              </div>
              <div class="menu-icon2_line-bottom"></div>
            </div>
          </div>
          <a href="/" class="w-nav-brand">
            <div class="logo-wrap c">
              <div class="code-embed w-embed"><DxosLogo /></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section_welcome">
    <div class="welcome-grid_wrap">
      <div class="welcome-grid">
        <div id="w-node-e7ce91bb-b9ba-c9c9-d22c-4038690104b8-4a5da064">
          <div class="div-block-29">
            <div show-subscribe="" class="show-subscribe">
              <div class="form-block w-form">
                <form class="early-access-form">
                  <input class="form-input w-input" maxlength="256" name="email" placeholder="Email" type="email" id="Email" required>
                  <input type="submit" class="button is-secondary w-button" value="Request Access">
                </form>
                <div class="success-message w-form-done">
                  <div>Thank you! Check your email to confirm your address</div>
                </div>
                <div class="error-message w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </div>
            <div show-welcome="" class="show-welcome">
              <div class="welcome-grid_card">
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">You&#x27;re on the list! </div>
                  <div class="text-style-muted balanced">Please check your email to confirm your subscription. </div>
                </div>
                <a href="/composer-welcome" aria-current="page" class="button is-secondary w-inline-block w--current">
                  <div>Welcome </div>
                  <div class="icon-1x1-xxsmall nav-arrow w-embed"><IconExternalLink /></div>
                </a>
                <div class="spacer-small"></div>
                <div class="display-inlineflex hide-mobile">
                  <a href="https://github.com/dxos" target="_blank" class="button is-link is-icon-only c w-inline-block">
                    <div class="icon-1x1-xsmall w-embed"><IconGitHub /></div>
                  </a>
                  <a href="https://dxos.org/discord" target="_blank" class="button is-link is-icon-only c w-inline-block">
                    <div class="icon-1x1-xsmall w-embed"><IconDiscord /></div>
                  </a>
                  <a href="https://bsky.app/profile/dxos.org" target="_blank" class="button is-link is-icon-only c w-inline-block">
                    <div class="icon-1x1-xsmall w-embed"><IconBluesky /></div>
                  </a>
                  <a href="https://x.com/dxos_org" target="_blank" class="button is-link is-icon-only c w-inline-block">
                    <div class="icon-1x1-xsmall w-embed"><IconX /></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_17dde100-223f-3887-dbaf-c0eb73df3dc4-4a5da064" class="welcome-grid_card">
          <div class="card-text-wrapper">
            <div class="heading-style-h5">Read the docs</div>
            <div class="text-style-muted balanced">Learn more about what we&#x27;re building and how it works.</div>
          </div>
          <a href="/docs" class="button is-tertiary _3 w-inline-block">
            <div>Explore Docs</div>
            <div class="icon-1x1-xxsmall nav-arrow w-embed"><IconExternalLink /></div>
          </a>
        </div>
        <div id="w-node-_41ff00a5-9182-9034-bd98-ff119bab0bab-4a5da064" class="welcome-grid_card">
          <div class="card-text-wrapper">
            <div class="heading-style-h5">Introducing Composer by DXOS</div>
            <div class="text-style-muted balanced">Explore a short video overview of Composer and current capabilities</div>
            <div style="padding-top:56.17021276595745%" class="w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F7HSzyGG5c5A%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D7HSzyGG5c5A&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F7HSzyGG5c5A%2Fhqdefault.jpg&type=text%2Fhtml&schema=youtube" width="940" height="528" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe></div>
          </div>
        </div>
      </div>
      <div class="composer-hero-bkg-wrap welcmoe"><img src="/webflow/images/Composer-home-hero-rings.webp" loading="lazy" sizes="100vw" srcset="/webflow/images/Composer-home-hero-rings-p-500.png 500w, /webflow/images/Composer-home-hero-rings-p-800.png 800w, /webflow/images/Composer-home-hero-rings-p-1080.png 1080w, /webflow/images/Composer-home-hero-rings.webp 1170w" alt="" class="composer-ring-element"></div>
    </div>
  </div>
  <script is:inline>
    document.querySelectorAll('.early-access-form').forEach(function (form) {
      form.addEventListener('submit', async function (e) {
        e.preventDefault();
        const email = form.querySelector('[name="email"]').value;
        const block = form.closest('.w-form');
        try {
          // Joins the Composer waitlist. Server forwards to Kit for email
          // confirmation; the waitlist row is created when Kit notifies us
          // back via the Make webhook.
          const res = await fetch('https://hub.dxos.network/account/request-access', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ email: email }),
          });
          if (!res.ok) throw new Error('request-access failed');
          block.querySelector('.w-form-done').style.display = 'block';
          form.style.display = 'none';
          const expires = new Date(Date.now() + 365 * 864e5).toUTCString();
          document.cookie = 'user_subscribed=true; expires=' + expires + '; path=/';
          document.querySelectorAll('[show-subscribe]').forEach(function (el) { el.style.display = 'none'; });
          document.querySelectorAll('[show-welcome]').forEach(function (el) { el.style.display = 'block'; });
        } catch (_) {
          block.querySelector('.w-form-fail').style.display = 'block';
          form.style.display = 'none';
        }
      });
    });
  </script>
</WebflowLayout>
