---
import WebflowLayout from '../layouts/WebflowLayout.astro';
import WebflowNav from '../components/WebflowNav.astro';
import WebflowFooter from '../components/WebflowFooter.astro';
import IconChevronRight from '../components/svg/IconChevronRight.astro';
import IconExternalLink from '../components/svg/IconExternalLink.astro';
import IconGitHub from '../components/svg/IconGitHub.astro';
import IconDiscord from '../components/svg/IconDiscord.astro';
import IconX from '../components/svg/IconX.astro';
---
<WebflowLayout
  title="Composer by DXOS"
  description="Introducing programmable documents. Blend the power of popular file formats (docs, sheets, sketch &amp; tables) inside of a collaborative local-first workspace."
  ogImage="/webflow/images/dxos-composer-og-image.png"
  wfPageId="66fab71bdf95a9e03ee9018b"
>
  <WebflowNav currentPage="composer" />
      <div id="top" class="section_composer-hero">
        <div class="container-large">
          <div class="masthead-wrap left-align">
            <div class="all-caps is-blue">Composer by DXOS</div>
            <h1 blocks-non-deletable="true" class="heading-style-h1">Introducing <span class="heading-highlight composer">programmable</span> documents</h1>
            <p class="text-size-large text-style-muted">To show off the power of DXOS, we&#x27;ve built Composer. A local-first workspace that is designed for small team collaboration.</p>
            <div class="button-group">
              <div class="div-block-29">
                <div show-subscribe="" class="show-subscribe">
                  <div set-subscribe-cookie="" class="form-block w-form">
                    <form id="wf-form-Early-access" name="wf-form-Early-access" data-name="Early-access" redirect="/composer-welcome" data-redirect="/composer-welcome" method="post" class="early-access-form" data-wf-page-id="66fab71bdf95a9e03ee9018b" data-wf-element-id="45bd54de-42f6-1ba6-4ed5-39d157bbf0d4"><input class="form-input w-input" maxlength="256" name="Email" data-name="Email" placeholder="Email" type="email" id="Email" required=""><input type="submit" data-wait="Please wait..." set-subscribe-cookie="" data-w-id="45bd54de-42f6-1ba6-4ed5-39d157bbf0d6" class="button is-secondary w-button" value="Request Access"></form>
                    <div class="success-message w-form-done">
                      <div>Thank you! Check your email to confirm your address</div>
                    </div>
                    <div class="error-message w-form-fail">
                      <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                  </div>
                </div>
                <div show-welcome="" class="show-welcome">
                  <div class="welcome-grid_card">
                    <div class="card-text-wrapper">
                      <div class="heading-style-h5">You&#x27;re on the list! </div>
                      <div class="text-style-muted balanced">Please check your email to confirm your subscription. </div>
                    </div>
                    <a data-w-id="d62d14e8-33a4-86a7-ca92-681e94fce8b4" href="composer-welcome.html" class="button is-secondary w-inline-block">
                      <div>Welcome </div>
                      <div class="icon-1x1-xxsmall nav-arrow w-embed"><IconExternalLink /></div>
                    </a>
                    <div class="spacer-small"></div>
                    <div class="display-inlineflex hide-mobile">
                      <a href="https://github.com/dxos" target="_blank" class="button is-link is-icon-only c w-inline-block">
                        <div class="icon-1x1-xsmall w-embed"><IconGitHub /></div>
                      </a>
                      <a href="https://discord.gg/eXVfryv3sW" target="_blank" class="button is-link is-icon-only c w-inline-block">
                        <div class="icon-1x1-xsmall w-embed"><IconDiscord /></div>
                      </a>
                      <a href="https://x.com/dxos_org" target="_blank" class="button is-link is-icon-only c w-inline-block">
                        <div class="icon-1x1-xsmall w-embed"><IconX /></div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-hero_lower-cta composer">
          <a href="/" class="button is-link w-inline-block">
            <div>Powered by DXOS</div>
            <div class="icon-embed-xsmall w-embed">
              <IconChevronRight />
            </div>
          </a>
        </div>
        <div class="composer-hero-bkg-wrap"><img src="/webflow/images/Composer-home-hero-rings.webp" loading="lazy" sizes="(max-width: 1170px) 100vw, 1170px" srcset="/webflow/images/Composer-home-hero-rings-p-500.png 500w, /webflow/images/Composer-home-hero-rings-p-800.png 800w, /webflow/images/Composer-home-hero-rings-p-1080.png 1080w, /webflow/images/Composer-home-hero-rings.webp 1170w" alt="" class="composer-ring-element"></div>
      </div>
      <div class="section_partners">
        <div class="container-large">
          <div class="w-layout-grid partner_grid">
            <div id="w-node-_6454d101-373d-3dce-f972-3a008902634f-8902634c" class="partners_left">
              <div class="text-size-large balanced">Built with the help of our friends and partners</div>
            </div>
            <div id="w-node-_6454d101-373d-3dce-f972-3a0089026352-8902634c" class="partners_right">
              <a href="https://www.inkandswitch.com/" target="_blank" class="partner-logo-wrap w-inline-block"><img src="/webflow/images/Ink--Switch.png" loading="lazy" alt="Ink and Switch logo" class="partner-logo"></a>
              <a href="https://socketsupply.co/" target="_blank" class="partner-logo-wrap w-inline-block"><img src="/webflow/images/SocketSupply.png" loading="lazy" alt="Socket Supply logo" class="partner-logo"></a>
              <a href="https://effect.website/" target="_blank" class="partner-logo-wrap w-inline-block"><img src="/webflow/images/Effect.png" loading="lazy" alt="Effect logo" class="partner-logo"></a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="section_grid">
          <div class="container-large">
            <div class="w-layout-grid feature-grid _4col">
              <div id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b6ab-cb45b6a7" class="dxos_stack-header no-bottom-line">
                <div class="all-caps is-blue">Product</div>
                <div class="heading-style-h2">Meet Composer</div>
              </div>
              <div id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b6b0-cb45b6a7" class="dxos_stack-header no-bottom-line right">
                <div class="text-style-muted">Composer blends the power of popular file formats (docs, sheets, sketch &amp; tables) while allowing you to build plugins, deploy custom functions and leverage modern LLM&#x27;s</div>
              </div>
              <div id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b6b3-cb45b6a7" class="horizontal-line-wrap">
                <div class="horiozontal-line full"></div>
              </div>
              <div id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b6b5-cb45b6a7" class="dxos_stack-card top">
                <div class="image-highlight-gradient"><img src="/webflow/images/Docs-example-card-no-border.png" loading="lazy" alt=""></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">Docs</div>
                  <div class="text-style-muted">Enjoy realtime collaboration inside of a modern markdown editor.</div>
                </div>
                <div class="card-bkg-gradient-blur-wrap">
                  <div class="card-bkg-gradient-blur"></div>
                </div>
              </div>
              <div id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b6bf-cb45b6a7" class="dxos_stack-card comments">
                <div class="image-highlight-gradient right-corner"><img src="/webflow/images/Threaded-comments2.png" loading="lazy" alt="An example of threaded comments inside of DXOS"></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">Threaded comments</div>
                  <div class="text-style-muted">Collaborate with threaded comments across multiple document formats.</div>
                </div>
                <div class="card-bkg-gradient-blur-wrap right">
                  <div class="card-bkg-gradient-blur"></div>
                </div>
              </div>
              <div id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b6c9-cb45b6a7" class="dxos_stack-card plugins">
                <div class="spacer-huge"></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">Plugins</div>
                  <div class="text-style-muted">Build custom plugins to enhance functionality inside of Composer.</div>
                </div><img src="/webflow/images/Plugins-bkg-grid-card.png" loading="lazy" alt="plugins rotating around rings inside of composer spaces" class="plugins-grid-carwd-bkg">
              </div>
              <div id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b6d1-cb45b6a7" class="horizontal-line-wrap">
                <div class="horiozontal-line"></div>
              </div>
              <div id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b6d3-cb45b6a7" class="dxos_stack-card tables">
                <div class="spacer-huge card-spacer"></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">Tables</div>
                  <div class="text-style-muted">Build custom schemas to work with structured data inside of Composer.</div>
                </div><img src="/webflow/images/Tables-grid-card-bkg-no-border.png" loading="lazy" alt="A snapshot of DXOS tables with custom schema" class="tables-grid-card-bkg">
              </div>
              <div id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b6db-cb45b6a7" class="dxos_stack-card sheets">
                <div class="spacer-huge card-spacer"></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">Sheets</div>
                  <div class="text-style-muted">Leverage a local-first spreadsheet that supports custom functions.</div>
                </div><img src="/webflow/images/sheets-grid-card-bkg-no-border.png" loading="lazy" alt="A snapshot of DXOS sheets with custom functions" class="sheets-grid-card-bkg">
              </div>
              <div id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b6e3-cb45b6a7" class="dxos_stack-card sketch">
                <div class="spacer-huge"></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">Sketches</div>
                  <div class="text-style-muted">Embed diagrams and sketches to include them in your programatic workflows.</div>
                </div><img src="/webflow/images/Sketches-bkg-grid-card-no-border.png" loading="lazy" alt="Snapshot of a TLDraw canvas inside of Composer by DXOS" class="sketches-bkg-grid-card">
              </div>
              <div id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b6eb-cb45b6a7" class="horizontal-line-wrap">
                <div class="horiozontal-line"></div>
              </div>
              <div id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b6ed-cb45b6a7" class="dxos_stack-card short">
                <div class="card-text-wrapper">
                  <div class="dxos_stack-label">
                    <div>Coming Soon</div>
                  </div>
                  <div class="heading-style-h5">Custom Functions</div>
                  <div class="text-style-muted">Deploy custom functions that allow you to leverage data from any source and build programatic workflows inside of Composer.</div>
                </div>
                <div class="grid-corner-float"><img src="/webflow/images/Custom-Functions.png" loading="lazy" alt=""></div>
              </div>
              <div id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b6f8-cb45b6a7" class="horizontal-line-wrap">
                <div class="horiozontal-line"></div>
              </div>
              <div id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b6fa-cb45b6a7" class="dxos_stack-card short">
                <div class="card-text-wrapper">
                  <div class="dxos_stack-label">
                    <div>Coming Soon</div>
                  </div>
                  <div class="heading-style-h5">Artificial Intelligence</div>
                  <div class="text-style-muted">Leverage machine learning to build agentic workflows that enhance team productivity while protecting your intellectual property.</div>
                </div>
                <div class="grid-corner-float"><img src="/webflow/images/Composer-AI.png" loading="lazy" alt=""></div>
              </div>
              <a id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b705-cb45b6a7" href="#top" class="dxos_stack-card short right composer-cta w-inline-block">
                <div class="composer-grid-cta-ring-wrap">
                  <div class="w-embed"><img src="/webflow/svg/composer-rings.svg" alt="" width="512" height="512" loading="lazy" /></div>
                </div>
                <div class="display-inlineflex composer-cta">
                  <div class="heading-style-h5">Request Early Access</div>
                  <div class="icon-1x1-xsmall w-embed"><IconExternalLink size={32} /></div>
                </div>
              </a>
              <div id="w-node-_41002e10-b86a-cbf8-2679-4685cb45b70c-cb45b6a7" class="horizontal-line-wrap">
                <div class="horiozontal-line full"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="section_portal-intro">
          <div class="masthead-wrap">
            <div>
              <p class="all-caps is-blue">Composer by DXOS</p>
              <h2 blocks-non-deletable="true" class="heading-style-h1 balanced">Your new home for team collaboration</h2>
            </div>
            <p class="text-size-large text-style-muted balanced">Unify your data driven workflows with programable documents that are designed to enhance team collaboration</p>
          </div>
          <div class="composer-rings">
            <div class="composer-circle" data-rive-url="/webflow/images/home-hero-13.riv" data-rive-state-machine="State Machine 1" data-rive-artboard="animation_3d" data-rive-autoplay="true" data-rive-is-touch-scroll-enabled="false" data-rive-automatically-handle-events="false" data-rive-fit="contain" data-rive-alignment="center" data-animation-type="rive"><canvas style="height:100%;width:100%"></canvas></div>
            <div class="div-block-27">
              <div data-current="Tab 4" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
                <div class="circle-tabs-menu floating w-tab-menu">
                  <a data-w-tab="Tab 1" id="w-node-d90799aa-b9a2-5ea5-88cd-1b01d09ea10e-d09ea0ff" data-w-id="d90799aa-b9a2-5ea5-88cd-1b01d09ea10e" class="scroll-icon-outer tab floating _1 w-inline-block w-tab-link">
                    <div class="scroll-icon-inner tab floating">
                      <div class="w-embed"><img src="/webflow/svg/tabs/cloudless.svg" alt="" loading="lazy" /></div>
                    </div>
                  </a>
                  <a data-w-tab="Tab 2" id="w-node-d90799aa-b9a2-5ea5-88cd-1b01d09ea111-d09ea0ff" data-w-id="d90799aa-b9a2-5ea5-88cd-1b01d09ea111" class="scroll-icon-outer tab floating _2 w-inline-block w-tab-link">
                    <div class="scroll-icon-inner tab floating">
                      <div class="w-embed"><img src="/webflow/svg/tabs/ownership.svg" alt="" loading="lazy" /></div>
                    </div>
                  </a>
                  <a data-w-tab="Tab 3" id="w-node-d90799aa-b9a2-5ea5-88cd-1b01d09ea114-d09ea0ff" data-w-id="d90799aa-b9a2-5ea5-88cd-1b01d09ea114" class="scroll-icon-outer tab floating _3 w-inline-block w-tab-link">
                    <div class="scroll-icon-inner tab floating">
                      <div class="w-embed"><img src="/webflow/svg/tabs/sync.svg" alt="" loading="lazy" /></div>
                    </div>
                  </a>
                  <a data-w-tab="Tab 4" id="w-node-d90799aa-b9a2-5ea5-88cd-1b01d09ea117-d09ea0ff" data-w-id="d90799aa-b9a2-5ea5-88cd-1b01d09ea117" class="scroll-icon-outer tab floating _4 w-inline-block w-tab-link w--current">
                    <div class="scroll-icon-inner tab floating">
                      <div class="w-embed"><img src="/webflow/svg/tabs/functions.svg" alt="" loading="lazy" /></div>
                    </div>
                  </a>
                  <a data-w-tab="Tab 5" id="w-node-d90799aa-b9a2-5ea5-88cd-1b01d09ea11a-d09ea0ff" data-w-id="d90799aa-b9a2-5ea5-88cd-1b01d09ea11a" class="scroll-icon-outer tab floating _5 w-inline-block w-tab-link">
                    <div class="scroll-icon-inner tab floating">
                      <div class="w-embed"><img src="/webflow/svg/tabs/ai-sparkle.svg" alt="" loading="lazy" /></div>
                    </div>
                  </a>
                </div>
                <div class="circles-tab-content w-tab-content">
                  <div data-w-tab="Tab 1" class="circles-tab-pane-wrap w-tab-pane">
                    <div class="circles-tab-pane">
                      <div class="card-text-wrapper center">
                        <div class="heading-style-h5">Cloudless Collaboration</div>
                        <div class="text-size-large text-style-muted balanced">Leave the cloud behind and collaborate peer to peer on any supported data type</div>
                      </div>
                    </div>
                  </div>
                  <div data-w-tab="Tab 2" class="circles-tab-pane-wrap w-tab-pane">
                    <div class="circles-tab-pane">
                      <div class="card-text-wrapper center">
                        <div class="heading-style-h5">Own your work</div>
                        <div class="text-size-large text-style-muted balanced">You own everything inside of composer. No spyware, no algorithms, no lock-in.</div>
                      </div>
                    </div>
                  </div>
                  <div data-w-tab="Tab 3" class="circles-tab-pane-wrap w-tab-pane">
                    <div class="circles-tab-pane">
                      <div class="card-text-wrapper center">
                        <div class="heading-style-h5">Realtime Sync</div>
                        <div class="text-size-large text-style-muted balanced">Sync data p2p across connected devices in real time with no centralized servers.</div>
                      </div>
                    </div>
                  </div>
                  <div data-w-tab="Tab 4" class="circles-tab-pane-wrap w-tab-pane w--tab-active">
                    <div class="circles-tab-pane">
                      <div class="card-text-wrapper center">
                        <div class="dxos_stack-label space-below">
                          <div>Coming Soon</div>
                        </div>
                        <div class="heading-style-h5">Custom Functions</div>
                        <div class="text-size-large text-style-muted balanced">Deploy custom functions to manipulate data across tables, sheets, docs and diagrams.</div>
                      </div>
                    </div>
                  </div>
                  <div data-w-tab="Tab 5" class="circles-tab-pane-wrap w-tab-pane">
                    <div class="circles-tab-pane">
                      <div class="card-text-wrapper center">
                        <div class="dxos_stack-label space-below">
                          <div>Coming Soon</div>
                        </div>
                        <div class="heading-style-h5">Artificial Intelligence</div>
                        <div class="text-size-large text-style-muted balanced">Build custom agents that use your Composer data as a dynamic context window.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="circle-tabs-menu w-tab-menu">
                  <a data-w-tab="Tab 1" data-w-id="d90799aa-b9a2-5ea5-88cd-1b01d09ea148" class="scroll-icon-outer tab w-inline-block w-tab-link">
                    <div class="scroll-icon-inner tab">
                      <div class="w-embed"><img src="/webflow/svg/tabs/cloudless.svg" alt="" loading="lazy" /></div>
                    </div>
                  </a>
                  <a data-w-tab="Tab 2" data-w-id="d90799aa-b9a2-5ea5-88cd-1b01d09ea14b" class="scroll-icon-outer tab w-inline-block w-tab-link">
                    <div class="scroll-icon-inner tab">
                      <div class="w-embed"><img src="/webflow/svg/tabs/ownership.svg" alt="" loading="lazy" /></div>
                    </div>
                  </a>
                  <a data-w-tab="Tab 3" data-w-id="d90799aa-b9a2-5ea5-88cd-1b01d09ea14e" class="scroll-icon-outer tab w-inline-block w-tab-link">
                    <div class="scroll-icon-inner tab">
                      <div class="w-embed"><img src="/webflow/svg/tabs/sync.svg" alt="" loading="lazy" /></div>
                    </div>
                  </a>
                  <a data-w-tab="Tab 4" data-w-id="d90799aa-b9a2-5ea5-88cd-1b01d09ea151" class="scroll-icon-outer tab w-inline-block w-tab-link w--current">
                    <div class="scroll-icon-inner tab">
                      <div class="w-embed"><img src="/webflow/svg/tabs/functions.svg" alt="" loading="lazy" /></div>
                    </div>
                  </a>
                  <a data-w-tab="Tab 5" data-w-id="d90799aa-b9a2-5ea5-88cd-1b01d09ea154" class="scroll-icon-outer tab w-inline-block w-tab-link">
                    <div class="scroll-icon-inner tab">
                      <div class="w-embed"><img src="/webflow/svg/tabs/ai-sparkle.svg" alt="" loading="lazy" /></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="circles-highliight"></div>
              <div class="circles-highliight left"></div>
            </div>
            <div class="circles-tab-gradient-overlay"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="section-plugins-scroll-icons">
          <div class="masthead-wrap">
            <div>
              <p class="all-caps is-blue">Composer Plugins</p>
              <h2 blocks-non-deletable="true" class="heading-style-h1 balanced">Build your own plugins to add custom functionality</h2>
            </div>
            <p class="text-size-large text-style-muted balanced">Build custom plugins to manipulate data from external sources, connect your favorite LLM and build collaborative workflows to optimize team productivity.</p>
          </div>
          <div class="spacer-xhuge"></div>
          <div class="plugin-icon-scroll-wrap">
            <div data-w-id="fb48c484-bcf9-6be6-c970-530923ca3a07" class="icon-scroll-wrap-outer">
              <div class="icon-scroll-wrap">
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-01.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-02.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-03.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-04.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-05.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-06.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-07.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-08.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-09.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-10.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-11.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-12.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-13.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-14.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-15.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
              </div>
              <div class="icon-scroll-wrap">
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-01.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-02.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-03.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-04.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-05.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-06.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-07.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-08.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-09.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-10.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-11.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-12.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-13.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-14.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-15.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-id="fb48c484-bcf9-6be6-c970-530923ca3a64" class="icon-scroll-wrap-outer bottom">
              <div class="icon-scroll-wrap">
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-14.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-01.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-02.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-08.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-11.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-10.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-03.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-09.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-04.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-15.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-05.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-12.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-06.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-07.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-13.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
              </div>
              <div class="icon-scroll-wrap">
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-14.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-01.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-02.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-08.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-11.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-10.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-03.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-09.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-05.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-04.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-15.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-12.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-06.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-07.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
                <div class="scroll-icon-outer">
                  <div class="scroll-icon-inner">
                    <div class="w-embed"><img src="/webflow/svg/plugins/plugin-13.svg" alt="" width="65" height="65" loading="lazy" /></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="spacer-xhuge"></div>
        </div>
      </div>
      <div>
        <div class="section_grid">
          <div class="container-large">
            <div class="w-layout-grid feature-grid _3col">
              <div id="w-node-eec84aa4-5f4b-e9ad-7a85-f64b1e6ab2cf-1e6ab2cb" class="dxos_stack-header">
                <div class="all-caps is-blue">Features</div>
                <div class="heading-style-h2">Built for developers. By developers.</div>
                <div class="spacer-small"></div>
                <div class="text-style-muted">Everything inside of Composer is a plugin. This means you can leverage our core functionality or build out whatever you need to take your programatic workflows to the next level. </div>
              </div>
              <div id="w-node-eec84aa4-5f4b-e9ad-7a85-f64b1e6ab2d7-1e6ab2cb" class="dxos_stack-card small top">
                <div class="w-embed"><img src="/webflow/svg/plugins/plugin-16.svg" alt="" width="65" height="65" loading="lazy" /></div>
                <div class="spacer-large"></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">Presence</div>
                  <div class="text-style-muted balanced">Collaborate with your team using real-time presence indicators across various document formats.</div>
                </div>
              </div>
              <div id="w-node-eec84aa4-5f4b-e9ad-7a85-f64b1e6ab2df-1e6ab2cb" class="dxos_stack-card small">
                <div class="w-embed"><img src="/webflow/svg/plugins/plugin-17.svg" alt="" width="65" height="65" loading="lazy" /></div>
                <div class="spacer-large"></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">Markdown</div>
                  <div class="text-style-muted balanced">Experience realtime collaboration inside of a modern markdown document editor.</div>
                </div>
              </div>
              <div id="w-node-eec84aa4-5f4b-e9ad-7a85-f64b1e6ab2e7-1e6ab2cb" class="dxos_stack-card small middle">
                <div class="w-embed"><img src="/webflow/svg/plugins/plugin-18.svg" alt="" width="65" height="65" loading="lazy" /></div>
                <div class="spacer-large"></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">In-line comments</div>
                  <div class="text-style-muted balanced">Start threaded conversations across any supported data type and document format.</div>
                </div>
              </div>
              <div id="w-node-eec84aa4-5f4b-e9ad-7a85-f64b1e6ab2ef-1e6ab2cb" class="dxos_stack-card small">
                <div class="w-embed"><img src="/webflow/svg/plugins/plugin-19.svg" alt="" width="65" height="65" loading="lazy" /></div>
                <div class="spacer-large"></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">Realtime collaboration</div>
                  <div class="text-style-muted balanced">Sync data across devices with our real-time sync engine powered by our powerful <a href="/" class="link-highlight blue">local-first framework</a>
                  </div>
                </div>
              </div>
              <div id="w-node-eec84aa4-5f4b-e9ad-7a85-f64b1e6ab2f9-1e6ab2cb" class="dxos_stack-card small">
                <div class="w-embed"><img src="/webflow/svg/plugins/plugin-20.svg" alt="" width="65" height="65" loading="lazy" /></div>
                <div class="spacer-large"></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">Fuzzy search</div>
                  <div class="text-style-muted balanced">Explore your data and jump to anything instantly with fuzzy search in a command palette.</div>
                </div>
              </div>
              <div id="w-node-eec84aa4-5f4b-e9ad-7a85-f64b1e6ab301-1e6ab2cb" class="dxos_stack-card small middle">
                <div class="w-embed"><img src="/webflow/svg/plugins/plugin-21.svg" alt="" width="65" height="65" loading="lazy" /></div>
                <div class="spacer-large"></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">Tables</div>
                  <div class="text-style-muted balanced">Manage custom schema inside of composer to manipulate structured data inside of Composer</div>
                </div>
              </div>
              <div id="w-node-eec84aa4-5f4b-e9ad-7a85-f64b1e6ab309-1e6ab2cb" class="dxos_stack-card small">
                <div class="w-embed"><img src="/webflow/svg/plugins/plugin-22.svg" alt="" width="65" height="65" loading="lazy" /></div>
                <div class="spacer-large"></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">Diagrams</div>
                  <div class="text-style-muted balanced">Draw together in real-time and leverage your sketches inside of programmable workflows.</div>
                </div>
              </div>
              <div id="w-node-eec84aa4-5f4b-e9ad-7a85-f64b1e6ab311-1e6ab2cb" class="dxos_stack-card small">
                <div class="w-embed"><img src="/webflow/svg/plugins/plugin-23.svg" alt="" width="65" height="65" loading="lazy" /></div>
                <div class="spacer-large"></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">Files for humans</div>
                  <div class="text-style-muted balanced">Import and export your entire database as plain, human readable markdown, json, and media files.</div>
                </div>
              </div>
              <div id="w-node-eec84aa4-5f4b-e9ad-7a85-f64b1e6ab319-1e6ab2cb" class="dxos_stack-card small middle">
                <div class="w-embed"><img src="/webflow/svg/plugins/plugin-24.svg" alt="" width="65" height="65" loading="lazy" /></div>
                <div class="spacer-large"></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">Multitasking</div>
                  <div class="text-style-muted balanced">Work with multiple documents formats side-by-side inside of a single collaborative workspace.</div>
                </div>
              </div>
              <div id="w-node-eec84aa4-5f4b-e9ad-7a85-f64b1e6ab321-1e6ab2cb" class="dxos_stack-card small">
                <div class="w-embed"><img src="/webflow/svg/plugins/plugin-25.svg" alt="" width="65" height="65" loading="lazy" /></div>
                <div class="spacer-large"></div>
                <div class="card-text-wrapper">
                  <div class="heading-style-h5">Peer-to-peer sync</div>
                  <div class="text-style-muted balanced">Leverage our decentralized data graph for cloudless peer-to-peer networking.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section_page-cta">
        <div class="container-large">
          <div class="masthead-wrap">
            <div>
              <p class="all-caps is-blue">Try DXos</p>
              <h1 blocks-non-deletable="true" class="heading-style-h1 balanced">Explore our collaborative local-first workspace</h1>
            </div>
            <div class="button-group is-center">
              <div class="div-block-29">
                <div show-subscribe="" class="show-subscribe">
                  <div set-subscribe-cookie="" class="form-block w-form">
                    <form id="wf-form-Early-access" name="wf-form-Early-access" data-name="Early-access" redirect="/composer-welcome" data-redirect="/composer-welcome" method="post" class="early-access-form" data-wf-page-id="66fab71bdf95a9e03ee9018b" data-wf-element-id="45bd54de-42f6-1ba6-4ed5-39d157bbf0d4"><input class="form-input w-input" maxlength="256" name="Email" data-name="Email" placeholder="Email" type="email" id="Email" required=""><input type="submit" data-wait="Please wait..." set-subscribe-cookie="" data-w-id="45bd54de-42f6-1ba6-4ed5-39d157bbf0d6" class="button is-secondary w-button" value="Request Access"></form>
                    <div class="success-message w-form-done">
                      <div>Thank you! Check your email to confirm your address</div>
                    </div>
                    <div class="error-message w-form-fail">
                      <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                  </div>
                </div>
                <div show-welcome="" class="show-welcome">
                  <div class="welcome-grid_card">
                    <div class="card-text-wrapper">
                      <div class="heading-style-h5">You&#x27;re on the list! </div>
                      <div class="text-style-muted balanced">Please check your email to confirm your subscription. </div>
                    </div>
                    <a data-w-id="d62d14e8-33a4-86a7-ca92-681e94fce8b4" href="composer-welcome.html" class="button is-secondary w-inline-block">
                      <div>Welcome </div>
                      <div class="icon-1x1-xxsmall nav-arrow w-embed"><IconExternalLink /></div>
                    </a>
                    <div class="spacer-small"></div>
                    <div class="display-inlineflex hide-mobile">
                      <a href="https://github.com/dxos" target="_blank" class="button is-link is-icon-only c w-inline-block">
                        <div class="icon-1x1-xsmall w-embed"><IconGitHub /></div>
                      </a>
                      <a href="https://discord.gg/eXVfryv3sW" target="_blank" class="button is-link is-icon-only c w-inline-block">
                        <div class="icon-1x1-xsmall w-embed"><IconDiscord /></div>
                      </a>
                      <a href="https://x.com/dxos_org" target="_blank" class="button is-link is-icon-only c w-inline-block">
                        <div class="icon-1x1-xsmall w-embed"><IconX /></div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="https://docs.dxos.org/guide/" target="_blank" class="button is-tertiary w-inline-block">
                <div>Read Docs</div>
                <div class="icon-1x1-xxsmall nav-arrow w-embed"><IconExternalLink /></div>
              </a>
            </div>
          </div>
        </div>
        <div class="page-cta-bkg-wrap">
          <div class="cta-streaks w-embed"><img src="/webflow/svg/cta-streaks-composer.svg" alt="" width="3201" height="1502" loading="lazy" /></div>
        </div>
      </div>
  <WebflowFooter accent="blue" />
</WebflowLayout>
