version: 1

runtime:
  client:
    storage:
      persistent: true
      path: /tmp/dx/cli

  services:
    ipfs:
      server: http://127.0.0.1:5001/
      gateway: http://127.0.0.1:8888/ipfs
    signal:
      server: ws://127.0.0.1:9002/.well-known/dx/signal
    ice:
      - urls: turn:127.0.0.1:3478
        username: dxos
        credential: dxos
    publisher:
      server: ws://127.0.0.1/.well-known/dx/deploy
    machine:
      doAccessToken: ''
