@layer utilities {
  .attention-surface {
    --surface-bg: var(--dx-attention);
    background-color: var(--surface-bg);
  }
}

@layer components {
  .attention-within:focus-within {
    --surface-bg: var(--dx-attention);
    --surface-separator: var(--dx-separator);
  }

  .group\/attention:not(:focus-within) .attention-current[aria-current] {
    --surface-bg: var(--dx-attention);
    --surface-separator: var(--dx-separator);
  }

  .attention-static,
  .attention-within.attention-static {
    --surface-bg: var(--dx-attention);
    --surface-separator: var(--dx-separator);
  }
}
