@layer utilities {
  /* If an element should apply attention-related color tokens, it should use this class. */
  .attention-surface {
    --surface-separator: transparent;
    background-color: var(--surface-bg);
    border-color: var(--surface-separator);
  }
}

/* Utilities below control _how_ an element becomes attended. */
@layer components {
  /* If an element is attended this attribute will be set. */
  [data-is-attention-source] {
    --surface-bg: var(--dx-attention);
    --surface-separator: var(--dx-separator);
  }

  /* Used to style elements which are _related_ to the currently attended element. */
  .current-related[aria-current] {
    /*
      NOTE(wittjosiah): Current these colors are the same, but they could be different.
        If they are different, a background transition is likely required to avoid flashing.
    */
    --surface-bg: var(--dx-currentRelated);
    &:focus-within {
      --surface-bg: var(--dx-attention);
    }
  }

  .attention-placeholder-host {
    &::before {
      content: "";
      display: block;
      grid-row-start: 2;
      background-color: var(--surface-bg);
      flex: 1 1 0;
    }
    &:has(> :not([data-dx-attention-placeholder-ignore]))::before {
      display: none;
    }
  }
}
