@layer dx-base {
  :root {
    touch-action: pan-x pan-y;
    font-synthesis: none;
    font-variation-settings: 'wght' 400,
    'slnt' 0;
    scroll-padding-block-start: theme(spacing.14);
    scroll-padding-block-end: theme(spacing.2);
    @apply font-body;
  }

  button {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer dx-tokens {
  html, html.dark, html .dark {
    background-color: var(--dx-baseSurface);
    --surface-bg: var(--dx-baseSurface);
    color: var(--dx-baseText);
    --surface-text: var(--dx-baseText);
    --description-text: var(--dx-description);
  }
}