@layer dx-components {
  .dx-dialog__overlay {
    @apply fixed z-50 inset-inline-0 block-start-0 bs-dvh bg-scrimSurface overflow-auto grid place-items-center;
    padding-block-start: max(env(safe-area-inset-top) , .6rem);
    padding-inline: .6rem;
    @media (min-width: theme('screens.md')) {
      @apply p-[calc(env(safe-area-inset-top)+1.2rem)];
    }
    @media (min-width: theme('screens.lg')) {
      @apply p-[calc(env(safe-area-inset-top)+2.4rem)];
    }
    &[data-block-align="start"]{
      align-items: start;
      justify-items: center;
    }
    &[data-block-align="center"]{
      place-items: center;
    }
    &[data-block-align="end"]{
      align-items: end;
      justify-items: center;
    }
  }
  .dx-dialog__content {
    /* TODO(thure): `flex` should not be default. */
    @apply flex flex-col max-is-full p-4 animate-slideUpAndFade shadow-md backdrop-blur is-[95dvw] border rounded-md border-separator;
    will-change: opacity, transform;
    @media (min-width: theme('screens.md')) {
      @apply max-is-[24rem];
    }
  }
  .dx-dialog__title {
    @apply rounded shrink-0 text-xl font-medium;
  }
  .dx-dialog__description {
    @apply mlb-2;
  }
}
