@layer dx-base {
  body[data-drag-preview] {
    i[data-tabster-dummy] {
      display: none;
    }
  }
}

@layer utilities {
  body[data-drag-preview] {
    .drag-preview-p-0 {
      padding-inline-start: 0;
      padding-inline-end: 0;
      padding-block-start: 0;
      padding-block-end: 0;
    }
  }
}