@layer utilities {
  .dx-focus-ring, .dx-focus-ring-inset {
    &:not([disabled]),
    &[disabled='false'] {
      &:focus {
        @apply outline-none;
      }

      &:focus-visible {
        @apply ring-[length:var(--dx-focusLine)] ring-offset-[length:var(--dx-focusOffset)] z-[1] ring-accentFocusIndicator;

        &:hover {
          @apply outline-none;

          .dark & {
            @apply outline-none;
          }
        }
      }
    }
  }

  .dx-focus-ring-group {
    &:not([disabled]),
    &[disabled='false'] {
      &:focus {
        @apply outline-none;
      }

      &:focus-visible .dx-focus-ring-group-indicator {
        @apply ring-[length:var(--dx-focusLine)] ring-offset-[length:var(--dx-focusOffset)] ring-accentFocusIndicator;

        &:hover {
          @apply outline-none;

          .dark & {
            @apply outline-none;
          }
        }
      }
    }
  }

  .dx-focus-ring-inset {
    &:not([disabled]),
    &[disabled='false'] {
      &:focus-visible {
        @apply ring-inset;
      }
    }
  }

  .dx-focus-ring-inset-over-all, .dx-focus-ring-main[data-handles-focus="true"] {
    &:not([disabled]),
    &[disabled='false'] {
      &::after {
        content: "";
        @apply z-20 pointer-events-none;
      }

      &:focus {
        @apply outline-none;
      }

      &:focus-visible {
        &::after {
          @apply ring-[length:var(--dx-focusLine)] ring-offset-[length:var(--dx-focusOffset)] ring-inset z-[1] ring-accentFocusIndicator;
        }

        &:hover {
          @apply outline-none;

          .dark & {
            @apply outline-none;
          }
        }
      }
    }
  }
  .dx-focus-ring-inset-over-all {
    &:not([disabled]),
    &[disabled='false'] {
      &::after {
        @apply inset-0 absolute;
      }
    }
  }
  .dx-focus-ring-main[data-handles-focus="true"] {
    &:not([disabled]),
    &[disabled='false'] {
      &::after {
        position: fixed;
        inset-block-start: 0;
        inset-inline: 0;
        inset-block-end: var(--statusbar-size);
      }
      @media screen(lg) {
        &[data-sidebar-inline-start-state="open"]::after {
          inset-inline-start: var(--nav-sidebar-size);
        }
        &[data-sidebar-inline-end-state="open"]::after {
          inset-inline-end: var(--complementary-sidebar-size);
        }
      }
    }
  }
}
