@layer dx-components {
  .dx-text-hue[data-hue='red'],
  .dx-text-hue--red {
    @apply text-redText;
  }

  .dx-text-hue[data-hue='orange'],
  .dx-text-hue--orange {
    @apply text-orangeText;
  }

  .dx-text-hue[data-hue='amber'],
  .dx-text-hue--amber {
    @apply text-amberText;
  }

  .dx-text-hue[data-hue='yellow'],
  .dx-text-hue--yellow {
    @apply text-yellowText;
  }

  .dx-text-hue[data-hue='lime'],
  .dx-text-hue--lime {
    @apply text-limeText;
  }

  .dx-text-hue[data-hue='green'],
  .dx-text-hue--green {
    @apply text-greenText;
  }

  .dx-text-hue[data-hue='emerald'],
  .dx-text-hue--emerald {
    @apply text-emeraldText;
  }

  .dx-text-hue[data-hue='teal'],
  .dx-text-hue--teal {
    @apply text-tealText;
  }

  .dx-text-hue[data-hue='cyan'],
  .dx-text-hue--cyan {
    @apply text-cyanText;
  }

  .dx-text-hue[data-hue='sky'],
  .dx-text-hue--sky {
    @apply text-skyText;
  }

  .dx-text-hue[data-hue='blue'],
  .dx-text-hue--blue {
    @apply text-blueText;
  }

  .dx-text-hue[data-hue='indigo'],
  .dx-text-hue--indigo {
    @apply text-indigoText;
  }

  .dx-text-hue[data-hue='violet'],
  .dx-text-hue--violet {
    @apply text-violetText;
  }

  .dx-text-hue[data-hue='purple'],
  .dx-text-hue--purple {
    @apply text-purpleText;
  }

  .dx-text-hue[data-hue='fuchsia'],
  .dx-text-hue--fuchsia {
    @apply text-fuchsiaText;
  }

  .dx-text-hue[data-hue='pink'],
  .dx-text-hue--pink {
    @apply text-pinkText;
  }

  .dx-text-hue[data-hue='rose'],
  .dx-text-hue--rose {
    @apply text-roseText;
  }

  /*
   * System colors.
   */

  .dx-text-hue[data-hue='info'],
  .dx-text-hue--info {
    @apply text-cyanText;
  }

  .dx-text-hue[data-hue='success'],
  .dx-text-hue--success {
    @apply text-emeraldText;
  }

  .dx-text-hue[data-hue='warning'],
  .dx-text-hue--warning {
    @apply text-amberText;
  }

  .dx-text-hue[data-hue='error'],
  .dx-text-hue--error {
    @apply text-roseText;
  }
}