/* Main component classes */

@layer utilities {

  .ch-main-content-padding {
    @apply pis-0 scroll-ps-0 pie-0 scroll-pe-0;

    @media (min-width: theme('screens.lg')) {
      &[data-sidebar-inline-start-state="expanded"] {
        @apply pis-[--nav-sidebar-size] scroll-ps-[--nav-sidebar-size];
      }
      &[data-sidebar-inline-start-state="collapsed"] {
        @apply pis-[--l0-size] scroll-ps-[--l0-size];
      }

      &[data-sidebar-inline-end-state="expanded"] {
        @apply pie-[--complementary-sidebar-size] scroll-pe-[--complementary-sidebar-size];
      }
    }
  }

  .ch-main-content-padding-transitions {
    transition-property: padding-inline-start, padding-inline-end, scroll-padding-start, scroll-padding-end;
    @apply duration-200 ease-in-out-symmetric;
  }

  .ch-main-intrinsic-size {
    @apply is-dvw transition-[inline-size] ease-in-out-symmetric duration-200;

    @media (min-width: theme('screens.lg')) {
      &[data-sidebar-inline-start-state="expanded"] {
        inline-size: calc(100dvw - var(--nav-sidebar-size));
      }
      &[data-sidebar-inline-start-state="collapsed"] {
        inline-size: calc(100dvw - var(--l0-size));
      }

      &[data-sidebar-inline-start-state="closed"][data-sidebar-inline-end-state="expanded"] {
        inline-size: calc(100dvw - var(--complementary-sidebar-size));
      }

      &[data-sidebar-inline-start-state="collapsed"][data-sidebar-inline-end-state="expanded"] {
        inline-size: calc(100dvw - var(--l0-size) - var(--complementary-sidebar-size));
      }

      &[data-sidebar-inline-start-state="expanded"][data-sidebar-inline-end-state="expanded"] {
        inline-size: calc(100dvw - var(--nav-sidebar-size) - var(--complementary-sidebar-size));
      }
    }
  }

  .ch-main-bounce-layout {
    @apply fixed inset-0 z-0 overflow-auto overscroll-auto
  }

}

@layer dx-components {

  .ch-main-sidebar {
    @apply fixed overscroll-contain overflow-x-hidden overflow-y-auto;
    @apply duration-200 ease-in-out-symmetric;
    @apply border border-separator rounded-lg;
    @apply base-surface md:fixed-surface backdrop-blur-md dark:backdrop-blur-lg;

    transition-property: inset-inline-start, inset-inline-end, inline-size;
    inset-block-start: max(.5rem, env(safe-area-inset-top));
    inset-block-end: max(.5rem, env(safe-area-inset-bottom));
    inline-size: calc(100dvw - 3rem);
    z-index: 7;

    @media (min-width: theme('screens.lg')) {
      @apply block-start-0 block-end-0 rounded-none border-lb-0;
    }

    &[data-resizing="false"] {
      @apply duration-200;
    }

    &[data-side="is"] {
      @apply -inline-start-[100vw] border-ie border-separator;
      z-index: 8;

      &[data-state="expanded"] {
        inset-inline-start: max(.5rem, env(safe-area-inset-left));
        @media (min-width: theme('screens.lg')) {
          @apply inline-start-0;
        }
      }

      @media (min-width: theme('screens.sm')) {
        @apply is-[--nav-sidebar-size];
      }

      @media (min-width: theme('screens.lg')) {
        @apply border-is-0;

        &[data-state="collapsed"] {
          @apply is-[--l0-size] inline-start-0;
        }
        &[data-state="expanded"] {
          @apply is-[--nav-sidebar-size];
        }
      }
    }

    &[data-side="ie"] {
      @apply -inline-end-[100vw] border-is border-separator;

      @media (min-width: theme('screens.lg')) {
        @apply border-ie-0;
      }

      &[data-state="expanded"] {
        inset-inline-end: max(.5rem, env(safe-area-inset-right));
        @media (min-width: theme('screens.lg')) {
          @apply inline-end-0;
        }
      }

      @media (min-width: theme('screens.sm')) {
        @apply is-[--complementary-sidebar-size] -inline-end-[--complementary-sidebar-size];
      }
    }
  }

  .ch-main-overlay {
    @apply fixed inset-0 bg-scrim;
    @apply transition-opacity duration-200 ease-in-out-symmetric;
    @apply opacity-0 hidden;
    z-index: 6;

    &[data-state="open"] {
      @apply opacity-100 block;

      @media (min-width: theme('screens.lg')) {
        @apply opacity-100 hidden;
      }
    }
  }
}
