@layer utilities {

  .app-drag {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    --app-region: drag;
  }

  .app-no-drag {
    -webkit-app-region: no-drag;
    --app-region: no-drag;
  }

}
