@layer utilities {
  .base-surface {
    background-color: var(--dx-base);
    --surface-bg: var(--dx-base);
    --input-bg: var(--dx-input);
    --input-bg-hover: var(--dx-hoverSurface);
  }

  .dark .base-surface {
    background-color: var(--dx-base);
    --surface-bg: var(--dx-base);
    --input-bg: var(--dx-input);
    --input-bg-hover: var(--dx-hoverSurface);
  }

  .fixed-surface {
    background-color: var(--dx-base);
    --surface-bg: var(--dx-base);
    --input-bg: var(--dx-input);
    --input-bg-hover: var(--dx-hoverSurface);
  }

  .dark .fixed-surface {
    background-color: var(--dx-base);
    --surface-bg: var(--dx-base);
    --input-bg: var(--dx-input);
    --input-bg-hover: var(--dx-hoverSurface);
  }

  .modal-surface {
    background-color: var(--dx-modalSurface);
    --surface-bg: var(--dx-modalSurface);
  }

  .dark .modal-surface {
    background-color: var(--dx-modalSurface);
    --surface-bg: var(--dx-modalSurface);
  }
}
