@layer utilities {
  .base-surface {
    background-color: var(--dx-bg-base);
    --surface-bg: var(--dx-bg-base);
    --input-bg: var(--dx-bg-input);
    --input-bg-hover: var(--dx-bg-hover);
  }

  .dark .base-surface {
    background-color: var(--dx-bg-base);
    --surface-bg: var(--dx-bg-base);
    --input-bg: var(--dx-bg-input);
    --input-bg-hover: var(--dx-bg-hover);
  }

  .fixed-surface {
    background-color: var(--dx-bg-base);
    --surface-bg: var(--dx-bg-base);
    --input-bg: var(--dx-bg-input);
    --input-bg-hover: var(--dx-bg-hover);
  }

  .dark .fixed-surface {
    background-color: var(--dx-bg-base);
    --surface-bg: var(--dx-bg-base);
    --input-bg: var(--dx-bg-input);
    --input-bg-hover: var(--dx-bg-hover);
  }

  .modal-surface {
    background-color: var(--dx-bg-modal);
    --surface-bg: var(--dx-bg-modal);
  }

  .dark .modal-surface {
    background-color: var(--dx-bg-modal);
    --surface-bg: var(--dx-bg-modal);
  }
}
