@layer dx-tokens {
  :root {
    --dx-tag-padding-block: 0.125rem;
  }
}

@layer dx-components {
  .dx-tag {
    @apply inline-block text-xs font-semibold m-0.5 pli-1 rounded-sm cursor-default truncate;
    padding-block: var(--dx-tag-padding-block);
    user-select: none;
  }

  .dx-tag--anchor {
    /* NOTE: Margin offsets padding so that border is flush with text. */
    @apply inline cursor-pointer -mis-0.5 -mie-0.5 pli-1 plb-0.5 border border-separator rounded-sm bg-groupSurface transition-colors;

    &:hover {
      @apply bg-hoverSurface;
    }
  }

  .dx-tag[data-hue='neutral'],
  .dx-tag--neutral {
    @apply bg-separator text-neutral-700 dark:text-neutral-150;
  }

  .dx-tag[data-hue='red'],
  .dx-tag--red {
    @apply bg-redSurface text-redSurfaceText;
  }

  .dx-tag[data-hue='orange'],
  .dx-tag--orange {
    @apply bg-orangeSurface text-orangeSurfaceText;
  }

  .dx-tag[data-hue='amber'],
  .dx-tag--amber {
    @apply bg-amberSurface text-amberSurfaceText;
  }

  .dx-tag[data-hue='yellow'],
  .dx-tag--yellow {
    @apply bg-yellowSurface text-yellowSurfaceText;
  }

  .dx-tag[data-hue='lime'],
  .dx-tag--lime {
    @apply bg-limeSurface text-limeSurfaceText;
  }

  .dx-tag[data-hue='green'],
  .dx-tag--green {
    @apply bg-greenSurface text-greenSurfaceText;
  }

  .dx-tag[data-hue='emerald'],
  .dx-tag--emerald {
    @apply bg-emeraldSurface text-emeraldSurfaceText;
  }

  .dx-tag[data-hue='teal'],
  .dx-tag--teal {
    @apply bg-tealSurface text-tealSurfaceText;
  }

  .dx-tag[data-hue='cyan'],
  .dx-tag--cyan {
    @apply bg-cyanSurface text-cyanSurfaceText;
  }

  .dx-tag[data-hue='sky'],
  .dx-tag--sky {
    @apply bg-skySurface text-skySurfaceText;
  }

  .dx-tag[data-hue='blue'],
  .dx-tag--blue {
    @apply bg-blueSurface text-blueSurfaceText;
  }

  .dx-tag[data-hue='indigo'],
  .dx-tag--indigo {
    @apply bg-indigoSurface text-indigoSurfaceText;
  }

  .dx-tag[data-hue='violet'],
  .dx-tag--violet {
    @apply bg-violetSurface text-violetSurfaceText;
  }

  .dx-tag[data-hue='purple'],
  .dx-tag--purple {
    @apply bg-purpleSurface text-purpleSurfaceText;
  }

  .dx-tag[data-hue='fuchsia'],
  .dx-tag--fuchsia {
    @apply bg-fuchsiaSurface text-fuchsiaSurfaceText;
  }

  .dx-tag[data-hue='pink'],
  .dx-tag--pink {
    @apply bg-pinkSurface text-pinkSurfaceText;
  }

  .dx-tag[data-hue='rose'],
  .dx-tag--rose {
    @apply bg-roseSurface text-roseSurfaceText;
  }

  .dx-tag[data-hue='info'],
  .dx-tag--info {
    @apply bg-cyanSurface text-cyanSurfaceText;
  }

  .dx-tag[data-hue='success'],
  .dx-tag--success {
    @apply bg-emeraldSurface text-emeraldSurfaceText;
  }

  .dx-tag[data-hue='warning'],
  .dx-tag--warning {
    @apply bg-amberSurface text-amberSurfaceText;
  }

  .dx-tag[data-hue='error'],
  .dx-tag--error {
    @apply bg-roseSurface text-roseSurfaceText;
  }
}
