.tl-container.tl-theme__light {
  /* Converted */
  /* General */
  --color-accent: var(--color-accent);
  --color-background: var(--surface-bg); /* Main background. */

  /* Panels *
  --color-panel: theme(colors.neutral.50);
  --color-divider: theme(colors.neutral.75); /* Separator light. */
  --color-panel-contrast: theme(colors.neutral.25);
  --color-panel-overlay: rgba(255, 255, 255, 0.82);

  /* Unmodified.
  --color-brush-fill: rgba(144, 144, 144, 0.102);
  --color-brush-stroke: rgba(144, 144, 144, 0.251);
  --color-grid: rgba(144, 144, 144, 0.902);
  --color-low: rgb(237, 240, 242);
  --color-culled: rgb(235, 238, 240);
  --color-muted-0: rgba(0, 0, 0, 0.02);
  --color-muted-1: rgba(0, 0, 0, 0.1);
  --color-muted-2: rgba(0, 0, 0, 0.035);
  --color-hint: rgba(0, 0, 0, 0.055);
  --color-overlay: rgba(0, 0, 0, 0.2);
  --color-focus: #004094;
  --color-selected: #2f80ed;
  --color-selected-contrast: #ffffff;
  --color-selection-fill: #1e90ff06;
  --color-selection-stroke: #2f80ed;
  --color-text-0: #1d1d1d;
  --color-text-1: #2d2d2d;
  --color-text-2: #5f6369;
  --color-text-3: #b6b7ba;
  --color-primary: #2f80ed;
  --color-warn: #d10b0b;
  --color-text: #000000;
  --color-laser: #ff0000;
  --shadow-1: 0px 1px 2px rgba(0, 0, 0, 0.22), 0px 1px 3px rgba(0, 0, 0, 0.09);
  --shadow-2: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 3px rgba(0, 0, 0, 0.24), 0px 2px 6px rgba(0, 0, 0, 0.1),
    inset 0px 0px 0px 1px var(--color-panel-contrast);
  --shadow-3: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 2px 6px rgba(0, 0, 0, 0.14),
    inset 0px 0px 0px 1px var(--color-panel-contrast);
  --shadow-4: 0px 0px 3px rgba(0, 0, 0, 0.16), 0px 5px 4px rgba(0, 0, 0, 0.16), 0px 2px 16px rgba(0, 0, 0, 0.06),
    inset 0px 0px 0px 1px var(--color-panel-contrast);
*/
}

.tl-container.tl-theme__dark {
  /* Converted */
  /* General */
  --color-accent: var(--color-accent);
  --color-background: var(--surface-bg);

  /* Panels */
  --color-divider: theme(colors.neutral.750); /* Separator dark. */
  --color-panel: theme(colors.neutral.900);
  --color-panel-contrast: theme(colors.neutral.750);
  --color-panel-overlay: rgba(54, 61, 68, 0.82);

  /* Unmodified.
  --color-brush-fill: rgba(180, 180, 180, 0.05);
  --color-brush-stroke: rgba(180, 180, 180, 0.25);
  --color-grid: #909090e6;
  --color-low: #2c3136;
  --color-culled: rgb(47, 52, 57);
  --color-muted-0: rgba(255, 255, 255, 0.02);
  --color-muted-1: rgba(255, 255, 255, 0.1);
  --color-muted-2: rgba(255, 255, 255, 0.05);
  --color-hint: rgba(255, 255, 255, 0.1);
  --color-overlay: rgba(0, 0, 0, 0.35);
  --color-focus: #a5c3f3;
  --color-selected: #4285f4;
  --color-selected-contrast: #ffffff;
  --color-selection-fill: rgba(38, 150, 255, 0.05);
  --color-selection-stroke: #2f80ed;
  --color-text-0: #f0eded;
  --color-text-1: #d9d9d9;
  --color-text-2: #8e9094;
  --color-text-3: #515a62;
  --color-primary: #2f80ed;
  --color-warn: #d10b0b;
  --color-text: #f8f9fa;
  --color-laser: #ff0000;
  --shadow-1: 0px 1px 2px #00000029, 0px 1px 3px #00000038, inset 0px 0px 0px 1px var(--color-panel-contrast);
  --shadow-2: 0px 1px 3px #00000077, 0px 2px 6px #00000055, inset 0px 0px 0px 1px var(--color-panel-contrast);
  --shadow-3: 0px 1px 3px #00000077, 0px 2px 12px rgba(0, 0, 0, 0.22), inset 0px 0px 0px 1px var(--color-panel-contrast);
  */
}
