@layer dx-tokens {
  @tokens dx;

  :root {
    /* Recitations */
    --surface-bg: var(--dx-baseSurface);
    --surface-text: var(--dx-baseText);
    --description-text: var(--dx-description);
    --sticky-top: 0;

    /* Lengths / sizes */

    --rail-content: 3rem;
    --rail-size: calc(var(--rail-content) + 1px);
    --rail-action: calc(var(--rail-content) - .5rem);
    --rail-item: calc(var(--rail-content) - 1rem);
    --topbar-size: var(--rail-size);
    --statusbar-size: theme(spacing.8);
    --nav-sidebar-size: 22.5rem;
    --l0-size: 74px;
    --l1-size: calc(var(--nav-sidebar-size) - var(--l0-size));
    --complementary-sidebar-size: 22.5rem;
    --r0-size: var(--rail-size);
    --r1-size: calc(var(--complementary-sidebar-size) - var(--r0-size));
    --text-content: calc(50rem - env(safe-area-inset-left) - env(safe-area-inset-right));
  }
}
