/**
 * Copyright 2022 DXOS.org
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Base Style.
 * https://tailwindcss.com/docs/adding-base-styles
 */
@layer base {
  html {
    font-family: Montserrat, ui-sans-serif;
    font-weight: 400;
    @apply text-gray-800;
  }

  body {
    /* Prevent bounce. */
    overflow: hidden;
    background-color: #DDD;
  }
}
