/**
 * Attention
 */
@layer utilities {
  /* If an element should apply attention-related color tokens, it should use this class. */
  .attention-surface {
    --surface-separator: transparent;
    background-color: var(--color-base-surface);
    border-color: var(--dx-separator);
  }
}
