/**
 * Base utilities.
 */
@layer dx-base {
  :root {
    color-scheme: light;
    touch-action: pan-x pan-y;
    font-synthesis: none;
    font-variation-settings: 'wght' 400,
    'slnt' 0;
    scroll-padding-block-start: theme(spacing.14);
    scroll-padding-block-end: theme(spacing.2);
    @apply font-body;
  }

  button {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer dx-tokens {
  .dark {
    color-scheme: dark;
  }

  html, html.dark, html .dark {
    background-color: var(--color-base-surface);
    color: var(--color-base-text);
    --surface-bg: var(--color-base-surface);
    --surface-text: var(--color-base-text);
    --description-text: var(--color-description);
  }
}