/**
 * Dialog
 */
@layer dx-components {
  .dx-dialog__overlay {
    @apply z-50 fixed grid inset-x-0 top-0 block-dvh py-[env(safe-area-inset-top)] place-items-center overflow-auto bg-scrim-surface;
    
    &[data-state='open'] {
      @apply animate-fade-in;
    }

    &[data-state='closed'] {
      @apply animate-fade-out;
    }

    &[data-block-align='start'] {
      align-items: start;
      justify-items: center;
    }

    &[data-block-align='center'] {
      place-items: center;
    }

    &[data-block-align='end'] {
      align-items: end;
      justify-items: center;
    }
  }

  @media (min-width: theme('screens.sm')) {
    .dx-dialog__overlay {
      @apply p-[calc(env(safe-area-inset-top)+.6rem)];
    }
  }

  @media (min-width: theme('screens.md')) {
    .dx-dialog__overlay {
      @apply p-[calc(env(safe-area-inset-top)+1.2rem)];
    }
  }

  @media (min-width: theme('screens.lg')) {
    .dx-dialog__overlay {
      @apply p-[calc(env(safe-area-inset-top)+2.4rem)];
    }
  }

  .dx-dialog__content {
    @apply flex flex-col inline-dvw max-block-full max-inline-full p-4 overflow-hidden shadow-md backdrop-blur;

    &[data-state='open'] {
      @apply animate-slide-up-and-fade;
    }

    &[data-state='closed'] {
      @apply animate-slide-down-and-fade;
    }
  }

  @media (min-width: theme('screens.sm')) {
    .dx-dialog__content {
      @apply inline-[95vw] border rounded-md border-separator;
    }
  }

  @media (min-width: theme('screens.md')) {
    .dx-dialog__content {
      @apply max-inline-[24rem];
    }
  }

  .dx-dialog__title {
    @apply shrink-0 text-xl font-medium;
  }
}