:root, .dark {
  --dx-red-100: rgb(100% 79.878% 77.019%);
  --dx-red-200: rgb(100% 61.459% 57.612%);
  --dx-red-300: rgb(94.435% 44.607% 41.115%);
  --dx-red-400: rgb(85.83% 25.683% 24.45%);
  --dx-red-500: rgb(76.255% 0% 2.6876%);
  --dx-red-550: rgb(66.434% 0% 1.2039%);
  --dx-red-700: rgb(38.671% 0% 0%);
  --dx-red-800: rgb(21.861% 0% 0%);

  --dx-orange-100: rgb(100% 80.88% 69.031%);
  --dx-orange-200: rgb(100% 63.357% 43.816%);
  --dx-orange-300: rgb(93.994% 46.914% 19.627%);
  --dx-orange-400: rgb(83.785% 30.848% 0%);
  --dx-orange-500: rgb(66.195% 22.718% 0%);
  --dx-orange-550: rgb(57.696% 18.803% 0%);
  --dx-orange-700: rgb(33.608% 7.6965% 0%);
  --dx-orange-800: rgb(18.97% 1.4722% 0%);

  --dx-amber-100: rgb(100% 82.189% 57.251%);
  --dx-amber-200: rgb(97.265% 67.228% 30.953%);
  --dx-amber-300: rgb(88.764% 52.212% 0%);
  --dx-amber-400: rgb(72.624% 41.865% 0%);
  --dx-amber-500: rgb(57.122% 31.95% 0%);
  --dx-amber-550: rgb(49.641% 27.172% 0%);
  --dx-amber-700: rgb(28.45% 13.69% 0%);
  --dx-amber-800: rgb(15.599% 5.5762% 0%);

  --dx-yellow-100: rgb(97.976% 85.942% 54.019%);
  --dx-yellow-200: rgb(88.651% 72.34% 23.975%);
  --dx-yellow-300: rgb(77.632% 59.319% 0%);
  --dx-yellow-400: rgb(63.3% 47.876% 0%);
  --dx-yellow-500: rgb(49.547% 36.903% 0%);
  --dx-yellow-550: rgb(42.915% 31.613% 0%);
  --dx-yellow-700: rgb(24.129% 16.681% 0%);
  --dx-yellow-800: rgb(12.766% 7.6869% 0%);

  --dx-lime-100: rgb(88.23% 89.814% 56.674%);
  --dx-lime-200: rgb(76.262% 77.552% 29.404%);
  --dx-lime-300: rgb(64.678% 65.253% 0%);
  --dx-lime-400: rgb(52.44% 52.872% 0%);
  --dx-lime-500: rgb(40.701% 40.995% 0%);
  --dx-lime-550: rgb(35.042% 35.269% 0%);
  --dx-lime-700: rgb(19.048% 19.086% 0%);
  --dx-lime-800: rgb(9.4073% 9.3261% 0%);

  --dx-green-100: rgb(77.044% 93.004% 64.354%);
  --dx-green-200: rgb(60.981% 81.788% 42.661%);
  --dx-green-200\/\.5: rgb(60.981% 81.788% 42.661% / 0.5);
  --dx-green-300: rgb(45.164% 70.554% 15.613%);
  --dx-green-400: rgb(32.027% 58.549% 0%);
  --dx-green-500: rgb(23.919% 45.622% 0% / none);
  --dx-green-500: rgb(23.919% 45.622% 0%);
  --dx-green-550: rgb(20.001% 39.39% 0%);
  --dx-green-600: rgb(16.207% 33.324% 0%);
  --dx-green-600\/\.5: rgb(16.207% 33.324% 0% / 0.5);
  --dx-green-700: rgb(9.0016% 21.757% 0%);
  --dx-green-800: rgb(2.5605% 11.103% 0%);

  --dx-emerald-100: rgb(66.452% 94.946% 74.659%);
  --dx-emerald-200: rgb(44.334% 84.334% 57.735%);
  --dx-emerald-300: rgb(12.667% 73.661% 40.921%);
  --dx-emerald-400: rgb(0% 61.715% 27.384%);
  --dx-emerald-500: rgb(0% 48.256% 19.915%);
  --dx-emerald-500\/\.5: rgb(0% 48.256% 19.915% / 0.5);
  --dx-emerald-550: rgb(0% 41.759% 16.326%);
  --dx-emerald-700: rgb(0% 23.379% 6.1532%);
  --dx-emerald-800: rgb(0% 12.248% 1.0106%);

  --dx-teal-100: rgb(59.167% 95.424% 85.258%);
  --dx-teal-200: rgb(29.685% 84.947% 72.045%);
  --dx-teal-300: rgb(0% 73.822% 59.405%);
  --dx-teal-400: rgb(0% 60.111% 47.978%);
  --dx-teal-500: rgb(0% 46.953% 37.02%);
  --dx-teal-550: rgb(0% 40.604% 31.739%);
  --dx-teal-700: rgb(0% 22.642% 16.829%);
  --dx-teal-800: rgb(0% 11.776% 7.8548%);

  --dx-cyan-100: rgb(57.437% 94.57% 94.454%);
  --dx-cyan-200: rgb(25.523% 83.819% 84.061%);
  --dx-cyan-300: rgb(0% 72.143% 72.767%);
  --dx-cyan-400: rgb(0% 58.696% 59.251%);
  --dx-cyan-500: rgb(0% 45.79% 46.278%);
  --dx-cyan-550: rgb(0% 39.566% 40.023%);
  --dx-cyan-600: rgb(0% 33.509% 33.934%);
  --dx-cyan-700: rgb(0% 21.957% 22.323%);
  --dx-cyan-800: rgb(0% 11.305% 11.617%);

  --dx-sky-100: rgb(61.058% 92.747% 100%);
  --dx-sky-200: rgb(34.536% 81.433% 92.839%);
  --dx-sky-300: rgb(0% 70.076% 84.373%);
  --dx-sky-400: rgb(0% 57.031% 69.351%);
  --dx-sky-500: rgb(0% 44.415% 54.569%);
  --dx-sky-550: rgb(0% 38.329% 47.434%);
  --dx-sky-700: rgb(0% 21.119% 27.235%);
  --dx-sky-800: rgb(0% 10.713% 14.978%);

  --dx-blue-100: rgb(67.752% 90.38% 100%);
  --dx-blue-200: rgb(47.04% 78.355% 98.09%);
  --dx-blue-300: rgb(22.354% 66.328% 90.641%);
  --dx-blue-400: rgb(0% 54.199% 82.47%);
  --dx-blue-500: rgb(0% 42.051% 65.37%);
  --dx-blue-550: rgb(0% 36.191% 57.107%);
  --dx-blue-700: rgb(0% 19.618% 33.697%);
  --dx-blue-800: rgb(0% 9.5934% 19.459%);

  --dx-indigo-100: rgb(76.291% 87.794% 100%);
  --dx-indigo-200: rgb(58.865% 75.035% 100%);
  --dx-indigo-300: rgb(42.588% 62.307% 92.971%);
  --dx-indigo-400: rgb(26.223% 49.511% 85.633%);
  --dx-indigo-500: rgb(6.8043% 36.344% 78.038%);
  --dx-indigo-550: rgb(0% 29.378% 74.142%);
  --dx-indigo-700: rgb(0% 7.7405% 55.127%);
  --dx-indigo-800: rgb(0% 0% 35.345%);

  --dx-violet-100: rgb(83.207% 85.35% 100%);
  --dx-violet-200: rgb(69.383% 71.731% 99.186%);
  --dx-violet-300: rgb(56.366% 58.314% 91.899%);
  --dx-violet-400: rgb(44.193% 44.863% 84.37%);
  --dx-violet-500: rgb(33.18% 30.934% 76.59%);
  --dx-violet-550: rgb(28.279% 23.364% 72.603%);
  --dx-violet-700: rgb(16.46% 0% 55.926%);
  --dx-violet-800: rgb(8.0078% 0% 32.752%);

  --dx-purple-100: rgb(90.28% 82.837% 100%);
  --dx-purple-200: rgb(78.722% 68.559% 95.778%);
  --dx-purple-300: rgb(67.538% 54.45% 87.797%);
  --dx-purple-400: rgb(56.775% 40.315% 79.644%);
  --dx-purple-500: rgb(46.503% 25.509% 71.305%);
  --dx-purple-550: rgb(41.579% 17.061% 67.062%);
  --dx-purple-700: rgb(25.44% 0% 46.637%);
  --dx-purple-800: rgb(13.472% 0% 26.944%);

  --dx-fuchsia-100: rgb(96.911% 80.63% 99.014%);
  --dx-fuchsia-200: rgb(87.01% 65.623% 89.875%);
  --dx-fuchsia-300: rgb(77.071% 50.773% 80.722%);
  --dx-fuchsia-400: rgb(67.073% 35.787% 71.543%);
  --dx-fuchsia-500: rgb(56.99% 19.468% 62.324%);
  --dx-fuchsia-550: rgb(51.905% 8.4281% 57.694%);
  --dx-fuchsia-700: rgb(31.419% 0% 35.998%);
  --dx-fuchsia-800: rgb(17.207% 0% 20.199%);

  --dx-pink-100: rgb(100% 78.837% 92.443%);
  --dx-pink-200: rgb(94.087% 63.146% 81.404%);
  --dx-pink-300: rgb(85.091% 47.483% 70.575%);
  --dx-pink-400: rgb(75.656% 31.281% 59.967%);
  --dx-pink-500: rgb(65.74% 11.105% 49.586%);
  --dx-pink-550: rgb(60.585% 0% 44.483%);
  --dx-pink-700: rgb(35.193% 0% 25.03%);
  --dx-pink-800: rgb(19.592% 0% 13.169%);

  --dx-rose-100: rgb(100% 78.812% 84.347%);
  --dx-rose-200: rgb(99.432% 61.557% 70.476%);
  --dx-rose-300: rgb(91.154% 45.111% 57.367%);
  --dx-rose-400: rgb(82.193% 27.321% 44.774%);
  --dx-rose-500: rgb(72.519% 0% 32.765% / none);
  --dx-rose-500: rgb(72.519% 0% 32.765%);
  --dx-rose-550: rgb(64.401% 0% 27.702%);
  --dx-rose-700: rgb(37.321% 0% 14.337%);
  --dx-rose-800: rgb(20.936% 0% 6.3008%);

  --dx-neutral-0: rgb(100% 100% 100%);
  --dx-neutral-100: rgb(87.032% 86.962% 86.98%);
  --dx-neutral-1000: rgb(0% 0% 0%);
  --dx-neutral-111: rgb(85.626% 85.55% 85.569%);
  --dx-neutral-150: rgb(80.678% 80.576% 80.602%);
  --dx-neutral-200: rgb(74.418% 74.283% 74.317%);
  --dx-neutral-200\/\.5: rgb(74.418% 74.283% 74.317% / 0.5);
  --dx-neutral-24: rgb(96.857% 96.84% 96.844%);
  --dx-neutral-24\/0\.65: rgb(96.857% 96.84% 96.844% / 0.65);
  --dx-neutral-25: rgb(96.726% 96.709% 96.713%);
  --dx-neutral-250: rgb(68.253% 68.088% 68.129%);
  --dx-neutral-300: rgb(62.19% 61.996% 62.044%);
  --dx-neutral-350: rgb(56.234% 56.012% 56.067%);
  --dx-neutral-39: rgb(94.902% 94.875% 94.881%);
  --dx-neutral-400: rgb(50.391% 50.142% 50.204%);
  --dx-neutral-43: rgb(94.382% 94.352% 94.359%);
  --dx-neutral-450: rgb(44.668% 44.393% 44.461%);
  --dx-neutral-450\/\.1: rgb(44.668% 44.393% 44.461% / 0.1);
  --dx-neutral-50: rgb(93.473% 93.438% 93.447%);
  --dx-neutral-50\/0: rgb(93.473% 93.438% 93.447% / 0);
  --dx-neutral-500: rgb(39.072% 38.774% 38.848%);
  --dx-neutral-500\/\.1: rgb(39.072% 38.774% 38.848% / 0.1);
  --dx-neutral-550: rgb(33.614% 33.295% 33.374%);
  --dx-neutral-559: rgb(32.647% 32.324% 32.404%);
  --dx-neutral-600: rgb(28.304% 27.966% 28.05%);
  --dx-neutral-601: rgb(28.2% 27.861% 27.945%);
  --dx-neutral-623: rgb(25.915% 25.569% 25.656%);
  --dx-neutral-63: rgb(91.79% 91.746% 91.757%);
  --dx-neutral-644: rgb(23.765% 23.413% 23.501%);
  --dx-neutral-665: rgb(21.646% 21.288% 21.377%);
  --dx-neutral-686: rgb(19.56% 19.196% 19.287%);
  --dx-neutral-700: rgb(18.188% 17.821% 17.913%);
  --dx-neutral-708: rgb(17.411% 17.042% 17.134%);
  --dx-neutral-72: rgb(90.628% 90.578% 90.591%);
  --dx-neutral-722: rgb(16.063% 15.693% 15.785%);
  --dx-neutral-729: rgb(15.396% 15.024% 15.117%);
  --dx-neutral-736: rgb(14.733% 14.36% 14.453%);
  --dx-neutral-75: rgb(90.242% 90.189% 90.202%);
  --dx-neutral-750: rgb(13.42% 13.045% 13.139%);
  --dx-neutral-793: rgb(9.5019% 9.1242% 9.2191%);
  --dx-neutral-800: rgb(8.8818% 8.5042% 8.5991%);
  --dx-neutral-800\/\.5: rgb(8.8818% 8.5042% 8.5991% / 0.5);
  --dx-neutral-82: rgb(89.341% 89.284% 89.298%);
  --dx-neutral-850: rgb(4.6156% 4.243% 4.3372%);
  --dx-neutral-855: rgb(4.2061% 3.8343% 3.9277%);
  --dx-neutral-855\/0\.65: rgb(4.2061% 3.8343% 3.9277% / 0.65);
  --dx-neutral-900: rgb(1.4284% 1.2396% 1.2864%);
  --dx-neutral-92: rgb(88.056% 87.993% 88.008%);
  --dx-neutral-950: rgb(0.19772% 0.14761% 0.16003%);

  --dx-primary-100: rgb(72.203% 89.076% 100%);
  --dx-primary-150: rgb(60.564% 82.906% 100%);
  --dx-primary-200: rgb(48.433% 76.567% 100%);
  --dx-primary-300: rgb(18.199% 63.149% 100%);
  --dx-primary-300\/\.1: rgb(18.199% 63.149% 100% / 0.1);
  --dx-primary-350: rgb(0% 55.914% 100%);
  --dx-primary-400: rgb(0% 49.118% 99.384%);
  --dx-primary-400\/\.1: rgb(0% 49.118% 99.384% / 0.1);
  --dx-primary-400\/\.5: rgb(0% 49.118% 99.384% / 0.5);
  --dx-primary-450: rgb(0% 43.159% 89.816%);
  --dx-primary-475: rgb(0% 40.24% 85.077%);
  --dx-primary-500: rgb(0% 37.373% 80.318%);
  --dx-primary-500\/\.2: rgb(0% 37.373% 80.318% / 0.2);
  --dx-primary-500\/\.5: rgb(0% 37.373% 80.318% / 0.5);
  --dx-primary-550: rgb(0% 31.755% 70.941%);
  --dx-primary-600: rgb(0% 26.306% 61.725%);
  --dx-primary-600\/\.5: rgb(0% 26.306% 61.725% / 0.5);
  --dx-primary-700: rgb(0% 15.916% 43.955%);
  --dx-primary-750: rgb(0% 10.962% 35.495%);
  --dx-primary-800: rgb(0% 6.0543% 27.518%);
  --dx-primary-850: rgb(0% 1.2672% 20.512%);
}

@media (color-gamut: p3) {
  :root, .dark {
    --dx-red-100: color(display-p3 1 0.79288 0.7563);
    --dx-red-200: color(display-p3 0.96631 0.63395 0.59052);
    --dx-red-300: color(display-p3 0.88181 0.47435 0.43061);
    --dx-red-400: color(display-p3 0.79258 0.30424 0.2724);
    --dx-red-500: color(display-p3 0.69828 0.04751 0.09809);
    --dx-red-550: color(display-p3 0.63351 0 0.00649);
    --dx-red-700: color(display-p3 0.36742 0 0);
    --dx-red-800: color(display-p3 0.20622 0 0);

    --dx-orange-100: color(display-p3 1 0.80547 0.67112);
    --dx-orange-200: color(display-p3 0.96362 0.65131 0.47375);
    --dx-orange-300: color(display-p3 0.87961 0.49477 0.26583);
    --dx-orange-400: color(display-p3 0.79124 0.32829 0);
    --dx-orange-500: color(display-p3 0.63361 0.23211 0);
    --dx-orange-550: color(display-p3 0.55138 0.19308 0);
    --dx-orange-700: color(display-p3 0.3187 0.0823 0);
    --dx-orange-800: color(display-p3 0.17759 0.01866 0);

    --dx-amber-100: color(display-p3 1 0.83084 0.60738);
    --dx-amber-200: color(display-p3 0.92846 0.68513 0.37613);
    --dx-amber-300: color(display-p3 0.84021 0.53807 0.00148);
    --dx-amber-400: color(display-p3 0.70505 0.42013 0);
    --dx-amber-500: color(display-p3 0.55348 0.321 0);
    --dx-amber-550: color(display-p3 0.48039 0.2732 0);
    --dx-amber-700: color(display-p3 0.27344 0.13835 0);
    --dx-amber-800: color(display-p3 0.14809 0.05723 0);

    --dx-yellow-100: color(display-p3 0.95984 0.86378 0.5822);
    --dx-yellow-200: color(display-p3 0.86048 0.72959 0.33285);
    --dx-yellow-300: color(display-p3 0.76223 0.59528 0);
    --dx-yellow-400: color(display-p3 0.6231 0.47971 0);
    --dx-yellow-500: color(display-p3 0.48704 0.36987 0);
    --dx-yellow-550: color(display-p3 0.42143 0.31692 0);
    --dx-yellow-700: color(display-p3 0.23575 0.16742 0);
    --dx-yellow-800: color(display-p3 0.12352 0.07739 0);

    --dx-lime-100: color(display-p3 0.88514 0.89762 0.60596);
    --dx-lime-200: color(display-p3 0.76493 0.77509 0.37198);
    --dx-lime-300: color(display-p3 0.64931 0.65289 0);
    --dx-lime-400: color(display-p3 0.5293 0.52981 0);
    --dx-lime-500: color(display-p3 0.41086 0.41076 0);
    --dx-lime-550: color(display-p3 0.35374 0.35336 0);
    --dx-lime-700: color(display-p3 0.19236 0.19118 0);
    --dx-lime-800: color(display-p3 0.09504 0.09338 0);

    --dx-green-100: color(display-p3 0.80187 0.92532 0.67217);
    --dx-green-200: color(display-p3 0.65317 0.81206 0.4734);
    --dx-green-200\/\.5: color(display-p3 0.65317 0.81206 0.4734 / 0.5);
    --dx-green-300: color(display-p3 0.50891 0.69894 0.26032);
    --dx-green-400: color(display-p3 0.36878 0.58583 0);
    --dx-green-500: color(display-p3 0.2768 0.45746 0 / none);
    --dx-green-500: color(display-p3 0.2768 0.45746 0);
    --dx-green-550: color(display-p3 0.23422 0.39485 0);
    --dx-green-600: color(display-p3 0.19284 0.33394 0);
    --dx-green-600\/\.5: color(display-p3 0.19284 0.33394 0 / 0.5);
    --dx-green-700: color(display-p3 0.11423 0.21784 0);
    --dx-green-800: color(display-p3 0.04225 0.11094 0);

    --dx-emerald-100: color(display-p3 0.7261 0.94176 0.76244);
    --dx-emerald-200: color(display-p3 0.54362 0.83387 0.60005);
    --dx-emerald-300: color(display-p3 0.35116 0.72588 0.44111);
    --dx-emerald-400: color(display-p3 0.07571 0.61758 0.2825);
    --dx-emerald-500: color(display-p3 0 0.49594 0.16281);
    --dx-emerald-500\/\.5: color(display-p3 0 0.49594 0.16281 / 0.5);
    --dx-emerald-550: color(display-p3 0 0.42921 0.13107);
    --dx-emerald-700: color(display-p3 0 0.24023 0.04163);
    --dx-emerald-800: color(display-p3 0 0.12593 0.0048);

    --dx-teal-100: color(display-p3 0.67535 0.94502 0.85692);
    --dx-teal-200: color(display-p3 0.46333 0.83816 0.72618);
    --dx-teal-300: color(display-p3 0.19463 0.73116 0.59956);
    --dx-teal-400: color(display-p3 0 0.61395 0.47996);
    --dx-teal-500: color(display-p3 0 0.47951 0.37047);
    --dx-teal-550: color(display-p3 0 0.41463 0.31769);
    --dx-teal-700: color(display-p3 0 0.23115 0.16868);
    --dx-teal-800: color(display-p3 0 0.12019 0.07899);

    --dx-cyan-100: color(display-p3 0.661 0.93635 0.93984);
    --dx-cyan-200: color(display-p3 0.43999 0.8267 0.83453);
    --dx-cyan-300: color(display-p3 0.12792 0.71702 0.73119);
    --dx-cyan-400: color(display-p3 0 0.59473 0.6116);
    --dx-cyan-500: color(display-p3 0 0.4638 0.47789);
    --dx-cyan-550: color(display-p3 0 0.40066 0.41341);
    --dx-cyan-600: color(display-p3 0 0.33922 0.35068);
    --dx-cyan-700: color(display-p3 0 0.22207 0.23102);
    --dx-cyan-800: color(display-p3 0 0.11413 0.12074);

    --dx-sky-100: color(display-p3 0.68137 0.91917 1);
    --dx-sky-200: color(display-p3 0.47538 0.8041 0.91447);
    --dx-sky-300: color(display-p3 0.23015 0.68915 0.82749);
    --dx-sky-400: color(display-p3 0 0.57141 0.7282);
    --dx-sky-500: color(display-p3 0 0.44467 0.57312);
    --dx-sky-550: color(display-p3 0 0.38354 0.4983);
    --dx-sky-700: color(display-p3 0 0.21068 0.28624);
    --dx-sky-800: color(display-p3 0 0.10628 0.15783);

    --dx-blue-100: color(display-p3 0.72458 0.89746 1);
    --dx-blue-200: color(display-p3 0.54362 0.77568 0.96231);
    --dx-blue-300: color(display-p3 0.35621 0.65429 0.88499);
    --dx-blue-400: color(display-p3 0.11796 0.53248 0.80655);
    --dx-blue-500: color(display-p3 0 0.41083 0.6955);
    --dx-blue-550: color(display-p3 0 0.35307 0.60743);
    --dx-blue-700: color(display-p3 0 0.18976 0.35792);
    --dx-blue-800: color(display-p3 0 0.09107 0.20633);

    --dx-indigo-100: color(display-p3 0.7788 0.87443 1);
    --dx-indigo-200: color(display-p3 0.6214 0.7457 0.97987);
    --dx-indigo-300: color(display-p3 0.46875 0.61778 0.90598);
    --dx-indigo-400: color(display-p3 0.31934 0.48949 0.83055);
    --dx-indigo-500: color(display-p3 0.16813 0.35791 0.75349);
    --dx-indigo-550: color(display-p3 0.08248 0.28848 0.71433);
    --dx-indigo-700: color(display-p3 0 0.0225 0.55877);
    --dx-indigo-800: color(display-p3 0 0 0.33757);

    --dx-violet-100: color(display-p3 0.83463 0.85195 1);
    --dx-violet-200: color(display-p3 0.69807 0.71654 0.97109);
    --dx-violet-300: color(display-p3 0.56718 0.58251 0.89525);
    --dx-violet-400: color(display-p3 0.44313 0.44841 0.81797);
    --dx-violet-500: color(display-p3 0.32795 0.31012 0.73917);
    --dx-violet-550: color(display-p3 0.2748 0.23546 0.69917);
    --dx-violet-700: color(display-p3 0.14222 0 0.54092);
    --dx-violet-800: color(display-p3 0.06477 0 0.31623);

    --dx-purple-100: color(display-p3 0.89018 0.83098 1);
    --dx-purple-200: color(display-p3 0.77045 0.68928 0.93882);
    --dx-purple-300: color(display-p3 0.65457 0.54949 0.85626);
    --dx-purple-400: color(display-p3 0.54306 0.40998 0.7729);
    --dx-purple-500: color(display-p3 0.4366 0.2654 0.68864);
    --dx-purple-550: color(display-p3 0.38557 0.18507 0.64614);
    --dx-purple-700: color(display-p3 0.22961 0 0.45699);
    --dx-purple-800: color(display-p3 0.11872 0 0.26334);

    --dx-fuchsia-100: color(display-p3 0.94288 0.8124 0.97797);
    --dx-fuchsia-200: color(display-p3 0.83727 0.66481 0.88356);
    --dx-fuchsia-300: color(display-p3 0.73275 0.51931 0.7897);
    --dx-fuchsia-400: color(display-p3 0.62927 0.37383 0.69633);
    --dx-fuchsia-500: color(display-p3 0.52672 0.22054 0.60337);
    --dx-fuchsia-550: color(display-p3 0.47574 0.12937 0.55702);
    --dx-fuchsia-700: color(display-p3 0.29023 0 0.35782);
    --dx-fuchsia-800: color(display-p3 0.15674 0 0.20039);

    --dx-pink-100: color(display-p3 0.98988 0.79783 0.91736);
    --dx-pink-200: color(display-p3 0.89595 0.64497 0.80503);
    --dx-pink-300: color(display-p3 0.80044 0.49358 0.69515);
    --dx-pink-400: color(display-p3 0.70306 0.34026 0.58786);
    --dx-pink-500: color(display-p3 0.60348 0.16943 0.48333);
    --dx-pink-550: color(display-p3 0.55271 0.03137 0.43214);
    --dx-pink-700: color(display-p3 0.33082 0 0.24857);
    --dx-pink-800: color(display-p3 0.1824 0 0.13047);

    --dx-rose-100: color(display-p3 1 0.78989 0.8408);
    --dx-rose-200: color(display-p3 0.94134 0.63314 0.70515);
    --dx-rose-300: color(display-p3 0.85269 0.47629 0.57407);
    --dx-rose-400: color(display-p3 0.76018 0.31321 0.44805);
    --dx-rose-500: color(display-p3 0.66346 0.10558 0.32773 / none);
    --dx-rose-500: color(display-p3 0.66346 0.10558 0.32773);
    --dx-rose-550: color(display-p3 0.61303 0 0.27005);
    --dx-rose-700: color(display-p3 0.35366 0 0.13906);
    --dx-rose-800: color(display-p3 0.19678 0 0.0603);

    --dx-neutral-0: color(display-p3 1 1 1);
    --dx-neutral-100: color(display-p3 0.87019 0.86965 0.86979);
    --dx-neutral-1000: color(display-p3 0 0 0);
    --dx-neutral-111: color(display-p3 0.85613 0.85552 0.85568);
    --dx-neutral-150: color(display-p3 0.8066 0.8058 0.80601);
    --dx-neutral-200: color(display-p3 0.74394 0.74288 0.74316);
    --dx-neutral-200\/\.5: color(display-p3 0.74394 0.74288 0.74316 / 0.5);
    --dx-neutral-24: color(display-p3 0.96854 0.9684 0.96844);
    --dx-neutral-24\/0\.65: color(display-p3 0.96854 0.9684 0.96844 / 0.65);
    --dx-neutral-25: color(display-p3 0.96723 0.96709 0.96713);
    --dx-neutral-250: color(display-p3 0.68224 0.68094 0.68128);
    --dx-neutral-300: color(display-p3 0.62156 0.62002 0.62043);
    --dx-neutral-350: color(display-p3 0.56195 0.56019 0.56066);
    --dx-neutral-39: color(display-p3 0.94897 0.94875 0.94881);
    --dx-neutral-400: color(display-p3 0.50347 0.5015 0.50202);
    --dx-neutral-43: color(display-p3 0.94377 0.94353 0.94359);
    --dx-neutral-450: color(display-p3 0.44619 0.44402 0.4446);
    --dx-neutral-450\/\.1: color(display-p3 0.44619 0.44402 0.4446 / 0.1);
    --dx-neutral-50: color(display-p3 0.93467 0.93439 0.93447);
    --dx-neutral-50\/0: color(display-p3 0.93467 0.93439 0.93447 / 0);
    --dx-neutral-500: color(display-p3 0.3902 0.38784 0.38847);
    --dx-neutral-500\/\.1: color(display-p3 0.3902 0.38784 0.38847 / 0.1);
    --dx-neutral-550: color(display-p3 0.33558 0.33305 0.33373);
    --dx-neutral-559: color(display-p3 0.3259 0.32335 0.32403);
    --dx-neutral-600: color(display-p3 0.28244 0.27977 0.28049);
    --dx-neutral-601: color(display-p3 0.2814 0.27872 0.27944);
    --dx-neutral-623: color(display-p3 0.25854 0.25581 0.25654);
    --dx-neutral-63: color(display-p3 0.91782 0.91748 0.91757);
    --dx-neutral-644: color(display-p3 0.23703 0.23425 0.23499);
    --dx-neutral-665: color(display-p3 0.21583 0.213 0.21375);
    --dx-neutral-686: color(display-p3 0.19496 0.19208 0.19285);
    --dx-neutral-700: color(display-p3 0.18123 0.17833 0.17911);
    --dx-neutral-708: color(display-p3 0.17346 0.17055 0.17133);
    --dx-neutral-72: color(display-p3 0.90619 0.9058 0.9059);
    --dx-neutral-722: color(display-p3 0.15998 0.15705 0.15784);
    --dx-neutral-729: color(display-p3 0.15331 0.15037 0.15115);
    --dx-neutral-736: color(display-p3 0.14667 0.14372 0.14451);
    --dx-neutral-75: color(display-p3 0.90232 0.90191 0.90202);
    --dx-neutral-750: color(display-p3 0.13354 0.13057 0.13137);
    --dx-neutral-793: color(display-p3 0.09436 0.09137 0.09217);
    --dx-neutral-800: color(display-p3 0.08816 0.08517 0.08597);
    --dx-neutral-800\/\.5: color(display-p3 0.08816 0.08517 0.08597 / 0.5);
    --dx-neutral-82: color(display-p3 0.8933 0.89286 0.89297);
    --dx-neutral-850: color(display-p3 0.04551 0.04256 0.04335);
    --dx-neutral-855: color(display-p3 0.04142 0.03847 0.03926);
    --dx-neutral-855\/0\.65: color(display-p3 0.04142 0.03847 0.03926 / 0.65);
    --dx-neutral-900: color(display-p3 0.01395 0.01246 0.01285);
    --dx-neutral-92: color(display-p3 0.88045 0.87995 0.88008);
    --dx-neutral-950: color(display-p3 0.00189 0.00149 0.0016);

    --dx-primary-100: color(display-p3 0.74748 0.88655 1);
    --dx-primary-150: color(display-p3 0.64053 0.82335 1);
    --dx-primary-200: color(display-p3 0.53171 0.75823 1);
    --dx-primary-300: color(display-p3 0.29452 0.61951 1);
    --dx-primary-300\/\.1: color(display-p3 0.29452 0.61951 1 / 0.1);
    --dx-primary-350: color(display-p3 0.13176 0.54344 1);
    --dx-primary-400: color(display-p3 0 0.46234 1);
    --dx-primary-400\/\.1: color(display-p3 0 0.46234 1 / 0.1);
    --dx-primary-400\/\.5: color(display-p3 0 0.46234 1 / 0.5);
    --dx-primary-450: color(display-p3 0 0.39726 0.96189);
    --dx-primary-475: color(display-p3 0 0.36913 0.91068);
    --dx-primary-500: color(display-p3 0 0.34145 0.85973);
    --dx-primary-500\/\.2: color(display-p3 0 0.34145 0.85973 / 0.2);
    --dx-primary-500\/\.5: color(display-p3 0 0.34145 0.85973 / 0.5);
    --dx-primary-550: color(display-p3 0 0.28757 0.75849);
    --dx-primary-600: color(display-p3 0 0.23561 0.65859);
    --dx-primary-600\/\.5: color(display-p3 0 0.23561 0.65859 / 0.5);
    --dx-primary-700: color(display-p3 0 0.13655 0.46629);
    --dx-primary-750: color(display-p3 0 0.08919 0.37466);
    --dx-primary-800: color(display-p3 0 0.04203 0.28719);
    --dx-primary-850: color(display-p3 0 0.00531 0.20584);
  }
}

@media (color-gamut: rec2020) {
  :root, .dark {
    --dx-red-100: color(rec2020 0.98908 0.78259 0.72697);
    --dx-red-200: color(rec2020 0.88563 0.61601 0.54757);
    --dx-red-300: color(rec2020 0.78215 0.45261 0.37612);
    --dx-red-400: color(rec2020 0.67852 0.28858 0.21049);
    --dx-red-500: color(rec2020 0.57459 0.10592 0.04093);
    --dx-red-550: color(rec2020 0.52244 0.00017 0);
    --dx-red-700: color(rec2020 0.2778 0 0);
    --dx-red-800: color(rec2020 0.12429 0 0);

    --dx-orange-100: color(rec2020 0.98601 0.79551 0.63728);
    --dx-orange-200: color(rec2020 0.88248 0.63178 0.42508);
    --dx-orange-300: color(rec2020 0.7794 0.47028 0.20897);
    --dx-orange-400: color(rec2020 0.67661 0.30739 0);
    --dx-orange-500: color(rec2020 0.52015 0.20467 0);
    --dx-orange-550: color(rec2020 0.44025 0.16181 0);
    --dx-orange-700: color(rec2020 0.21933 0.04846 0);
    --dx-orange-800: color(rec2020 0.09057 0.01155 0);

    --dx-amber-100: color(rec2020 0.96222 0.81903 0.57018);
    --dx-amber-200: color(rec2020 0.85325 0.66226 0.32621);
    --dx-amber-300: color(rec2020 0.74625 0.50772 0.01672);
    --dx-amber-400: color(rec2020 0.60674 0.38049 0);
    --dx-amber-500: color(rec2020 0.45534 0.2739 0);
    --dx-amber-550: color(rec2020 0.38331 0.22331 0);
    --dx-amber-700: color(rec2020 0.1843 0.08395 0);
    --dx-amber-800: color(rec2020 0.06908 0.02329 0);

    --dx-yellow-100: color(rec2020 0.91894 0.84967 0.54476);
    --dx-yellow-200: color(rec2020 0.79884 0.7028 0.28521);
    --dx-yellow-300: color(rec2020 0.68307 0.55844 0);
    --dx-yellow-400: color(rec2020 0.54095 0.43267 0);
    --dx-yellow-500: color(rec2020 0.40285 0.31586 0);
    --dx-yellow-550: color(rec2020 0.33721 0.26037 0);
    --dx-yellow-700: color(rec2020 0.15588 0.10744 0);
    --dx-yellow-800: color(rec2020 0.05377 0.03178 0);

    --dx-lime-100: color(rec2020 0.8622 0.88137 0.57098);
    --dx-lime-200: color(rec2020 0.72597 0.7449 0.32638);
    --dx-lime-300: color(rec2020 0.59649 0.6109 0.01311);
    --dx-lime-400: color(rec2020 0.46859 0.47862 0);
    --dx-lime-500: color(rec2020 0.3451 0.35265 0);
    --dx-lime-550: color(rec2020 0.28642 0.29279 0);
    --dx-lime-700: color(rec2020 0.12454 0.12766 0);
    --dx-lime-800: color(rec2020 0.03924 0.04007 0);

    --dx-green-100: color(rec2020 0.80223 0.90746 0.64206);
    --dx-green-200: color(rec2020 0.64683 0.7795 0.43069);
    --dx-green-200\/\.5: color(rec2020 0.64683 0.7795 0.43069 / 0.5);
    --dx-green-300: color(rec2020 0.49918 0.65369 0.21478);
    --dx-green-400: color(rec2020 0.36 0.5301 0);
    --dx-green-500: color(rec2020 0.25386 0.39631 0 / none);
    --dx-green-500: color(rec2020 0.25386 0.39631 0);
    --dx-green-550: color(rec2020 0.20606 0.33117 0);
    --dx-green-600: color(rec2020 0.16011 0.26849 0);
    --dx-green-600\/\.5: color(rec2020 0.16011 0.26849 0 / 0.5);
    --dx-green-700: color(rec2020 0.07462 0.15133 0);
    --dx-green-800: color(rec2020 0.02091 0.05091 0);

    --dx-emerald-100: color(rec2020 0.75127 0.9229 0.73932);
    --dx-emerald-200: color(rec2020 0.57747 0.79996 0.56338);
    --dx-emerald-300: color(rec2020 0.4095 0.67892 0.39499);
    --dx-emerald-400: color(rec2020 0.24445 0.55975 0.23243);
    --dx-emerald-500: color(rec2020 0.06565 0.44241 0.0649);
    --dx-emerald-500\/\.5: color(rec2020 0.06565 0.44241 0.0649 / 0.5);
    --dx-emerald-550: color(rec2020 0 0.38438 0);
    --dx-emerald-700: color(rec2020 0 0.18535 0);
    --dx-emerald-800: color(rec2020 0 0.06769 0);

    --dx-teal-100: color(rec2020 0.71979 0.9257 0.84195);
    --dx-teal-200: color(rec2020 0.53364 0.80369 0.698);
    --dx-teal-300: color(rec2020 0.34993 0.68358 0.56038);
    --dx-teal-400: color(rec2020 0.15544 0.56533 0.42963);
    --dx-teal-500: color(rec2020 0 0.44801 0.30674);
    --dx-teal-550: color(rec2020 0 0.37638 0.25263);
    --dx-teal-700: color(rec2020 0 0.17846 0.10351);
    --dx-teal-800: color(rec2020 0 0.06462 0.03077);

    --dx-cyan-100: color(rec2020 0.71243 0.91705 0.93269);
    --dx-cyan-200: color(rec2020 0.5239 0.79233 0.81524);
    --dx-cyan-300: color(rec2020 0.33747 0.66966 0.701);
    --dx-cyan-400: color(rec2020 0.13733 0.54897 0.59014);
    --dx-cyan-500: color(rec2020 0 0.42727 0.47691);
    --dx-cyan-550: color(rec2020 0 0.35815 0.40193);
    --dx-cyan-600: color(rec2020 0 0.29165 0.32976);
    --dx-cyan-700: color(rec2020 0 0.16729 0.1947);
    --dx-cyan-800: color(rec2020 0 0.0586 0.07445);

    --dx-sky-100: color(rec2020 0.72668 0.90033 1);
    --dx-sky-200: color(rec2020 0.54479 0.77043 0.90248);
    --dx-sky-300: color(rec2020 0.3682 0.6428 0.80525);
    --dx-sky-400: color(rec2020 0.19088 0.51724 0.70884);
    --dx-sky-500: color(rec2020 0 0.39327 0.61323);
    --dx-sky-550: color(rec2020 0 0.33051 0.54889);
    --dx-sky-700: color(rec2020 0 0.14992 0.28486);
    --dx-sky-800: color(rec2020 0 0.04956 0.13091);

    --dx-blue-100: color(rec2020 0.75562 0.87949 1);
    --dx-blue-200: color(rec2020 0.58519 0.7433 0.95483);
    --dx-blue-300: color(rec2020 0.42285 0.60975 0.86783);
    --dx-blue-400: color(rec2020 0.26858 0.47835 0.78026);
    --dx-blue-500: color(rec2020 0.12034 0.3479 0.6921);
    --dx-blue-550: color(rec2020 0.04896 0.28216 0.6478);
    --dx-blue-700: color(rec2020 0 0.09307 0.45064);
    --dx-blue-800: color(rec2020 0 0.02218 0.24355);

    --dx-indigo-100: color(rec2020 0.79225 0.85764 1);
    --dx-indigo-200: color(rec2020 0.63447 0.71512 0.97381);
    --dx-indigo-300: color(rec2020 0.48542 0.57579 0.89047);
    --dx-indigo-400: color(rec2020 0.34649 0.43894 0.80605);
    --dx-indigo-500: color(rec2020 0.22008 0.30249 0.72057);
    --dx-indigo-550: color(rec2020 0.16298 0.23273 0.67744);
    --dx-indigo-700: color(rec2020 0.0422 0 0.54658);
    --dx-indigo-800: color(rec2020 0.01403 0 0.31656);

    --dx-violet-100: color(rec2020 0.83186 0.8366 1);
    --dx-violet-200: color(rec2020 0.68623 0.68817 0.96362);
    --dx-violet-300: color(rec2020 0.54832 0.54373 0.87814);
    --dx-violet-400: color(rec2020 0.41927 0.40241 0.7918);
    --dx-violet-500: color(rec2020 0.30085 0.26155 0.70456);
    --dx-violet-550: color(rec2020 0.24647 0.18878 0.66061);
    --dx-violet-700: color(rec2020 0.10906 0 0.51492);
    --dx-violet-800: color(rec2020 0.03394 0 0.26861);

    --dx-purple-100: color(rec2020 0.87199 0.81723 1);
    --dx-purple-200: color(rec2020 0.73761 0.66345 0.92742);
    --dx-purple-300: color(rec2020 0.6091 0.51449 0.83472);
    --dx-purple-400: color(rec2020 0.48707 0.36954 0.74201);
    --dx-purple-500: color(rec2020 0.37234 0.22562 0.64925);
    --dx-purple-550: color(rec2020 0.31807 0.1509 0.60286);
    --dx-purple-700: color(rec2020 0.16318 0 0.42676);
    --dx-purple-800: color(rec2020 0.05685 0 0.21499);

    --dx-fuchsia-100: color(rec2020 0.91099 0.80034 0.97236);
    --dx-fuchsia-200: color(rec2020 0.78693 0.64173 0.866);
    --dx-fuchsia-300: color(rec2020 0.66662 0.48857 0.76128);
    --dx-fuchsia-400: color(rec2020 0.55029 0.34002 0.65821);
    --dx-fuchsia-500: color(rec2020 0.43815 0.19266 0.55681);
    --dx-fuchsia-550: color(rec2020 0.38375 0.11524 0.50675);
    --dx-fuchsia-700: color(rec2020 0.21041 0 0.3193);
    --dx-fuchsia-800: color(rec2020 0.08284 0 0.14967);

    --dx-pink-100: color(rec2020 0.94642 0.78734 0.90504);
    --dx-pink-200: color(rec2020 0.83148 0.62455 0.77946);
    --dx-pink-300: color(rec2020 0.71839 0.46721 0.65797);
    --dx-pink-400: color(rec2020 0.60714 0.31404 0.54084);
    --dx-pink-500: color(rec2020 0.49769 0.1595 0.42835);
    --dx-pink-550: color(rec2020 0.44363 0.07386 0.37395);
    --dx-pink-700: color(rec2020 0.24634 0 0.19443);
    --dx-pink-800: color(rec2020 0.10464 0 0.0734);

    --dx-rose-100: color(rec2020 0.97421 0.78052 0.82073);
    --dx-rose-200: color(rec2020 0.86652 0.61471 0.67059);
    --dx-rose-300: color(rec2020 0.75932 0.45347 0.52747);
    --dx-rose-400: color(rec2020 0.65253 0.29431 0.39206);
    --dx-rose-500: color(rec2020 0.54603 0.1261 0.26516 / none);
    --dx-rose-500: color(rec2020 0.54603 0.1261 0.26516);
    --dx-rose-550: color(rec2020 0.49285 0.02931 0.2052);
    --dx-rose-700: color(rec2020 0.26682 0 0.06859);
    --dx-rose-800: color(rec2020 0.11698 0 0.01952);

    --dx-neutral-0: color(rec2020 1 1 1);
    --dx-neutral-100: color(rec2020 0.85453 0.85409 0.85422);
    --dx-neutral-1000: color(rec2020 0 0 0);
    --dx-neutral-111: color(rec2020 0.83886 0.83838 0.83852);
    --dx-neutral-150: color(rec2020 0.78385 0.78321 0.78339);
    --dx-neutral-200: color(rec2020 0.7146 0.71377 0.71401);
    --dx-neutral-200\/\.5: color(rec2020 0.7146 0.71377 0.71401 / 0.5);
    --dx-neutral-24: color(rec2020 0.9646 0.96449 0.96453);
    --dx-neutral-24\/0\.65: color(rec2020 0.9646 0.96449 0.96453 / 0.65);
    --dx-neutral-25: color(rec2020 0.96313 0.96302 0.96305);
    --dx-neutral-250: color(rec2020 0.64685 0.64583 0.64613);
    --dx-neutral-300: color(rec2020 0.58066 0.57947 0.57982);
    --dx-neutral-350: color(rec2020 0.51611 0.51474 0.51515);
    --dx-neutral-39: color(rec2020 0.94263 0.94246 0.94251);
    --dx-neutral-400: color(rec2020 0.45326 0.45175 0.45219);
    --dx-neutral-43: color(rec2020 0.93679 0.9366 0.93666);
    --dx-neutral-450: color(rec2020 0.39221 0.39056 0.39105);
    --dx-neutral-450\/\.1: color(rec2020 0.39221 0.39056 0.39105 / 0.1);
    --dx-neutral-50: color(rec2020 0.9266 0.92637 0.92644);
    --dx-neutral-50\/0: color(rec2020 0.9266 0.92637 0.92644 / 0);
    --dx-neutral-500: color(rec2020 0.33308 0.3313 0.33183);
    --dx-neutral-500\/\.1: color(rec2020 0.33308 0.3313 0.33183 / 0.1);
    --dx-neutral-550: color(rec2020 0.27597 0.27409 0.27464);
    --dx-neutral-559: color(rec2020 0.26592 0.26402 0.26458);
    --dx-neutral-600: color(rec2020 0.22103 0.21906 0.21964);
    --dx-neutral-601: color(rec2020 0.21996 0.21799 0.21857);
    --dx-neutral-623: color(rec2020 0.19654 0.19453 0.19513);
    --dx-neutral-63: color(rec2020 0.90773 0.90745 0.90753);
    --dx-neutral-644: color(rec2020 0.17462 0.17259 0.17319);
    --dx-neutral-665: color(rec2020 0.15315 0.1511 0.15171);
    --dx-neutral-686: color(rec2020 0.13215 0.13008 0.13069);
    --dx-neutral-700: color(rec2020 0.11841 0.11633 0.11694);
    --dx-neutral-708: color(rec2020 0.11066 0.10858 0.10919);
    --dx-neutral-72: color(rec2020 0.89472 0.8944 0.89449);
    --dx-neutral-722: color(rec2020 0.09727 0.09518 0.0958);
    --dx-neutral-729: color(rec2020 0.09066 0.08858 0.08919);
    --dx-neutral-736: color(rec2020 0.08412 0.08203 0.08265);
    --dx-neutral-75: color(rec2020 0.89039 0.89006 0.89016);
    --dx-neutral-750: color(rec2020 0.07154 0.06961 0.07018);
    --dx-neutral-793: color(rec2020 0.04081 0.0394 0.03982);
    --dx-neutral-800: color(rec2020 0.03684 0.03552 0.03591);
    --dx-neutral-800\/\.5: color(rec2020 0.03684 0.03552 0.03591 / 0.5);
    --dx-neutral-82: color(rec2020 0.88032 0.87996 0.88006);
    --dx-neutral-850: color(rec2020 0.01569 0.0149 0.01513);
    --dx-neutral-855: color(rec2020 0.01419 0.01345 0.01367);
    --dx-neutral-855\/0\.65: color(rec2020 0.01419 0.01345 0.01367 / 0.65);
    --dx-neutral-900: color(rec2020 0.00474 0.00436 0.00447);
    --dx-neutral-92: color(rec2020 0.86597 0.86556 0.86568);
    --dx-neutral-950: color(rec2020 0.00063 0.00053 0.00056);

    --dx-primary-100: color(rec2020 0.77049 0.86917 1);
    --dx-primary-150: color(rec2020 0.67361 0.79842 1);
    --dx-primary-200: color(rec2020 0.57927 0.72633 1);
    --dx-primary-300: color(rec2020 0.39965 0.57587 1);
    --dx-primary-300\/\.1: color(rec2020 0.39965 0.57587 1 / 0.1);
    --dx-primary-350: color(rec2020 0.31554 0.49536 1);
    --dx-primary-400: color(rec2020 0.2372 0.40863 1);
    --dx-primary-400\/\.1: color(rec2020 0.2372 0.40863 1 / 0.1);
    --dx-primary-400\/\.5: color(rec2020 0.2372 0.40863 1 / 0.5);
    --dx-primary-450: color(rec2020 0.16769 0.3111 1);
    --dx-primary-475: color(rec2020 0.13796 0.2551 1);
    --dx-primary-500: color(rec2020 0.11307 0.19022 1);
    --dx-primary-500\/\.2: color(rec2020 0.11307 0.19022 1 / 0.2);
    --dx-primary-500\/\.5: color(rec2020 0.11307 0.19022 1 / 0.5);
    --dx-primary-550: color(rec2020 0.08242 0.01163 1);
    --dx-primary-600: color(rec2020 0.06421 0 0.93185);
    --dx-primary-600\/\.5: color(rec2020 0.06421 0 0.93185 / 0.5);
    --dx-primary-700: color(rec2020 0.02906 0 0.61126);
    --dx-primary-750: color(rec2020 0.01757 0 0.46368);
    --dx-primary-800: color(rec2020 0.00956 0 0.32564);
    --dx-primary-850: color(rec2020 0.00444 0 0.19826);
  }
}

:root {
  --dx-callActive: var(--dx-green-500);
  --dx-callAlert: var(--dx-rose-500);
  --dx-cmCodeblock: var(--dx-neutral-500\/\.1);
  --dx-cmActiveLine: var(--dx-neutral-200\/\.5);
  --dx-cmSeparator: var(--dx-primary-500);
  --dx-cmCursor: var(--dx-neutral-900);
  --dx-cmSelection: var(--dx-primary-400\/\.5);
  --dx-cmFocusedSelection: var(--dx-primary-400);
  --dx-cmHighlight: var(--dx-neutral-950);
  --dx-cmHighlightSurface: var(--dx-sky-200);
  --dx-cmCommentText: var(--dx-neutral-50);
  --dx-cmCommentSurface: var(--dx-amber-700);
  --dx-redCursor: var(--dx-red-400);
  --dx-redText: var(--dx-red-550);
  --dx-redFill: var(--dx-red-500);
  --dx-redSurface: var(--dx-red-200);
  --dx-redSurfaceText: var(--dx-red-700);
  --dx-redScreen: var(--dx-red-100);
  --dx-orangeCursor: var(--dx-orange-400);
  --dx-orangeText: var(--dx-orange-550);
  --dx-orangeFill: var(--dx-orange-500);
  --dx-orangeSurface: var(--dx-orange-200);
  --dx-orangeSurfaceText: var(--dx-orange-700);
  --dx-orangeScreen: var(--dx-orange-100);
  --dx-amberCursor: var(--dx-amber-400);
  --dx-amberText: var(--dx-amber-550);
  --dx-amberFill: var(--dx-amber-500);
  --dx-amberSurface: var(--dx-amber-200);
  --dx-amberSurfaceText: var(--dx-amber-700);
  --dx-amberScreen: var(--dx-amber-100);
  --dx-yellowCursor: var(--dx-yellow-400);
  --dx-yellowText: var(--dx-yellow-550);
  --dx-yellowFill: var(--dx-yellow-500);
  --dx-yellowSurface: var(--dx-yellow-200);
  --dx-yellowSurfaceText: var(--dx-yellow-700);
  --dx-yellowScreen: var(--dx-yellow-100);
  --dx-limeCursor: var(--dx-lime-400);
  --dx-limeText: var(--dx-lime-550);
  --dx-limeFill: var(--dx-lime-500);
  --dx-limeSurface: var(--dx-lime-200);
  --dx-limeSurfaceText: var(--dx-lime-700);
  --dx-limeScreen: var(--dx-lime-100);
  --dx-greenCursor: var(--dx-green-400);
  --dx-greenText: var(--dx-green-550);
  --dx-greenFill: var(--dx-green-500);
  --dx-greenSurface: var(--dx-green-200);
  --dx-greenSurfaceText: var(--dx-green-700);
  --dx-greenScreen: var(--dx-green-100);
  --dx-emeraldCursor: var(--dx-emerald-400);
  --dx-emeraldText: var(--dx-emerald-550);
  --dx-emeraldFill: var(--dx-emerald-500);
  --dx-emeraldSurface: var(--dx-emerald-200);
  --dx-emeraldSurfaceText: var(--dx-emerald-700);
  --dx-emeraldScreen: var(--dx-emerald-100);
  --dx-tealCursor: var(--dx-teal-400);
  --dx-tealText: var(--dx-teal-550);
  --dx-tealFill: var(--dx-teal-500);
  --dx-tealSurface: var(--dx-teal-200);
  --dx-tealSurfaceText: var(--dx-teal-700);
  --dx-tealScreen: var(--dx-teal-100);
  --dx-cyanCursor: var(--dx-cyan-400);
  --dx-cyanText: var(--dx-cyan-550);
  --dx-cyanFill: var(--dx-cyan-500);
  --dx-cyanSurface: var(--dx-cyan-200);
  --dx-cyanSurfaceText: var(--dx-cyan-700);
  --dx-cyanScreen: var(--dx-cyan-100);
  --dx-skyCursor: var(--dx-sky-400);
  --dx-skyText: var(--dx-sky-550);
  --dx-skyFill: var(--dx-sky-500);
  --dx-skySurface: var(--dx-sky-200);
  --dx-skySurfaceText: var(--dx-sky-700);
  --dx-skyScreen: var(--dx-sky-100);
  --dx-blueCursor: var(--dx-blue-400);
  --dx-blueText: var(--dx-blue-550);
  --dx-blueFill: var(--dx-blue-500);
  --dx-blueSurface: var(--dx-blue-200);
  --dx-blueSurfaceText: var(--dx-blue-700);
  --dx-blueScreen: var(--dx-blue-100);
  --dx-indigoCursor: var(--dx-indigo-400);
  --dx-indigoText: var(--dx-indigo-550);
  --dx-indigoFill: var(--dx-indigo-500);
  --dx-indigoSurface: var(--dx-indigo-200);
  --dx-indigoSurfaceText: var(--dx-indigo-700);
  --dx-indigoScreen: var(--dx-indigo-100);
  --dx-violetCursor: var(--dx-violet-400);
  --dx-violetText: var(--dx-violet-550);
  --dx-violetFill: var(--dx-violet-500);
  --dx-violetSurface: var(--dx-violet-200);
  --dx-violetSurfaceText: var(--dx-violet-700);
  --dx-violetScreen: var(--dx-violet-100);
  --dx-purpleCursor: var(--dx-purple-400);
  --dx-purpleText: var(--dx-purple-550);
  --dx-purpleFill: var(--dx-purple-500);
  --dx-purpleSurface: var(--dx-purple-200);
  --dx-purpleSurfaceText: var(--dx-purple-700);
  --dx-purpleScreen: var(--dx-purple-100);
  --dx-fuchsiaCursor: var(--dx-fuchsia-400);
  --dx-fuchsiaText: var(--dx-fuchsia-550);
  --dx-fuchsiaFill: var(--dx-fuchsia-500);
  --dx-fuchsiaSurface: var(--dx-fuchsia-200);
  --dx-fuchsiaSurfaceText: var(--dx-fuchsia-700);
  --dx-fuchsiaScreen: var(--dx-fuchsia-100);
  --dx-pinkCursor: var(--dx-pink-400);
  --dx-pinkText: var(--dx-pink-550);
  --dx-pinkFill: var(--dx-pink-500);
  --dx-pinkSurface: var(--dx-pink-200);
  --dx-pinkSurfaceText: var(--dx-pink-700);
  --dx-pinkScreen: var(--dx-pink-100);
  --dx-roseCursor: var(--dx-rose-400);
  --dx-roseText: var(--dx-rose-550);
  --dx-roseFill: var(--dx-rose-500);
  --dx-roseSurface: var(--dx-rose-200);
  --dx-roseSurfaceText: var(--dx-rose-700);
  --dx-roseScreen: var(--dx-rose-100);
  --dx-neutralCursor: var(--dx-neutral-400);
  --dx-neutralText: var(--dx-neutral-550);
  --dx-neutralFill: var(--dx-neutral-500);
  --dx-neutralSurface: var(--dx-neutral-200);
  --dx-neutralSurfaceText: var(--dx-neutral-700);
  --dx-neutralScreen: var(--dx-neutral-100);
  --dx-primaryCursor: var(--dx-primary-400);
  --dx-primaryText: var(--dx-primary-550);
  --dx-primaryFill: var(--dx-primary-500);
  --dx-primarySurface: var(--dx-primary-200);
  --dx-primarySurfaceText: var(--dx-primary-700);
  --dx-primaryScreen: var(--dx-primary-100);
  --dx-axisSurface: var(--dx-neutral-50);
  --dx-axisText: var(--dx-neutral-800);
  --dx-axisSelectedSurface: var(--dx-neutral-100);
  --dx-axisSelectedText: var(--dx-neutral-100);
  --dx-gridCell: var(--dx-neutral-50\/0);
  --dx-gridCellSelected: var(--dx-neutral-50);
  --dx-gridOverlay: var(--dx-primary-500\/\.5);
  --dx-gridSelectionOverlay: var(--dx-primary-500\/\.2);
  --dx-gridHighlight: var(--dx-emerald-500\/\.5);
  --dx-gridCommented: var(--dx-green-200);
  --dx-gridCommentedActive: var(--dx-green-200\/\.5);
  --dx-baseSurface: var(--dx-neutral-0);
  --dx-groupSurface: var(--dx-neutral-0);
  --dx-modalSurface: var(--dx-neutral-0);
  --dx-textInputSurfaceBase: var(--dx-neutral-24);
  --dx-textInputSurfaceGroup: var(--dx-neutral-24);
  --dx-textInputSurfaceModal: var(--dx-neutral-24);
  --dx-inputSurfaceBase: var(--dx-neutral-39);
  --dx-inputSurfaceGroup: var(--dx-neutral-39);
  --dx-inputSurfaceModal: var(--dx-neutral-39);
  --dx-hoverSurfaceBase: var(--dx-neutral-63);
  --dx-hoverSurfaceGroup: var(--dx-neutral-63);
  --dx-hoverSurfaceModal: var(--dx-neutral-63);
  --dx-separatorBase: var(--dx-neutral-82);
  --dx-separatorGroup: var(--dx-neutral-82);
  --dx-separatorModal: var(--dx-neutral-82);
  --dx-subduedSeparator: var(--dx-neutral-82);
  --dx-scrollbarTrack: var(--dx-neutral-24);
  --dx-scrollbarThumbSubdued: var(--dx-neutral-43);
  --dx-scrollbarThumb: var(--dx-neutral-72);
  --dx-scrollbarThumbHover: var(--dx-neutral-92);
  --dx-scrollbarThumbActive: var(--dx-neutral-111);
  --dx-unAccent: var(--dx-neutral-400);
  --dx-unAccentHover: var(--dx-neutral-450);
  --dx-hoverOverlay: var(--dx-neutral-450\/\.1);
  --dx-scrimSurface: var(--dx-neutral-24\/0\.65);
  --dx-focusSurface: var(--dx-neutral-0);
  --dx-deckSurface: var(--dx-neutral-50);
  --dx-inverseSurface: var(--dx-neutral-855);
  --dx-accentSurfaceRelated: var(--dx-primary-300\/\.1);
  --dx-accentSurfaceHover: var(--dx-primary-600);
  --dx-accentSurface: var(--dx-primary-500);
  --dx-baseText: var(--dx-neutral-1000);
  --dx-inverseSurfaceText: var(--dx-neutral-50);
  --dx-description: var(--dx-neutral-550);
  --dx-subdued: var(--dx-neutral-700);
  --dx-placeholder: var(--dx-neutral-500);
  --dx-accentText: var(--dx-primary-550);
  --dx-accentSurfaceText: var(--dx-neutral-0);
  --dx-accentTextHover: var(--dx-primary-500);
  --dx-accentFocusIndicator: var(--dx-primary-300);
  --dx-neutralFocusIndicator: var(--dx-neutral-300);
}

.dark {
  --dx-callActive: var(--dx-green-500);
  --dx-callAlert: var(--dx-rose-500);
  --dx-cmCodeblock: var(--dx-neutral-500\/\.1);
  --dx-cmActiveLine: var(--dx-neutral-800\/\.5);
  --dx-cmSeparator: var(--dx-primary-500);
  --dx-cmCursor: var(--dx-neutral-100);
  --dx-cmSelection: var(--dx-primary-600\/\.5);
  --dx-cmFocusedSelection: var(--dx-primary-600);
  --dx-cmHighlight: var(--dx-neutral-50);
  --dx-cmHighlightSurface: var(--dx-cyan-600);
  --dx-cmCommentText: var(--dx-neutral-950);
  --dx-cmCommentSurface: var(--dx-amber-200);
  --dx-redCursor: var(--dx-red-300);
  --dx-redText: var(--dx-red-300);
  --dx-redFill: var(--dx-red-500);
  --dx-redSurface: var(--dx-red-700);
  --dx-redSurfaceText: var(--dx-red-200);
  --dx-redScreen: var(--dx-red-800);
  --dx-orangeCursor: var(--dx-orange-300);
  --dx-orangeText: var(--dx-orange-300);
  --dx-orangeFill: var(--dx-orange-500);
  --dx-orangeSurface: var(--dx-orange-700);
  --dx-orangeSurfaceText: var(--dx-orange-200);
  --dx-orangeScreen: var(--dx-orange-800);
  --dx-amberCursor: var(--dx-amber-300);
  --dx-amberText: var(--dx-amber-300);
  --dx-amberFill: var(--dx-amber-500);
  --dx-amberSurface: var(--dx-amber-700);
  --dx-amberSurfaceText: var(--dx-amber-200);
  --dx-amberScreen: var(--dx-amber-800);
  --dx-yellowCursor: var(--dx-yellow-300);
  --dx-yellowText: var(--dx-yellow-300);
  --dx-yellowFill: var(--dx-yellow-500);
  --dx-yellowSurface: var(--dx-yellow-700);
  --dx-yellowSurfaceText: var(--dx-yellow-200);
  --dx-yellowScreen: var(--dx-yellow-800);
  --dx-limeCursor: var(--dx-lime-300);
  --dx-limeText: var(--dx-lime-300);
  --dx-limeFill: var(--dx-lime-500);
  --dx-limeSurface: var(--dx-lime-700);
  --dx-limeSurfaceText: var(--dx-lime-200);
  --dx-limeScreen: var(--dx-lime-800);
  --dx-greenCursor: var(--dx-green-300);
  --dx-greenText: var(--dx-green-300);
  --dx-greenFill: var(--dx-green-500);
  --dx-greenSurface: var(--dx-green-700);
  --dx-greenSurfaceText: var(--dx-green-200);
  --dx-greenScreen: var(--dx-green-800);
  --dx-emeraldCursor: var(--dx-emerald-300);
  --dx-emeraldText: var(--dx-emerald-300);
  --dx-emeraldFill: var(--dx-emerald-500);
  --dx-emeraldSurface: var(--dx-emerald-700);
  --dx-emeraldSurfaceText: var(--dx-emerald-200);
  --dx-emeraldScreen: var(--dx-emerald-800);
  --dx-tealCursor: var(--dx-teal-300);
  --dx-tealText: var(--dx-teal-300);
  --dx-tealFill: var(--dx-teal-500);
  --dx-tealSurface: var(--dx-teal-700);
  --dx-tealSurfaceText: var(--dx-teal-200);
  --dx-tealScreen: var(--dx-teal-800);
  --dx-cyanCursor: var(--dx-cyan-300);
  --dx-cyanText: var(--dx-cyan-300);
  --dx-cyanFill: var(--dx-cyan-500);
  --dx-cyanSurface: var(--dx-cyan-700);
  --dx-cyanSurfaceText: var(--dx-cyan-200);
  --dx-cyanScreen: var(--dx-cyan-800);
  --dx-skyCursor: var(--dx-sky-300);
  --dx-skyText: var(--dx-sky-300);
  --dx-skyFill: var(--dx-sky-500);
  --dx-skySurface: var(--dx-sky-700);
  --dx-skySurfaceText: var(--dx-sky-200);
  --dx-skyScreen: var(--dx-sky-800);
  --dx-blueCursor: var(--dx-blue-300);
  --dx-blueText: var(--dx-blue-300);
  --dx-blueFill: var(--dx-blue-500);
  --dx-blueSurface: var(--dx-blue-700);
  --dx-blueSurfaceText: var(--dx-blue-200);
  --dx-blueScreen: var(--dx-blue-800);
  --dx-indigoCursor: var(--dx-indigo-300);
  --dx-indigoText: var(--dx-indigo-300);
  --dx-indigoFill: var(--dx-indigo-500);
  --dx-indigoSurface: var(--dx-indigo-700);
  --dx-indigoSurfaceText: var(--dx-indigo-200);
  --dx-indigoScreen: var(--dx-indigo-800);
  --dx-violetCursor: var(--dx-violet-300);
  --dx-violetText: var(--dx-violet-300);
  --dx-violetFill: var(--dx-violet-500);
  --dx-violetSurface: var(--dx-violet-700);
  --dx-violetSurfaceText: var(--dx-violet-200);
  --dx-violetScreen: var(--dx-violet-800);
  --dx-purpleCursor: var(--dx-purple-300);
  --dx-purpleText: var(--dx-purple-300);
  --dx-purpleFill: var(--dx-purple-500);
  --dx-purpleSurface: var(--dx-purple-700);
  --dx-purpleSurfaceText: var(--dx-purple-200);
  --dx-purpleScreen: var(--dx-purple-800);
  --dx-fuchsiaCursor: var(--dx-fuchsia-300);
  --dx-fuchsiaText: var(--dx-fuchsia-300);
  --dx-fuchsiaFill: var(--dx-fuchsia-500);
  --dx-fuchsiaSurface: var(--dx-fuchsia-700);
  --dx-fuchsiaSurfaceText: var(--dx-fuchsia-200);
  --dx-fuchsiaScreen: var(--dx-fuchsia-800);
  --dx-pinkCursor: var(--dx-pink-300);
  --dx-pinkText: var(--dx-pink-300);
  --dx-pinkFill: var(--dx-pink-500);
  --dx-pinkSurface: var(--dx-pink-700);
  --dx-pinkSurfaceText: var(--dx-pink-200);
  --dx-pinkScreen: var(--dx-pink-800);
  --dx-roseCursor: var(--dx-rose-300);
  --dx-roseText: var(--dx-rose-300);
  --dx-roseFill: var(--dx-rose-500);
  --dx-roseSurface: var(--dx-rose-700);
  --dx-roseSurfaceText: var(--dx-rose-200);
  --dx-roseScreen: var(--dx-rose-800);
  --dx-neutralCursor: var(--dx-neutral-300);
  --dx-neutralText: var(--dx-neutral-300);
  --dx-neutralFill: var(--dx-neutral-500);
  --dx-neutralSurface: var(--dx-neutral-700);
  --dx-neutralSurfaceText: var(--dx-neutral-200);
  --dx-neutralScreen: var(--dx-neutral-800);
  --dx-primaryCursor: var(--dx-primary-300);
  --dx-primaryText: var(--dx-primary-300);
  --dx-primaryFill: var(--dx-primary-500);
  --dx-primarySurface: var(--dx-primary-700);
  --dx-primarySurfaceText: var(--dx-primary-200);
  --dx-primaryScreen: var(--dx-primary-800);
  --dx-axisSurface: var(--dx-neutral-800);
  --dx-axisText: var(--dx-neutral-200);
  --dx-axisSelectedSurface: var(--dx-neutral-900);
  --dx-axisSelectedText: var(--dx-neutral-900);
  --dx-gridCell: var(--dx-neutral-850);
  --dx-gridCellSelected: var(--dx-neutral-800);
  --dx-gridOverlay: var(--dx-primary-500\/\.5);
  --dx-gridSelectionOverlay: var(--dx-primary-500\/\.2);
  --dx-gridHighlight: var(--dx-emerald-500\/\.5);
  --dx-gridCommented: var(--dx-green-600);
  --dx-gridCommentedActive: var(--dx-green-600\/\.5);
  --dx-baseSurface: var(--dx-neutral-855);
  --dx-groupSurface: var(--dx-neutral-793);
  --dx-modalSurface: var(--dx-neutral-750);
  --dx-textInputSurfaceBase: var(--dx-neutral-750);
  --dx-textInputSurfaceGroup: var(--dx-neutral-729);
  --dx-textInputSurfaceModal: var(--dx-neutral-708);
  --dx-inputSurfaceBase: var(--dx-neutral-736);
  --dx-inputSurfaceGroup: var(--dx-neutral-722);
  --dx-inputSurfaceModal: var(--dx-neutral-708);
  --dx-hoverSurfaceBase: var(--dx-neutral-686);
  --dx-hoverSurfaceGroup: var(--dx-neutral-665);
  --dx-hoverSurfaceModal: var(--dx-neutral-644);
  --dx-separatorBase: var(--dx-neutral-665);
  --dx-separatorGroup: var(--dx-neutral-644);
  --dx-separatorModal: var(--dx-neutral-623);
  --dx-subduedSeparator: var(--dx-neutral-708);
  --dx-scrollbarTrack: var(--dx-neutral-750);
  --dx-scrollbarThumbSubdued: var(--dx-neutral-708);
  --dx-scrollbarThumb: var(--dx-neutral-644);
  --dx-scrollbarThumbHover: var(--dx-neutral-601);
  --dx-scrollbarThumbActive: var(--dx-neutral-559);
  --dx-unAccent: var(--dx-neutral-400);
  --dx-unAccentHover: var(--dx-neutral-450);
  --dx-hoverOverlay: var(--dx-neutral-450\/\.1);
  --dx-scrimSurface: var(--dx-neutral-855\/0\.65);
  --dx-focusSurface: var(--dx-neutral-1000);
  --dx-deckSurface: var(--dx-neutral-950);
  --dx-inverseSurface: var(--dx-neutral-0);
  --dx-accentSurfaceRelated: var(--dx-primary-400\/\.1);
  --dx-accentSurfaceHover: var(--dx-primary-475);
  --dx-accentSurface: var(--dx-primary-500);
  --dx-baseText: var(--dx-neutral-50);
  --dx-inverseSurfaceText: var(--dx-neutral-1000);
  --dx-description: var(--dx-neutral-350);
  --dx-subdued: var(--dx-neutral-300);
  --dx-placeholder: var(--dx-neutral-500);
  --dx-accentText: var(--dx-primary-400);
  --dx-accentSurfaceText: var(--dx-neutral-0);
  --dx-accentTextHover: var(--dx-primary-350);
  --dx-accentFocusIndicator: var(--dx-primary-450);
  --dx-neutralFocusIndicator: var(--dx-neutral-550);
}

:root, .dark {
  --dx-gridLine: var(--dx-activeSurface);
  --dx-gridFocusIndicatorColor: var(--dx-accentFocusIndicator);
  --dx-activeSurface: var(--dx-inputSurfaceBase);
  --dx-inputSurface: var(--dx-inputSurfaceBase);
  --dx-sidebarSurface: var(--dx-groupSurface);
  --dx-headerSurface: var(--dx-groupSurface);
  --dx-toolbarSurface: var(--dx-groupSurface);
  --dx-cardSurface: var(--dx-groupSurface);
  --dx-textInputSurface: var(--dx-textInputSurfaceBase);
  --dx-hoverSurface: var(--dx-hoverSurfaceBase);
  --dx-attention: var(--dx-focusSurface);
  --dx-currentRelated: var(--dx-modalSurface);
  --dx-separator: var(--dx-separatorBase);
  --dx-successText: var(--dx-emeraldText);
  --dx-infoText: var(--dx-cyanText);
  --dx-warningText: var(--dx-amberText);
  --dx-errorText: var(--dx-roseText);
  --dx-currentText: var(--dx-primaryText);
  --dx-internalText: var(--dx-fuchsiaText);
  --dx-successSurface: var(--dx-emeraldSurface);
  --dx-infoSurface: var(--dx-cyanSurface);
  --dx-warningSurface: var(--dx-amberSurface);
  --dx-errorSurface: var(--dx-roseSurface);
  --dx-currentSurface: var(--dx-primarySurface);
  --dx-internalSurface: var(--dx-fuchsiaSurface);
  --dx-successSurfaceText: var(--dx-emeraldSurfaceText);
  --dx-infoSurfaceText: var(--dx-cyanSurfaceText);
  --dx-warningSurfaceText: var(--dx-amberSurfaceText);
  --dx-errorSurfaceText: var(--dx-roseSurfaceText);
  --dx-currentSurfaceText: var(--dx-primarySurfaceText);
  --dx-internalSurfaceText: var(--dx-fuchsiaSurfaceText);
  --dx-successFill: var(--dx-emeraldFill);
  --dx-infoFill: var(--dx-cyanFill);
  --dx-warningFill: var(--dx-amberFill);
  --dx-errorFill: var(--dx-roseFill);
  --dx-currentFill: var(--dx-primaryFill);
  --dx-internalFill: var(--dx-fuchsiaFill);
  --dx-successCursor: var(--dx-emeraldCursor);
  --dx-infoCursor: var(--dx-cyanCursor);
  --dx-warningCursor: var(--dx-amberCursor);
  --dx-errorCursor: var(--dx-roseCursor);
  --dx-currentCursor: var(--dx-primaryCursor);
  --dx-internalCursor: var(--dx-fuchsiaCursor);
}

.sidebar-surface, .dark .sidebar-surface, .bg-groupSurface, .dark .bg-groupSurface, .bg-sidebarSurface, .dark .bg-sidebarSurface, .bg-headerSurface, .dark .bg-headerSurface, .bg-toolbarSurface, .dark .bg-toolbarSurface, .bg-cardSurface, .dark .bg-cardSurface {
  --dx-textInputSurface: var(--dx-textInputSurfaceGroup);
  --dx-inputSurface: var(--dx-inputSurfaceGroup);
  --dx-hoverSurface: var(--dx-hoverSurfaceGroup);
  --dx-separator: var(--dx-separatorGroup);
}

.modal-surface, .dark .modal-surface, .bg-modalSurface, .dark .bg-modalSurface, .bg-currentRelated, .dark .bg-currentRelated {
  --dx-textInputSurface: var(--dx-textInputSurfaceModal);
  --dx-inputSurface: var(--dx-inputSurfaceModal);
  --dx-hoverSurface: var(--dx-hoverSurfaceModal);
  --dx-separator: var(--dx-separatorModal);
}

[data-grid-focus-indicator-variant="stack"] {
  --dx-gridFocusIndicatorColor: var(--dx-neutralFocusIndicator);
}

:root {
  --dx-line-0: 0.000px;
  --dx-line-1: 1.000px;
  --dx-line-2: 2.000px;

  --dx-lacuna-12: 1.500rem;
  --dx-lacuna-3: 0.375rem;
  --dx-lacuna-4: 0.500rem;
  --dx-lacuna-6: 0.750rem;
}

:root {
  --dx-noLine: var(--dx-line-0);
  --dx-hairLine: var(--dx-line-1);
  --dx-thickLine: var(--dx-line-2);
  --dx-trimXs: var(--dx-lacuna-3);
  --dx-trimSm: var(--dx-lacuna-4);
  --dx-trimMd: var(--dx-lacuna-6);
  --dx-trimLg: var(--dx-lacuna-12);
  --dx-inputFine: var(--dx-lacuna-3);
  --dx-inputCoarse: var(--dx-lacuna-4);
}

:root, .density-fine {
  --dx-focusOffset: var(--dx-noLine);
  --dx-modalLine: var(--dx-hairLine);
  --dx-landmarkLine: var(--dx-hairLine);
  --dx-positionedLine: var(--dx-hairLine);
  --dx-gridGap: var(--dx-hairLine);
  --dx-gridFocusIndicatorWidth: var(--dx-hairLine);
  --dx-focusLine: var(--dx-thickLine);
  --dx-iconButtonPadding: var(--dx-inputFine);
  --dx-cardChrome: var(--dx-trimXs);
  --dx-cardPadding: var(--dx-trimSm);
}

.density-coarse {
  --dx-iconButtonPadding: var(--dx-inputCoarse);
  --dx-cardPadding: var(--dx-trimMd);
}

.density-flush {

}

[data-grid-focus-indicator-variant="stack"] {
  --dx-gridFocusIndicatorWidth: var(--dx-thickLine);
}

:root {
  --dx-size-18: 18.000rem;
  --dx-size-20: 20.000rem;
  --dx-size-22: 22.000rem;
  --dx-size-30: 30.000rem;
  --dx-size-50: 50.000rem;
}

:root {
  --dx-prose-max-width: var(--dx-size-50);
  --dx-container-max-width: var(--dx-size-50);
  --dx-card-default-width: var(--dx-size-20);
  --dx-card-min-width: var(--dx-size-18);
  --dx-card-max-width: var(--dx-size-22);
  --dx-card-min-height: var(--dx-size-18);
  --dx-card-max-height: var(--dx-size-30);
}