:root, .dark {
  --dx-callActive: var(--color-green-500);
  --dx-callAlert: var(--color-rose-500);
  --dx-redCursor: light-dark(var(--color-red-400), var(--color-red-300));
  --dx-redText: light-dark(var(--color-red-600), var(--color-red-300));
  --dx-redFill: var(--color-red-500);
  --dx-redSurface: light-dark(var(--color-red-200), var(--color-red-700));
  --dx-redSurfaceText: light-dark(var(--color-red-700), var(--color-red-200));
  --dx-redScreen: light-dark(var(--color-red-100), var(--color-red-800));
  --dx-orangeCursor: light-dark(var(--color-orange-400), var(--color-orange-300));
  --dx-orangeText: light-dark(var(--color-orange-600), var(--color-orange-300));
  --dx-orangeFill: var(--color-orange-500);
  --dx-orangeSurface: light-dark(var(--color-orange-200), var(--color-orange-700));
  --dx-orangeSurfaceText: light-dark(var(--color-orange-700), var(--color-orange-200));
  --dx-orangeScreen: light-dark(var(--color-orange-100), var(--color-orange-800));
  --dx-amberCursor: light-dark(var(--color-amber-400), var(--color-amber-300));
  --dx-amberText: light-dark(var(--color-amber-600), var(--color-amber-300));
  --dx-amberFill: var(--color-amber-500);
  --dx-amberSurface: light-dark(var(--color-amber-200), var(--color-amber-700));
  --dx-amberSurfaceText: light-dark(var(--color-amber-700), var(--color-amber-200));
  --dx-amberScreen: light-dark(var(--color-amber-100), var(--color-amber-800));
  --dx-yellowCursor: light-dark(var(--color-yellow-400), var(--color-yellow-300));
  --dx-yellowText: light-dark(var(--color-yellow-600), var(--color-yellow-300));
  --dx-yellowFill: var(--color-yellow-500);
  --dx-yellowSurface: light-dark(var(--color-yellow-200), var(--color-yellow-700));
  --dx-yellowSurfaceText: light-dark(var(--color-yellow-700), var(--color-yellow-200));
  --dx-yellowScreen: light-dark(var(--color-yellow-100), var(--color-yellow-800));
  --dx-limeCursor: light-dark(var(--color-lime-400), var(--color-lime-300));
  --dx-limeText: light-dark(var(--color-lime-600), var(--color-lime-300));
  --dx-limeFill: var(--color-lime-500);
  --dx-limeSurface: light-dark(var(--color-lime-200), var(--color-lime-700));
  --dx-limeSurfaceText: light-dark(var(--color-lime-700), var(--color-lime-200));
  --dx-limeScreen: light-dark(var(--color-lime-100), var(--color-lime-800));
  --dx-greenCursor: light-dark(var(--color-green-400), var(--color-green-300));
  --dx-greenText: light-dark(var(--color-green-600), var(--color-green-300));
  --dx-greenFill: var(--color-green-500);
  --dx-greenSurface: light-dark(var(--color-green-200), var(--color-green-700));
  --dx-greenSurfaceText: light-dark(var(--color-green-700), var(--color-green-200));
  --dx-greenScreen: light-dark(var(--color-green-100), var(--color-green-800));
  --dx-emeraldCursor: light-dark(var(--color-emerald-400), var(--color-emerald-300));
  --dx-emeraldText: light-dark(var(--color-emerald-600), var(--color-emerald-300));
  --dx-emeraldFill: var(--color-emerald-500);
  --dx-emeraldSurface: light-dark(var(--color-emerald-200), var(--color-emerald-700));
  --dx-emeraldSurfaceText: light-dark(var(--color-emerald-700), var(--color-emerald-200));
  --dx-emeraldScreen: light-dark(var(--color-emerald-100), var(--color-emerald-800));
  --dx-tealCursor: light-dark(var(--color-teal-400), var(--color-teal-300));
  --dx-tealText: light-dark(var(--color-teal-600), var(--color-teal-300));
  --dx-tealFill: var(--color-teal-500);
  --dx-tealSurface: light-dark(var(--color-teal-200), var(--color-teal-700));
  --dx-tealSurfaceText: light-dark(var(--color-teal-700), var(--color-teal-200));
  --dx-tealScreen: light-dark(var(--color-teal-100), var(--color-teal-800));
  --dx-cyanCursor: light-dark(var(--color-cyan-400), var(--color-cyan-300));
  --dx-cyanText: light-dark(var(--color-cyan-600), var(--color-cyan-300));
  --dx-cyanFill: var(--color-cyan-500);
  --dx-cyanSurface: light-dark(var(--color-cyan-200), var(--color-cyan-700));
  --dx-cyanSurfaceText: light-dark(var(--color-cyan-700), var(--color-cyan-200));
  --dx-cyanScreen: light-dark(var(--color-cyan-100), var(--color-cyan-800));
  --dx-skyCursor: light-dark(var(--color-sky-400), var(--color-sky-300));
  --dx-skyText: light-dark(var(--color-sky-600), var(--color-sky-300));
  --dx-skyFill: var(--color-sky-500);
  --dx-skySurface: light-dark(var(--color-sky-200), var(--color-sky-700));
  --dx-skySurfaceText: light-dark(var(--color-sky-700), var(--color-sky-200));
  --dx-skyScreen: light-dark(var(--color-sky-100), var(--color-sky-800));
  --dx-blueCursor: light-dark(var(--color-blue-400), var(--color-blue-300));
  --dx-blueText: light-dark(var(--color-blue-600), var(--color-blue-300));
  --dx-blueFill: var(--color-blue-500);
  --dx-blueSurface: light-dark(var(--color-blue-200), var(--color-blue-700));
  --dx-blueSurfaceText: light-dark(var(--color-blue-700), var(--color-blue-200));
  --dx-blueScreen: light-dark(var(--color-blue-100), var(--color-blue-800));
  --dx-indigoCursor: light-dark(var(--color-indigo-400), var(--color-indigo-300));
  --dx-indigoText: light-dark(var(--color-indigo-600), var(--color-indigo-300));
  --dx-indigoFill: var(--color-indigo-500);
  --dx-indigoSurface: light-dark(var(--color-indigo-200), var(--color-indigo-700));
  --dx-indigoSurfaceText: light-dark(var(--color-indigo-700), var(--color-indigo-200));
  --dx-indigoScreen: light-dark(var(--color-indigo-100), var(--color-indigo-800));
  --dx-violetCursor: light-dark(var(--color-violet-400), var(--color-violet-300));
  --dx-violetText: light-dark(var(--color-violet-600), var(--color-violet-300));
  --dx-violetFill: var(--color-violet-500);
  --dx-violetSurface: light-dark(var(--color-violet-200), var(--color-violet-700));
  --dx-violetSurfaceText: light-dark(var(--color-violet-700), var(--color-violet-200));
  --dx-violetScreen: light-dark(var(--color-violet-100), var(--color-violet-800));
  --dx-purpleCursor: light-dark(var(--color-purple-400), var(--color-purple-300));
  --dx-purpleText: light-dark(var(--color-purple-600), var(--color-purple-300));
  --dx-purpleFill: var(--color-purple-500);
  --dx-purpleSurface: light-dark(var(--color-purple-200), var(--color-purple-700));
  --dx-purpleSurfaceText: light-dark(var(--color-purple-700), var(--color-purple-200));
  --dx-purpleScreen: light-dark(var(--color-purple-100), var(--color-purple-800));
  --dx-fuchsiaCursor: light-dark(var(--color-fuchsia-400), var(--color-fuchsia-300));
  --dx-fuchsiaText: light-dark(var(--color-fuchsia-600), var(--color-fuchsia-300));
  --dx-fuchsiaFill: var(--color-fuchsia-500);
  --dx-fuchsiaSurface: light-dark(var(--color-fuchsia-200), var(--color-fuchsia-700));
  --dx-fuchsiaSurfaceText: light-dark(var(--color-fuchsia-700), var(--color-fuchsia-200));
  --dx-fuchsiaScreen: light-dark(var(--color-fuchsia-100), var(--color-fuchsia-800));
  --dx-pinkCursor: light-dark(var(--color-pink-400), var(--color-pink-300));
  --dx-pinkText: light-dark(var(--color-pink-600), var(--color-pink-300));
  --dx-pinkFill: var(--color-pink-500);
  --dx-pinkSurface: light-dark(var(--color-pink-200), var(--color-pink-700));
  --dx-pinkSurfaceText: light-dark(var(--color-pink-700), var(--color-pink-200));
  --dx-pinkScreen: light-dark(var(--color-pink-100), var(--color-pink-800));
  --dx-roseCursor: light-dark(var(--color-rose-400), var(--color-rose-300));
  --dx-roseText: light-dark(var(--color-rose-600), var(--color-rose-300));
  --dx-roseFill: var(--color-rose-500);
  --dx-roseSurface: light-dark(var(--color-rose-200), var(--color-rose-700));
  --dx-roseSurfaceText: light-dark(var(--color-rose-700), var(--color-rose-200));
  --dx-roseScreen: light-dark(var(--color-rose-100), var(--color-rose-800));
  --dx-neutralCursor: light-dark(var(--color-neutral-500), var(--color-neutral-400));
  --dx-neutralText: light-dark(var(--color-neutral-600), var(--color-neutral-400));
  --dx-neutralFill: var(--color-neutral-600);
  --dx-neutralSurface: light-dark(var(--color-neutral-300), var(--color-neutral-800));
  --dx-neutralSurfaceText: light-dark(var(--color-neutral-800), var(--color-neutral-300));
  --dx-neutralScreen: light-dark(var(--color-neutral-200), var(--color-neutral-900));
  --dx-primaryCursor: light-dark(var(--color-blue-400), var(--color-blue-300));
  --dx-primaryText: light-dark(var(--color-blue-600), var(--color-blue-300));
  --dx-primaryFill: var(--color-blue-500);
  --dx-primarySurface: light-dark(var(--color-blue-200), var(--color-blue-700));
  --dx-primarySurfaceText: light-dark(var(--color-blue-700), var(--color-blue-200));
  --dx-primaryScreen: light-dark(var(--color-blue-100), var(--color-blue-800));
  --dx-axisSurface: light-dark(var(--color-neutral-100), var(--color-neutral-900));
  --dx-axisText: light-dark(var(--color-neutral-900), var(--color-neutral-300));
  --dx-axisSelectedSurface: light-dark(var(--color-neutral-200), var(--color-neutral-950));
  --dx-axisSelectedText: light-dark(var(--color-neutral-200), var(--color-neutral-950));
  --dx-gridCell: light-dark(transparent, var(--color-neutral-950));
  --dx-gridCellSelected: light-dark(var(--color-neutral-100), var(--color-neutral-900));
  --dx-gridOverlay: oklch(from var(--color-blue-500) l c h / 0.5);
  --dx-gridSelectionOverlay: oklch(from var(--color-blue-500) l c h / 0.2);
  --dx-gridHighlight: oklch(from var(--color-emerald-500) l c h / 0.5);
  --dx-gridCommented: light-dark(var(--color-green-200), var(--color-green-600));
  --dx-gridCommentedActive: light-dark(oklch(from var(--color-green-200) l c h / 0.5), oklch(from var(--color-green-600) l c h / 0.5));
  --dx-baseSurface: light-dark(white, var(--color-neutral-950));
  --dx-groupSurface: light-dark(white, var(--color-neutral-900));
  --dx-modalSurface: light-dark(white, var(--color-neutral-900));
  --dx-textInputSurfaceBase: light-dark(var(--color-neutral-50), var(--color-neutral-900));
  --dx-textInputSurfaceGroup: light-dark(var(--color-neutral-50), var(--color-neutral-800));
  --dx-textInputSurfaceModal: light-dark(var(--color-neutral-50), var(--color-neutral-800));
  --dx-inputSurfaceBase: light-dark(var(--color-neutral-100), var(--color-neutral-800));
  --dx-inputSurfaceGroup: light-dark(var(--color-neutral-100), var(--color-neutral-800));
  --dx-inputSurfaceModal: light-dark(var(--color-neutral-100), var(--color-neutral-800));
  --dx-hoverSurfaceBase: light-dark(var(--color-neutral-100), var(--color-neutral-800));
  --dx-hoverSurfaceGroup: light-dark(var(--color-neutral-100), var(--color-neutral-700));
  --dx-hoverSurfaceModal: light-dark(var(--color-neutral-100), var(--color-neutral-700));
  --dx-separatorBase: light-dark(var(--color-neutral-200), var(--color-neutral-700));
  --dx-separatorGroup: light-dark(var(--color-neutral-200), var(--color-neutral-700));
  --dx-separatorModal: light-dark(var(--color-neutral-200), var(--color-neutral-700));
  --dx-subduedSeparator: light-dark(var(--color-neutral-200), var(--color-neutral-800));
  --dx-scrollbarTrack: light-dark(var(--color-neutral-50), var(--color-neutral-900));
  --dx-scrollbarThumbSubdued: light-dark(var(--color-neutral-100), var(--color-neutral-800));
  --dx-scrollbarThumb: light-dark(var(--color-neutral-200), var(--color-neutral-700));
  --dx-scrollbarThumbHover: light-dark(var(--color-neutral-200), var(--color-neutral-700));
  --dx-scrollbarThumbActive: light-dark(var(--color-neutral-200), var(--color-neutral-600));
  --dx-unAccent: var(--color-neutral-500);
  --dx-unAccentHover: var(--color-neutral-500);
  --dx-hoverOverlay: oklch(from var(--color-neutral-500) l c h / 0.1);
  --dx-scrimSurface: light-dark(oklch(from var(--color-neutral-50) l c h / 0.65), oklch(from var(--color-neutral-950) l c h / 0.65));
  --dx-focusSurface: light-dark(white, black);
  --dx-deckSurface: light-dark(var(--color-neutral-100), var(--color-neutral-950));
  --dx-inverseSurface: light-dark(var(--color-neutral-950), white);
  --dx-accentSurfaceRelated: light-dark(oklch(from var(--color-blue-300) l c h / 0.1), oklch(from var(--color-blue-400) l c h / 0.1));
  --dx-accentSurfaceHover: light-dark(var(--color-blue-600), var(--color-blue-500));
  --dx-accentSurface: var(--color-blue-500);
  --dx-baseText: light-dark(black, var(--color-neutral-100));
  --dx-inverseSurfaceText: light-dark(var(--color-neutral-100), black);
  --dx-description: light-dark(var(--color-neutral-600), var(--color-neutral-500));
  --dx-subdued: light-dark(var(--color-neutral-800), var(--color-neutral-400));
  --dx-placeholder: var(--color-neutral-600);
  --dx-accentText: light-dark(var(--color-blue-600), var(--color-blue-400));
  --dx-accentSurfaceText: white;
  --dx-accentTextHover: light-dark(var(--color-blue-500), var(--color-blue-400));
  --dx-accentFocusIndicator: light-dark(var(--color-blue-300), var(--color-blue-500));
  --dx-neutralFocusIndicator: light-dark(var(--color-neutral-400), var(--color-neutral-600));
}
