:root {
  --dx-callActive: var(--color-green-500);
  --dx-callAlert: var(--color-rose-500);
  --dx-redCursor: var(--color-red-400);
  --dx-redText: var(--color-red-600);
  --dx-redFill: var(--color-red-500);
  --dx-redSurface: var(--color-red-200);
  --dx-redSurfaceText: var(--color-red-700);
  --dx-redScreen: var(--color-red-100);
  --dx-orangeCursor: var(--color-orange-400);
  --dx-orangeText: var(--color-orange-600);
  --dx-orangeFill: var(--color-orange-500);
  --dx-orangeSurface: var(--color-orange-200);
  --dx-orangeSurfaceText: var(--color-orange-700);
  --dx-orangeScreen: var(--color-orange-100);
  --dx-amberCursor: var(--color-amber-400);
  --dx-amberText: var(--color-amber-600);
  --dx-amberFill: var(--color-amber-500);
  --dx-amberSurface: var(--color-amber-200);
  --dx-amberSurfaceText: var(--color-amber-700);
  --dx-amberScreen: var(--color-amber-100);
  --dx-yellowCursor: var(--color-yellow-400);
  --dx-yellowText: var(--color-yellow-600);
  --dx-yellowFill: var(--color-yellow-500);
  --dx-yellowSurface: var(--color-yellow-200);
  --dx-yellowSurfaceText: var(--color-yellow-700);
  --dx-yellowScreen: var(--color-yellow-100);
  --dx-limeCursor: var(--color-lime-400);
  --dx-limeText: var(--color-lime-600);
  --dx-limeFill: var(--color-lime-500);
  --dx-limeSurface: var(--color-lime-200);
  --dx-limeSurfaceText: var(--color-lime-700);
  --dx-limeScreen: var(--color-lime-100);
  --dx-greenCursor: var(--color-green-400);
  --dx-greenText: var(--color-green-600);
  --dx-greenFill: var(--color-green-500);
  --dx-greenSurface: var(--color-green-200);
  --dx-greenSurfaceText: var(--color-green-700);
  --dx-greenScreen: var(--color-green-100);
  --dx-emeraldCursor: var(--color-emerald-400);
  --dx-emeraldText: var(--color-emerald-600);
  --dx-emeraldFill: var(--color-emerald-500);
  --dx-emeraldSurface: var(--color-emerald-200);
  --dx-emeraldSurfaceText: var(--color-emerald-700);
  --dx-emeraldScreen: var(--color-emerald-100);
  --dx-tealCursor: var(--color-teal-400);
  --dx-tealText: var(--color-teal-600);
  --dx-tealFill: var(--color-teal-500);
  --dx-tealSurface: var(--color-teal-200);
  --dx-tealSurfaceText: var(--color-teal-700);
  --dx-tealScreen: var(--color-teal-100);
  --dx-cyanCursor: var(--color-cyan-400);
  --dx-cyanText: var(--color-cyan-600);
  --dx-cyanFill: var(--color-cyan-500);
  --dx-cyanSurface: var(--color-cyan-200);
  --dx-cyanSurfaceText: var(--color-cyan-700);
  --dx-cyanScreen: var(--color-cyan-100);
  --dx-skyCursor: var(--color-sky-400);
  --dx-skyText: var(--color-sky-600);
  --dx-skyFill: var(--color-sky-500);
  --dx-skySurface: var(--color-sky-200);
  --dx-skySurfaceText: var(--color-sky-700);
  --dx-skyScreen: var(--color-sky-100);
  --dx-blueCursor: var(--color-blue-400);
  --dx-blueText: var(--color-blue-600);
  --dx-blueFill: var(--color-blue-500);
  --dx-blueSurface: var(--color-blue-200);
  --dx-blueSurfaceText: var(--color-blue-700);
  --dx-blueScreen: var(--color-blue-100);
  --dx-indigoCursor: var(--color-indigo-400);
  --dx-indigoText: var(--color-indigo-600);
  --dx-indigoFill: var(--color-indigo-500);
  --dx-indigoSurface: var(--color-indigo-200);
  --dx-indigoSurfaceText: var(--color-indigo-700);
  --dx-indigoScreen: var(--color-indigo-100);
  --dx-violetCursor: var(--color-violet-400);
  --dx-violetText: var(--color-violet-600);
  --dx-violetFill: var(--color-violet-500);
  --dx-violetSurface: var(--color-violet-200);
  --dx-violetSurfaceText: var(--color-violet-700);
  --dx-violetScreen: var(--color-violet-100);
  --dx-purpleCursor: var(--color-purple-400);
  --dx-purpleText: var(--color-purple-600);
  --dx-purpleFill: var(--color-purple-500);
  --dx-purpleSurface: var(--color-purple-200);
  --dx-purpleSurfaceText: var(--color-purple-700);
  --dx-purpleScreen: var(--color-purple-100);
  --dx-fuchsiaCursor: var(--color-fuchsia-400);
  --dx-fuchsiaText: var(--color-fuchsia-600);
  --dx-fuchsiaFill: var(--color-fuchsia-500);
  --dx-fuchsiaSurface: var(--color-fuchsia-200);
  --dx-fuchsiaSurfaceText: var(--color-fuchsia-700);
  --dx-fuchsiaScreen: var(--color-fuchsia-100);
  --dx-pinkCursor: var(--color-pink-400);
  --dx-pinkText: var(--color-pink-600);
  --dx-pinkFill: var(--color-pink-500);
  --dx-pinkSurface: var(--color-pink-200);
  --dx-pinkSurfaceText: var(--color-pink-700);
  --dx-pinkScreen: var(--color-pink-100);
  --dx-roseCursor: var(--color-rose-400);
  --dx-roseText: var(--color-rose-600);
  --dx-roseFill: var(--color-rose-500);
  --dx-roseSurface: var(--color-rose-200);
  --dx-roseSurfaceText: var(--color-rose-700);
  --dx-roseScreen: var(--color-rose-100);
  --dx-neutralCursor: var(--color-neutral-500);
  --dx-neutralText: var(--color-neutral-600);
  --dx-neutralFill: var(--color-neutral-600);
  --dx-neutralSurface: var(--color-neutral-300);
  --dx-neutralSurfaceText: var(--color-neutral-800);
  --dx-neutralScreen: var(--color-neutral-200);
  --dx-primaryCursor: var(--color-blue-400);
  --dx-primaryText: var(--color-blue-600);
  --dx-primaryFill: var(--color-blue-500);
  --dx-primarySurface: var(--color-blue-200);
  --dx-primarySurfaceText: var(--color-blue-700);
  --dx-primaryScreen: var(--color-blue-100);
  --dx-axisSurface: var(--color-neutral-100);
  --dx-axisText: var(--color-neutral-900);
  --dx-axisSelectedSurface: var(--color-neutral-200);
  --dx-axisSelectedText: var(--color-neutral-200);
  --dx-gridCell: transparent;
  --dx-gridCellSelected: var(--color-neutral-100);
  --dx-gridOverlay: oklch(from var(--color-blue-500) l c h / 0.5);
  --dx-gridSelectionOverlay: oklch(from var(--color-blue-500) l c h / 0.2);
  --dx-gridHighlight: oklch(from var(--color-emerald-500) l c h / 0.5);
  --dx-gridCommented: var(--color-green-200);
  --dx-gridCommentedActive: oklch(from var(--color-green-200) l c h / 0.5);
  --dx-baseSurface: white;
  --dx-groupSurface: white;
  --dx-modalSurface: white;
  --dx-textInputSurfaceBase: var(--color-neutral-50);
  --dx-textInputSurfaceGroup: var(--color-neutral-50);
  --dx-textInputSurfaceModal: var(--color-neutral-50);
  --dx-inputSurfaceBase: var(--color-neutral-100);
  --dx-inputSurfaceGroup: var(--color-neutral-100);
  --dx-inputSurfaceModal: var(--color-neutral-100);
  --dx-hoverSurfaceBase: var(--color-neutral-100);
  --dx-hoverSurfaceGroup: var(--color-neutral-100);
  --dx-hoverSurfaceModal: var(--color-neutral-100);
  --dx-separatorBase: var(--color-neutral-200);
  --dx-separatorGroup: var(--color-neutral-200);
  --dx-separatorModal: var(--color-neutral-200);
  --dx-subduedSeparator: var(--color-neutral-200);
  --dx-scrollbarTrack: var(--color-neutral-50);
  --dx-scrollbarThumbSubdued: var(--color-neutral-100);
  --dx-scrollbarThumb: var(--color-neutral-200);
  --dx-scrollbarThumbHover: var(--color-neutral-200);
  --dx-scrollbarThumbActive: var(--color-neutral-200);
  --dx-unAccent: var(--color-neutral-500);
  --dx-unAccentHover: var(--color-neutral-500);
  --dx-hoverOverlay: oklch(from var(--color-neutral-500) l c h / 0.1);
  --dx-scrimSurface: oklch(from var(--color-neutral-50) l c h / 0.65);
  --dx-focusSurface: white;
  --dx-deckSurface: var(--color-neutral-100);
  --dx-inverseSurface: var(--color-neutral-950);
  --dx-accentSurfaceRelated: oklch(from var(--color-blue-300) l c h / 0.1);
  --dx-accentSurfaceHover: var(--color-blue-600);
  --dx-accentSurface: var(--color-blue-500);
  --dx-baseText: black;
  --dx-inverseSurfaceText: var(--color-neutral-100);
  --dx-description: var(--color-neutral-600);
  --dx-subdued: var(--color-neutral-800);
  --dx-placeholder: var(--color-neutral-600);
  --dx-accentText: var(--color-blue-600);
  --dx-accentSurfaceText: white;
  --dx-accentTextHover: var(--color-blue-500);
  --dx-accentFocusIndicator: var(--color-blue-300);
  --dx-neutralFocusIndicator: var(--color-neutral-400);
}

.dark {
  --dx-callActive: var(--color-green-500);
  --dx-callAlert: var(--color-rose-500);
  --dx-redCursor: var(--color-red-300);
  --dx-redText: var(--color-red-300);
  --dx-redFill: var(--color-red-500);
  --dx-redSurface: var(--color-red-700);
  --dx-redSurfaceText: var(--color-red-200);
  --dx-redScreen: var(--color-red-800);
  --dx-orangeCursor: var(--color-orange-300);
  --dx-orangeText: var(--color-orange-300);
  --dx-orangeFill: var(--color-orange-500);
  --dx-orangeSurface: var(--color-orange-700);
  --dx-orangeSurfaceText: var(--color-orange-200);
  --dx-orangeScreen: var(--color-orange-800);
  --dx-amberCursor: var(--color-amber-300);
  --dx-amberText: var(--color-amber-300);
  --dx-amberFill: var(--color-amber-500);
  --dx-amberSurface: var(--color-amber-700);
  --dx-amberSurfaceText: var(--color-amber-200);
  --dx-amberScreen: var(--color-amber-800);
  --dx-yellowCursor: var(--color-yellow-300);
  --dx-yellowText: var(--color-yellow-300);
  --dx-yellowFill: var(--color-yellow-500);
  --dx-yellowSurface: var(--color-yellow-700);
  --dx-yellowSurfaceText: var(--color-yellow-200);
  --dx-yellowScreen: var(--color-yellow-800);
  --dx-limeCursor: var(--color-lime-300);
  --dx-limeText: var(--color-lime-300);
  --dx-limeFill: var(--color-lime-500);
  --dx-limeSurface: var(--color-lime-700);
  --dx-limeSurfaceText: var(--color-lime-200);
  --dx-limeScreen: var(--color-lime-800);
  --dx-greenCursor: var(--color-green-300);
  --dx-greenText: var(--color-green-300);
  --dx-greenFill: var(--color-green-500);
  --dx-greenSurface: var(--color-green-700);
  --dx-greenSurfaceText: var(--color-green-200);
  --dx-greenScreen: var(--color-green-800);
  --dx-emeraldCursor: var(--color-emerald-300);
  --dx-emeraldText: var(--color-emerald-300);
  --dx-emeraldFill: var(--color-emerald-500);
  --dx-emeraldSurface: var(--color-emerald-700);
  --dx-emeraldSurfaceText: var(--color-emerald-200);
  --dx-emeraldScreen: var(--color-emerald-800);
  --dx-tealCursor: var(--color-teal-300);
  --dx-tealText: var(--color-teal-300);
  --dx-tealFill: var(--color-teal-500);
  --dx-tealSurface: var(--color-teal-700);
  --dx-tealSurfaceText: var(--color-teal-200);
  --dx-tealScreen: var(--color-teal-800);
  --dx-cyanCursor: var(--color-cyan-300);
  --dx-cyanText: var(--color-cyan-300);
  --dx-cyanFill: var(--color-cyan-500);
  --dx-cyanSurface: var(--color-cyan-700);
  --dx-cyanSurfaceText: var(--color-cyan-200);
  --dx-cyanScreen: var(--color-cyan-800);
  --dx-skyCursor: var(--color-sky-300);
  --dx-skyText: var(--color-sky-300);
  --dx-skyFill: var(--color-sky-500);
  --dx-skySurface: var(--color-sky-700);
  --dx-skySurfaceText: var(--color-sky-200);
  --dx-skyScreen: var(--color-sky-800);
  --dx-blueCursor: var(--color-blue-300);
  --dx-blueText: var(--color-blue-300);
  --dx-blueFill: var(--color-blue-500);
  --dx-blueSurface: var(--color-blue-700);
  --dx-blueSurfaceText: var(--color-blue-200);
  --dx-blueScreen: var(--color-blue-800);
  --dx-indigoCursor: var(--color-indigo-300);
  --dx-indigoText: var(--color-indigo-300);
  --dx-indigoFill: var(--color-indigo-500);
  --dx-indigoSurface: var(--color-indigo-700);
  --dx-indigoSurfaceText: var(--color-indigo-200);
  --dx-indigoScreen: var(--color-indigo-800);
  --dx-violetCursor: var(--color-violet-300);
  --dx-violetText: var(--color-violet-300);
  --dx-violetFill: var(--color-violet-500);
  --dx-violetSurface: var(--color-violet-700);
  --dx-violetSurfaceText: var(--color-violet-200);
  --dx-violetScreen: var(--color-violet-800);
  --dx-purpleCursor: var(--color-purple-300);
  --dx-purpleText: var(--color-purple-300);
  --dx-purpleFill: var(--color-purple-500);
  --dx-purpleSurface: var(--color-purple-700);
  --dx-purpleSurfaceText: var(--color-purple-200);
  --dx-purpleScreen: var(--color-purple-800);
  --dx-fuchsiaCursor: var(--color-fuchsia-300);
  --dx-fuchsiaText: var(--color-fuchsia-300);
  --dx-fuchsiaFill: var(--color-fuchsia-500);
  --dx-fuchsiaSurface: var(--color-fuchsia-700);
  --dx-fuchsiaSurfaceText: var(--color-fuchsia-200);
  --dx-fuchsiaScreen: var(--color-fuchsia-800);
  --dx-pinkCursor: var(--color-pink-300);
  --dx-pinkText: var(--color-pink-300);
  --dx-pinkFill: var(--color-pink-500);
  --dx-pinkSurface: var(--color-pink-700);
  --dx-pinkSurfaceText: var(--color-pink-200);
  --dx-pinkScreen: var(--color-pink-800);
  --dx-roseCursor: var(--color-rose-300);
  --dx-roseText: var(--color-rose-300);
  --dx-roseFill: var(--color-rose-500);
  --dx-roseSurface: var(--color-rose-700);
  --dx-roseSurfaceText: var(--color-rose-200);
  --dx-roseScreen: var(--color-rose-800);
  --dx-neutralCursor: var(--color-neutral-400);
  --dx-neutralText: var(--color-neutral-400);
  --dx-neutralFill: var(--color-neutral-600);
  --dx-neutralSurface: var(--color-neutral-800);
  --dx-neutralSurfaceText: var(--color-neutral-300);
  --dx-neutralScreen: var(--color-neutral-900);
  --dx-primaryCursor: var(--color-blue-300);
  --dx-primaryText: var(--color-blue-300);
  --dx-primaryFill: var(--color-blue-500);
  --dx-primarySurface: var(--color-blue-700);
  --dx-primarySurfaceText: var(--color-blue-200);
  --dx-primaryScreen: var(--color-blue-800);
  --dx-axisSurface: var(--color-neutral-900);
  --dx-axisText: var(--color-neutral-300);
  --dx-axisSelectedSurface: var(--color-neutral-950);
  --dx-axisSelectedText: var(--color-neutral-950);
  --dx-gridCell: var(--color-neutral-950);
  --dx-gridCellSelected: var(--color-neutral-900);
  --dx-gridOverlay: oklch(from var(--color-blue-500) l c h / 0.5);
  --dx-gridSelectionOverlay: oklch(from var(--color-blue-500) l c h / 0.2);
  --dx-gridHighlight: oklch(from var(--color-emerald-500) l c h / 0.5);
  --dx-gridCommented: var(--color-green-600);
  --dx-gridCommentedActive: oklch(from var(--color-green-600) l c h / 0.5);
  --dx-baseSurface: var(--color-neutral-950);
  --dx-groupSurface: var(--color-neutral-900);
  --dx-modalSurface: var(--color-neutral-900);
  --dx-textInputSurfaceBase: var(--color-neutral-900);
  --dx-textInputSurfaceGroup: var(--color-neutral-800);
  --dx-textInputSurfaceModal: var(--color-neutral-800);
  --dx-inputSurfaceBase: var(--color-neutral-800);
  --dx-inputSurfaceGroup: var(--color-neutral-800);
  --dx-inputSurfaceModal: var(--color-neutral-800);
  --dx-hoverSurfaceBase: var(--color-neutral-800);
  --dx-hoverSurfaceGroup: var(--color-neutral-700);
  --dx-hoverSurfaceModal: var(--color-neutral-700);
  --dx-separatorBase: var(--color-neutral-700);
  --dx-separatorGroup: var(--color-neutral-700);
  --dx-separatorModal: var(--color-neutral-700);
  --dx-subduedSeparator: var(--color-neutral-800);
  --dx-scrollbarTrack: var(--color-neutral-900);
  --dx-scrollbarThumbSubdued: var(--color-neutral-800);
  --dx-scrollbarThumb: var(--color-neutral-700);
  --dx-scrollbarThumbHover: var(--color-neutral-700);
  --dx-scrollbarThumbActive: var(--color-neutral-600);
  --dx-unAccent: var(--color-neutral-500);
  --dx-unAccentHover: var(--color-neutral-500);
  --dx-hoverOverlay: oklch(from var(--color-neutral-500) l c h / 0.1);
  --dx-scrimSurface: oklch(from var(--color-neutral-950) l c h / 0.65);
  --dx-focusSurface: black;
  --dx-deckSurface: var(--color-neutral-950);
  --dx-inverseSurface: white;
  --dx-accentSurfaceRelated: oklch(from var(--color-blue-400) l c h / 0.1);
  --dx-accentSurfaceHover: var(--color-blue-500);
  --dx-accentSurface: var(--color-blue-500);
  --dx-baseText: var(--color-neutral-100);
  --dx-inverseSurfaceText: black;
  --dx-description: var(--color-neutral-500);
  --dx-subdued: var(--color-neutral-400);
  --dx-placeholder: var(--color-neutral-600);
  --dx-accentText: var(--color-blue-400);
  --dx-accentSurfaceText: white;
  --dx-accentTextHover: var(--color-blue-400);
  --dx-accentFocusIndicator: var(--color-blue-500);
  --dx-neutralFocusIndicator: var(--color-neutral-600);
}

