/**
 * Scrolling 
 * Pseudo-classes are not supported by Tailwind.
 */
@layer components {
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-scrollbarThumbHover!;
  }
  ::-webkit-scrollbar-thumb:active {
    @apply bg-scrollbarThumbActive!;
  }

  .dx-scrollbar-thin::-webkit-scrollbar {
    @apply inline-[4px];
  }
  .dx-scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-transparent;
    transition: background 0.15s;
  }
  .dx-scrollbar-thin:hover::-webkit-scrollbar-thumb {
    @apply bg-scrollbarThumb;
  }
}
