/**
 * Surfaces
 */
@layer utilities {
  /* TODO(burdon): Check if used or remov and use classname directly */

  .base-surface {
    background-color: var(--dx-baseSurface);
    --surface-bg: var(--dx-baseSurface);
  }
  .dark .base-surface {
    background-color: var(--dx-baseSurface);
    --surface-bg: var(--dx-baseSurface);
  }

  .sidebar-surface {
    background-color: var(--dx-sidebarSurface);
    --surface-bg: var(--dx-sidebarSurface);
  }
  .dark .sidebar-surface {
    background-color: var(--dx-sidebarSurface);
    --surface-bg: var(--dx-sidebarSurface);
  }

  .modal-surface {
    background-color: var(--dx-modalSurface);
    --surface-bg: var(--dx-modalSurface);
  }
  .dark .modal-surface {
    background-color: var(--dx-modalSurface);
    --surface-bg: var(--dx-modalSurface);
  }
}
