/**
 * Tokens
 */


@theme {
  /* Surfaces */

  --color-baseSurface: theme(colors.white);
  --color-baseText: theme(colors.black);

  --color-headerSurface: var(--dx-headerSurface);

  --color-hoverSurface: var(--dx-hoverSurface);
  --color-hoverSurfaceGroup: theme(colors.neutral.100);

  --color-inputSurface: var(--dx-inputSurface);
  --color-inputSurfaceGroup: theme(colors.neutral.100);

  --color-inverseSurface: theme(colors.neutral.900);
  --color-inverseSurfaceText: theme(colors.neutral.50);

  --color-activeSurface: var(--dx-activeSurface);
  --color-groupSurface: theme(colors.white);

  --color-cardSurface: var(--dx-cardSurface);
  --color-modalSurface: theme(colors.white);

  --color-attention: var(--dx-attention);

  --color-scrimSurface: theme(colors.neutral.50 / 0.65);
  --color-sidebarSurface: var(--dx-sidebarSurface);
  --color-toolbarSurface: var(--dx-toolbarSurface);

  --color-textInputSurface: var(--dx-textInputSurface);
  --color-textInputSurfaceGroup: theme(colors.neutral.50);

  --color-deckSurface: theme(colors.neutral.50);

  --color-focusLine: var(--dx-focusLine);
  --color-focusSurface: theme(colors.white);
  --color-neutralFocusIndicator: theme(colors.neutral.300);

  /* Accent */

  --color-accentSurface: theme(colors.blue.500);
  --color-accentSurfaceHover: theme(colors.blue.600);
  --color-accentSurfaceText: theme(colors.white);
  --color-accentText: theme(colors.blue.600);
  --color-accentTextHover: theme(colors.blue.500);
  --color-accentFocusIndicator: theme(colors.blue.300);

  --color-unAccent: theme(colors.neutral.400);
  --color-unAccentHover: theme(colors.neutral.500);

  /* Separator */

  --color-separator: var(--dx-separator);
  --color-separatorGroup: theme(colors.neutral.200);
  --color-subduedSeparator: theme(colors.neutral.200);

  /* Scrollbar */

  --color-scrollbarThumb: theme(colors.neutral.200);
  --color-scrollbarThumbActive: theme(colors.neutral.200);
  --color-scrollbarThumbHover: theme(colors.neutral.200);

  /* Sheet */

  --color-axisSelectedSurface: theme(colors.neutral.100);
  --color-axisSelectedText: theme(colors.neutral.100);
  --color-axisSurface: theme(colors.neutral.50);
  --color-axisText: theme(colors.neutral.800);

  /* Misc */

  --color-callActive: theme(colors.green.500);
  --color-gridCommentedActive: theme(colors.green.200 / 0.5);
  --color-gridLine: var(--dx-gridLine);
  --color-gridFocusIndicatorColor: var(--dx-gridFocusIndicatorColor);
  --color-hairLine: var(--dx-hairLine);
  --color-landmarkLine: var(--dx-landmarkLine);
  --color-modalLine: var(--dx-modalLine);
  --color-noLine: var(--dx-noLine);
  --color-positionedLine: var(--dx-positionedLine);
  --color-thickLine: var(--dx-thickLine);
}

/* Dark mode color overrides */
.dark {
  --color-axisSurface: theme(colors.neutral.800);
  --color-axisText: theme(colors.neutral.200);
  --color-axisSelectedSurface: theme(colors.neutral.900);
  --color-axisSelectedText: theme(colors.neutral.900);
  --color-gridCommentedActive: theme(colors.green.600 / 0.5);

  --color-baseSurface: theme(colors.neutral.900);
  --color-baseText: theme(colors.neutral.50);
  --color-groupSurface: theme(colors.neutral.800);
  --color-modalSurface: theme(colors.neutral.800);
  --color-textInputSurfaceGroup: theme(colors.neutral.700);
  --color-inputSurfaceGroup: theme(colors.neutral.700);
  --color-hoverSurfaceGroup: theme(colors.neutral.700);
  --color-separatorGroup: theme(colors.neutral.700);
  --color-subduedSeparator: theme(colors.neutral.700);
  --color-scrollbarThumb: theme(colors.neutral.700);
  --color-scrollbarThumbHover: theme(colors.neutral.600);
  --color-scrollbarThumbActive: theme(colors.neutral.600);
  --color-scrimSurface: theme(colors.neutral.900 / 0.65);
  --color-focusSurface: theme(colors.black);
  --color-deckSurface: theme(colors.neutral.950);
  --color-inverseSurface: theme(colors.white);
  --color-inverseSurfaceText: theme(colors.black);
  --color-accentSurfaceHover: theme(colors.blue.500);
  --color-accentText: theme(colors.blue.400);
  --color-accentTextHover: theme(colors.blue.400);
  --color-accentFocusIndicator: theme(colors.blue.500);
  --color-neutralFocusIndicator: theme(colors.neutral.600);
}



@layer dx-tokens {
  /* Color semantic tokens */

  :root, .dark {
    --dx-callActive: var(--color-green-500);
    --dx-callAlert: var(--color-rose-500);
    --dx-primaryCursor: light-dark(var(--color-blue-400), var(--color-blue-300));

    --dx-primaryText: var(--color-primary-text);
    --dx-primaryFill: var(--color-primary-fill);
    --dx-primarySurface: var(--color-primary-surface);
    --dx-primarySurfaceText: var(--color-primary-surface-text);

    --dx-axisSurface: light-dark(var(--color-neutral-100), var(--color-neutral-900));
    --dx-axisText: light-dark(var(--color-neutral-900), var(--color-neutral-300));
    --dx-axisSelectedSurface: light-dark(var(--color-neutral-200), var(--color-neutral-950));
    --dx-axisSelectedText: light-dark(var(--color-neutral-200), var(--color-neutral-950));
    --dx-gridCell: light-dark(transparent, var(--color-neutral-950));
    --dx-gridCellSelected: light-dark(var(--color-neutral-100), var(--color-neutral-900));
    --dx-gridOverlay: oklch(from var(--color-blue-500) l c h / 0.5);
    --dx-gridSelectionOverlay: oklch(from var(--color-blue-500) l c h / 0.2);
    --dx-gridHighlight: oklch(from var(--color-emerald-500) l c h / 0.5);
    --dx-gridCommented: light-dark(var(--color-green-200), var(--color-green-600));
    --dx-gridCommentedActive: light-dark(oklch(from var(--color-green-200) l c h / 0.5), oklch(from var(--color-green-600) l c h / 0.5));
    --dx-baseSurface: light-dark(white, var(--color-neutral-950));
    --dx-groupSurface: light-dark(white, var(--color-neutral-900));
    --dx-modalSurface: light-dark(white, var(--color-neutral-900));
    --dx-textInputSurfaceBase: light-dark(var(--color-neutral-50), var(--color-neutral-900));
    --dx-textInputSurfaceGroup: light-dark(var(--color-neutral-50), var(--color-neutral-800));
    --dx-textInputSurfaceModal: light-dark(var(--color-neutral-50), var(--color-neutral-800));
    --dx-inputSurfaceBase: light-dark(var(--color-neutral-100), var(--color-neutral-800));
    --dx-inputSurfaceGroup: light-dark(var(--color-neutral-100), var(--color-neutral-800));
    --dx-inputSurfaceModal: light-dark(var(--color-neutral-100), var(--color-neutral-800));
    --dx-hoverSurfaceBase: light-dark(var(--color-neutral-100), var(--color-neutral-800));
    --dx-hoverSurfaceGroup: light-dark(var(--color-neutral-100), var(--color-neutral-700));
    --dx-hoverSurfaceModal: light-dark(var(--color-neutral-100), var(--color-neutral-700));
    --dx-separatorBase: light-dark(var(--color-neutral-200), var(--color-neutral-700));
    --dx-separatorGroup: light-dark(var(--color-neutral-200), var(--color-neutral-700));
    --dx-separatorModal: light-dark(var(--color-neutral-200), var(--color-neutral-700));
    --dx-subduedSeparator: light-dark(var(--color-neutral-200), var(--color-neutral-800));
    --dx-scrollbarTrack: light-dark(var(--color-neutral-50), var(--color-neutral-900));
    --dx-scrollbarThumbSubdued: light-dark(var(--color-neutral-100), var(--color-neutral-800));
    --dx-scrollbarThumb: light-dark(var(--color-neutral-200), var(--color-neutral-700));
    --dx-scrollbarThumbHover: light-dark(var(--color-neutral-200), var(--color-neutral-700));
    --dx-scrollbarThumbActive: light-dark(var(--color-neutral-200), var(--color-neutral-600));
    --dx-unAccent: var(--color-neutral-500);
    --dx-unAccentHover: var(--color-neutral-500);
    --dx-hoverOverlay: oklch(from var(--color-neutral-500) l c h / 0.1);
    --dx-scrimSurface: light-dark(oklch(from var(--color-neutral-50) l c h / 0.65), oklch(from var(--color-neutral-950) l c h / 0.65));
    --dx-focusSurface: light-dark(white, black);
    --dx-deckSurface: light-dark(var(--color-neutral-100), var(--color-neutral-950));
    --dx-inverseSurface: light-dark(var(--color-neutral-950), white);
    --dx-accentSurfaceRelated: light-dark(oklch(from var(--color-blue-300) l c h / 0.1), oklch(from var(--color-blue-400) l c h / 0.1));
    --dx-accentSurfaceHover: light-dark(var(--color-blue-600), var(--color-blue-500));
    --dx-accentSurface: var(--color-blue-500);
    --dx-baseText: light-dark(black, var(--color-neutral-100));
    --dx-inverseSurfaceText: light-dark(var(--color-neutral-100), black);
    --dx-description: light-dark(var(--color-neutral-600), var(--color-neutral-400));
    --dx-subdued: light-dark(var(--color-neutral-800), var(--color-neutral-200));
    --dx-placeholder: var(--color-neutral-600);
    --dx-accentText: light-dark(var(--color-blue-600), var(--color-blue-400));
    --dx-accentSurfaceText: white;
    --dx-accentTextHover: light-dark(var(--color-blue-600), var(--color-blue-400));
    --dx-accentFocusIndicator: light-dark(var(--color-blue-300), var(--color-blue-500));
    --dx-neutralFocusIndicator: light-dark(var(--color-neutral-400), var(--color-neutral-600));
  }

  /* Design token aliases and contextual overrides */

  :root, .dark {
    --dx-gridLine: var(--dx-activeSurface);
    --dx-gridFocusIndicatorColor: var(--dx-accentFocusIndicator);

    --dx-activeSurface: var(--dx-inputSurfaceBase);
    --dx-inputSurface: var(--dx-inputSurfaceBase);
    --dx-sidebarSurface: var(--dx-groupSurface);
    --dx-headerSurface: var(--dx-groupSurface);
    --dx-toolbarSurface: var(--dx-groupSurface);
    --dx-cardSurface: var(--dx-groupSurface);
    --dx-textInputSurface: var(--dx-textInputSurfaceBase);
    --dx-hoverSurface: var(--dx-hoverSurfaceBase);
    --dx-attention: var(--dx-focusSurface);
    --dx-currentRelated: var(--dx-modalSurface);
    --dx-separator: var(--dx-separatorBase);

    --dx-successCursor: light-dark(var(--color-emerald-400), var(--color-emerald-300));
    --dx-infoCursor: light-dark(var(--color-cyan-400), var(--color-cyan-300));
    --dx-warningCursor: light-dark(var(--color-amber-400), var(--color-amber-300));
    --dx-errorCursor: light-dark(var(--color-rose-400), var(--color-rose-300));
    --dx-currentCursor: var(--dx-primaryCursor);
  }

  .sidebar-surface, .dark .sidebar-surface, .bg-groupSurface, .dark .bg-groupSurface, .bg-sidebarSurface, .dark .bg-sidebarSurface, .bg-headerSurface, .dark .bg-headerSurface, .bg-toolbarSurface, .dark .bg-toolbarSurface, .bg-cardSurface, .dark .bg-cardSurface {
    --dx-textInputSurface: var(--dx-textInputSurfaceGroup);
    --dx-inputSurface: var(--dx-inputSurfaceGroup);
    --dx-hoverSurface: var(--dx-hoverSurfaceGroup);
    --dx-separator: var(--dx-separatorGroup);
  }

  .modal-surface, .dark .modal-surface, .bg-modalSurface, .dark .bg-modalSurface, .bg-currentRelated, .dark .bg-currentRelated {
    --dx-textInputSurface: var(--dx-textInputSurfaceModal);
    --dx-inputSurface: var(--dx-inputSurfaceModal);
    --dx-hoverSurface: var(--dx-hoverSurfaceModal);
    --dx-separator: var(--dx-separatorModal);
  }

  [data-grid-focus-indicator-variant="stack"] {
    --dx-gridFocusIndicatorColor: var(--dx-neutralFocusIndicator);
  }

  :root {
    --dx-line-0: 0.000px;
    --dx-line-1: 1.000px;
    --dx-line-2: 2.000px;

    --dx-lacuna-12: 1.500rem;
    --dx-lacuna-3: 0.375rem;
    --dx-lacuna-4: 0.500rem;
    --dx-lacuna-6: 0.750rem;
  }

  :root {
    --dx-noLine: var(--dx-line-0);
    --dx-hairLine: var(--dx-line-1);
    --dx-thickLine: var(--dx-line-2);
    --dx-trimXs: var(--dx-lacuna-3);
    --dx-trimSm: var(--dx-lacuna-4);
    --dx-trimMd: var(--dx-lacuna-6);
    --dx-trimLg: var(--dx-lacuna-12);
    --dx-inputFine: var(--dx-lacuna-3);
    --dx-inputCoarse: var(--dx-lacuna-4);
  }

  :root, .density-fine {
    --dx-focusOffset: var(--dx-noLine);
    --dx-modalLine: var(--dx-hairLine);
    --dx-landmarkLine: var(--dx-hairLine);
    --dx-positionedLine: var(--dx-hairLine);
    --dx-gridGap: var(--dx-hairLine);
    --dx-gridFocusIndicatorWidth: var(--dx-hairLine);
    --dx-focusLine: var(--dx-thickLine);
    --dx-iconButtonPadding: var(--dx-inputFine);
    --dx-cardChrome: var(--dx-trimXs);
    --dx-cardPadding: var(--dx-trimSm);
  }

  .density-coarse {
    --dx-iconButtonPadding: var(--dx-inputCoarse);
    --dx-cardPadding: var(--dx-trimMd);
  }

  [data-grid-focus-indicator-variant="stack"] {
    --dx-gridFocusIndicatorWidth: var(--dx-thickLine);
  }

  :root {
    --dx-size-18: 18.000rem;
    --dx-size-20: 20.000rem;
    --dx-size-22: 22.000rem;
    --dx-size-30: 30.000rem;
    --dx-size-50: 50.000rem;
  }

  :root {
    --dx-prose-max-width: var(--dx-size-50);
    --dx-container-max-width: var(--dx-size-50);
    --dx-card-default-width: var(--dx-size-20);
    --dx-card-min-width: var(--dx-size-18);
    --dx-card-max-width: var(--dx-size-22);
    --dx-card-min-height: var(--dx-size-18);
    --dx-card-max-height: var(--dx-size-30);
  }

  :root {
    /* Recitations */
    --sticky-top: 0;

    /* Lengths / sizes */
    --rail-content: 3rem;
    --rail-size: calc(var(--rail-content) + 1px);
    --rail-action: calc(var(--rail-content) - 0.5rem + 1px);
    --rail-item: calc(var(--rail-content) - 1rem);
    --line-height: 32px;
    --topbar-size: var(--rail-size);
    --toolbar-size: var(--rail-content);
    --statusbar-size: var(--rail-content);
    --nav-sidebar-size: 22.5rem;
    --complementary-sidebar-size: 25rem;
    --drawer-size: 50dvh;
    /* NOTE(thure): 74px (rather than rem) is intentional in order to match the size of macOS windowing controls. */
    --l0-size: 74px;
    --l0-avatar-size: 3rem;
    --l1-size: calc(var(--nav-sidebar-size) - var(--l0-size));
    --r0-size: var(--rail-size);
    --r1-size: calc(var(--complementary-sidebar-size) - var(--r0-size));
    --text-content: calc(50rem - env(safe-area-inset-left) - env(safe-area-inset-right));
  }

  /* TODO(thure): Support arbitrary values (like for keywords e.g. `auto`, or font families) in @ch-ui/tokens */
  :root {
    --dx-calc-auto: auto;
    --dx-calc-min: min-content;
    --dx-calc-fit: fit-content;
    --dx-calc-max: max-content;
    --dx-calc-content: content;
  }

  @supports (block-size: calc-size(fit-content, size)) {
    :root {
      --dx-calc-auto: calc-size(auto, size);
      --dx-calc-min: calc-size(min-content, size);
      --dx-calc-fit: calc-size(fit-content, size);
      --dx-calc-max: calc-size(max-content, size);
      --dx-calc-content: calc-size(content, size);
    }
  }
}
