/* sharp-sans-400normal */
@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Sharp Sans Regular '),
    local('Sharp Sans-Regular'),
    url('./files/sharp-sans/sharp-sans-display-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sharp-sans/sharp-sans-display-400.woff') format('woff'); /* Modern Browsers */
}

/* sharp-sans-400italic */
@font-face {
  font-family: 'Sharp Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Sharp Sans Regular italic'),
    local('Sharp Sans-Regularitalic'),
    url('./files/sharp-sans/sharp-sans-display-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sharp-sans/sharp-sans-display-400italic.woff') format('woff'); /* Modern Browsers */
}

/* sharp-sans-700normal */
@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Sharp Sans Bold '),
    local('Sharp Sans-Bold'),
    url('./files/sharp-sans/sharp-sans-display-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sharp-sans/sharp-sans-display-700.woff') format('woff'); /* Modern Browsers */
}

/* sharp-sans-700italic */
@font-face {
  font-family: 'Sharp Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Sharp Sans Bold italic'),
    local('Sharp Sans-Bolditalic'),
    url('./files/sharp-sans/sharp-sans-display-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sharp-sans/sharp-sans-display-700italic.woff') format('woff'); /* Modern Browsers */
}
