/**
 * Button utilities.
 */

/* TODO(thure): Focus is handled by .dx-focus-ring, but should ideally be applied as part of this component. */
@layer dx-components {
  /**
   * NOTE: These are component classes (not utility classes) on a different layer, which themselves apply utility classes using `@apply`.
   */

  /* Base styles */
  .dx-button {
    @apply font-medium shrink-0 inline-flex select-none items-center justify-center overflow-hidden transition-colors duration-100 ease-linear bg-input-surface min-h-[2.5rem] px-3;
    &[aria-pressed='true'],
    &[aria-checked='true'] {
      @apply text-accent-text bg-attention;
    }
    /* Disabled styles */
    &[disabled]:not([disabled='false']) {
      @apply opacity-40 cursor-not-allowed shadow-none;
    }
    /* Variants consistent between enabled & disabled */
    &[data-variant='ghost'] {
      @apply bg-transparent;
      &:hover {
        @apply bg-hover-surface text-inherit;
      }
      &[data-state='open'] {
        @apply bg-input-surface;
      }
      &[aria-pressed='true'],
      &[aria-checked='true'] {
        @apply bg-base-surface text-accent-text;
      }
    }
    &[data-variant='outline'] {
      @apply border border-base-surface bg-transparent;
      &:hover {
        @apply bg-hover-surface;
      }
    }
    /* Enabled styles */
    &:not([disabled]),
    &[disabled='false'] {
      /* Hover */
      &:hover {
        @apply bg-hover-surface;
      }
      /* Variants */
      &[data-variant='primary'] {
        @apply text-accent-surface-text bg-accent-surface;
        &:hover,
        &[aria-pressed='true'],
        &[aria-checked='true'] &[data-state='open'] {
          @apply bg-accent-surface-hover;
        }
      }
      &[data-variant='destructive'] {
        @apply text-accent-surface-text bg-rose-fill;
        &:hover,
        &[aria-pressed='true'],
        &[aria-checked='true'] &[data-state='open'] {
          @apply bg-rose-fill;
        }
      }
    }
  }
  /* Props */
  .dx-button:not([data-props~='grouped']) {
    @apply rounded-xs;
  }
  .dx-button:not([data-props~='wrap']) {
    @apply truncate;
  }
  @media (pointer: fine) {
    .dx-button[data-density='fine'] {
      @apply min-h-[2rem] px-2.5;
    }
  }
}
