/**
 * NOTE: The order of the layers is important and defined in the root `index.html`.
 */

/**
 * NOTE: The order of the layers is important and defined in the root `index.html`.
 *
 * Example: `composer-app/index.html`
 * ```html
 * <style>
 *   @layer dx-tokens, user-tokens, tw-base, dx-base, tw-components, dx-components, utilities;
 * </style>
 * ```
 */

@import './theme/index.css';

@import './anchored-overflow.css';
@import './attention.css';
@import './base.css';
@import './button.css';
@import './checkbox.css';
@import './dialog.css';
@import './drag-preview.css';
@import './focus-ring.css';
@import './hues.css';
@import './positioning.css';
@import './main.css';
@import './native.css';
@import './scrollbar.css';
@import './size.css';
@import './surfaces.css';
@import './tag.css';
@import './tldraw.css';
@import './typography.css';

@layer dx-tokens, user-tokens, tw-base, dx-base, tw-components, dx-components, utilities;
