/**
 * NOTE: The order of the layers is important and defined in the root `index.html`.
 */

@import './theme/index.css';

@import './anchored-overflow.css';
@import './attention.css';
@import './base.css';
@import './button.css';
@import './checkbox.css';
@import './dialog.css';
@import './drag-preview.css';
@import './focus-ring.css';
@import './hues.css';
@import './positioning.css';
@import './main.css';
@import './native.css';
@import './scrollbar.css';
@import './size.css';
@import './surfaces.css';
@import './tag.css';
@import './tldraw.css';
@import './typography.css';
