/**
 * Main
 */

@layer utilities {
  /**
   * Main Web app.
   */
  .dx-main-bounce-layout {
    @apply fixed overflow-auto overscroll-auto;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    transition-property: padding-inline-start, padding-inline-end, scroll-padding-start, scroll-padding-end;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-start: 0;
    inset-block-end: 0;
    z-index: 0;
  }

  /**
   * Main Mobile app.
   */
  .dx-main-mobile-layout {
    @apply absolute inset-0 overflow-hidden flex flex-col;
  }

  /**
   * Main content padding.
   */
  .dx-main-content-padding {
    @apply pl-0 scroll-pl-0 pr-0 scroll-pr-0;

    @media (min-width: theme('screens.lg')) {
      &[data-sidebar-left-state='collapsed'] {
        @apply pl-[--l0-size] scroll-pl-[--l0-size];
      }
      &[data-sidebar-left-state='expanded'] {
        @apply pl-[--nav-sidebar-size] scroll-pl-[--nav-sidebar-size];
      }

      &[data-sidebar-right-state='collapsed'] {
        @apply pr-[--r0-size] scroll-pr-[--r0-size];
      }
      &[data-sidebar-right-state='expanded'] {
        @apply pr-[--complementary-sidebar-size] scroll-pr-[--complementary-sidebar-size];
      }
    }
  }

  /** TODO(burdon): Reconcile with dx-main-bounce-layout */
  .dx-main-content-padding-transitions {
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    transition-property: padding-inline-start, padding-inline-end, scroll-padding-start, scroll-padding-end;
  }

  /**
   *
   */
  .dx-main-intrinsic-size {
    inline-size: calc(100dvw - 2 * var(--main-spacing));
    transition-property: inline-size;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);

    @media (min-width: theme('screens.lg')) {
      &[data-sidebar-left-state='closed'][data-sidebar-right-state='closed'] {
        inline-size: calc(100dvw - 2 * var(--main-spacing));
      }
      &[data-sidebar-left-state='collapsed'][data-sidebar-right-state='closed'] {
        inline-size: calc(100dvw - var(--l0-size) - 2 * var(--main-spacing));
      }
      &[data-sidebar-left-state='expanded'][data-sidebar-right-state='closed'] {
        inline-size: calc(100dvw - var(--nav-sidebar-size) - 2 * var(--main-spacing));
      }

      &[data-sidebar-left-state='closed'][data-sidebar-right-state='collapsed'] {
        inline-size: calc(100dvw - var(--r0-size) - 2 * var(--main-spacing));
      }
      &[data-sidebar-left-state='collapsed'][data-sidebar-right-state='collapsed'] {
        inline-size: calc(100dvw - var(--l0-size) - var(--r0-size) - 2 * var(--main-spacing));
      }
      &[data-sidebar-left-state='expanded'][data-sidebar-right-state='collapsed'] {
        inline-size: calc(100dvw - var(--nav-sidebar-size) - var(--r0-size) - 2 * var(--main-spacing));
      }

      &[data-sidebar-left-state='closed'][data-sidebar-right-state='expanded'] {
        inline-size: calc(100dvw - var(--complementary-sidebar-size) - 2 * var(--main-spacing));
      }
      &[data-sidebar-left-state='collapsed'][data-sidebar-right-state='expanded'] {
        inline-size: calc(100dvw - var(--l0-size) - var(--complementary-sidebar-size) - 2 * var(--main-spacing));
      }
      &[data-sidebar-left-state='expanded'][data-sidebar-right-state='expanded'] {
        inline-size: calc(
          100dvw - var(--nav-sidebar-size) - var(--complementary-sidebar-size) - 2 * var(--main-spacing)
        );
      }
    }
  }
}

@layer dx-components {
  .dx-main-sidebar {
    @apply fixed overscroll-contain overflow-x-hidden overflow-y-auto;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    @apply border-landmark-line border-subdued-separator rounded-md;
    @apply backdrop-blur-md;
    .dark & {
      @apply backdrop-blur-lg;
    }
    background-color: var(--color-sidebar-surface);
    --surface-bg: var(--color-sidebar-surface);

    transition-property: inset-inline-start, inset-inline-end, inline-size;
    inset-block-start: max(0.5rem, env(safe-area-inset-top));
    inset-block-end: max(0.5rem, env(safe-area-inset-bottom));
    inline-size: calc(100dvw - 3rem);
    z-index: 7;

    @media (min-width: theme('screens.lg')) {
      @apply top-0 bottom-0 rounded-none border-b-0;
    }

    &[data-resizing='false'] {
      @apply duration-200;
    }

    &[data-side='is'] {
      @apply -start-[100vw] border-e-landmark-line border-subdued-separator;
      z-index: 8;

      &[data-state='expanded'] {
        inset-inline-start: max(0.5rem, env(safe-area-inset-left));
        @media (min-width: theme('screens.lg')) {
          @apply start-0;
        }
      }

      @media (min-width: theme('screens.sm')) {
        @apply inline-[--nav-sidebar-size];
      }

      @media (min-width: theme('screens.lg')) {
        @apply border-x-0;

        &[data-state='collapsed'] {
          @apply inline-[--l0-size] start-0;
        }
        &[data-state='expanded'] {
          @apply inline-[--nav-sidebar-size];
        }
      }
    }

    &[data-side='ie'] {
      @apply -end-[100vw] border-s-landmark-line border-subdued-separator;

      &[data-state='expanded'] {
        inset-inline-end: max(0.5rem, env(safe-area-inset-right));
        @media (min-width: theme('screens.lg')) {
          @apply end-0;
        }
      }

      @media (min-width: theme('screens.sm')) {
        @apply inline-[--complementary-sidebar-size];
      }

      @media (min-width: theme('screens.lg')) {
        @apply border-e-0;
        &[data-state='collapsed'] {
          @apply inline-[--r0-size] end-0;
        }
        &[data-state='expanded'] {
          @apply inline-[--complementary-sidebar-size];
        }
      }
    }
  }


  .dx-main-overlay {
    @apply fixed inset-0 bg-scrim-surface;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    @apply opacity-0 hidden;
    z-index: 6;

    &[data-state='open'] {
      @apply opacity-100 block;

      @media (min-width: theme('screens.lg')) {
        @apply opacity-100 hidden;
      }
    }
  }
}
