/**
 * Surfaces
 */

@layer utilities {
  /* TODO(burdon): Are these used as markers; e.g., to change inputSurface? */

  .base-surface {
    background-color: var(--color-base-surface);
    --surface-bg: var(--color-base-surface);
  }
  .dark .base-surface {
    background-color: var(--color-base-surface);
    --surface-bg: var(--color-base-surface);
  }

  .sidebar-surface {
    background-color: var(--color-sidebar-surface);
    --surface-bg: var(--color-sidebar-surface);
  }
  .dark .sidebar-surface {
    background-color: var(--color-sidebar-surface);
    --surface-bg: var(--color-sidebar-surface);
  }

  .modal-surface {
    background-color: var(--color-modal-surface);
    --surface-bg: var(--color-modal-surface);
  }
  .dark .modal-surface {
    background-color: var(--color-modal-surface);
    --surface-bg: var(--color-modal-surface);
  }
}
