$schema: https://moonrepo.dev/schemas/tasks.json
tasks:
  build:
    command: pnpm exec dx-build
    deps:
      - dx-build:compile
      - ^:build
      - ^:compile
      - compile
    inputs:
      - /tsconfig.base.json
      - tsconfig.json
      - '@group(sources)'
    outputs:
      - dist/types/
    options:
      timeout: 60
  compile:
    command: pnpm exec dx-compile
    args:
      - --outputPath=dist/lib
    deps:
      - dx-compile:compile
      - ^:compile
    inputs:
      - '@group(production)'
    outputs:
      - dist/lib/
    options:
      timeout: 10
