$schema: https://moonrepo.dev/schemas/tasks.json
tasks:
  test:
    command: pnpm exec dx-killorphans vitest run --passWithNoTests --project=node
    deps:
      - esbuild-plugins:compile
      - node-std:compile
      - ^:compile
    inputs:
      - '@group(sources)'
      - /vitest.base.config.ts
      - vitest.config.ts
      - $NODE_VERSION # Ensure cache isn't shared between node versions in CI.
      - $VITEST_COVERAGE
      - $VITEST_DEBUG
      - $VITEST_ENV
      - $VITEST_XML_REPORT
    outputs:
      - /coverage/$project/**
      - /test-results/$project/**
    options:
      timeout: 600
  test-watch:
    command: pnpm exec dx-killorphans vitest
    deps:
      - esbuild-plugins:compile
      - node-std:compile
      - ^:compile
    preset: server

inheritedBy:
  tags: ts-test
