/**
 * Positioning
 */

@layer dx-components {
  .dx-overflow-anchored * {
    overflow-anchor: none;
  }
  .dx-overflow-anchor {
    overflow-anchor: auto;
  }
}

@layer dx-components {
  .dx-sticky-top-0 {
    --sticky-top: 0;
  }
  .dx-contain-layout {
    contain: layout;
  }
}

@layer dx-components {
  .dx-sticky-top-from-topbar-bottom {
    --sticky-top: var(--dx-topbar-size);
  }
  .dx-sticky-bottom-from-statusbar-bottom {
    --sticky-bottom: var(--dx-statusbar-size);
  }
}
