/**
 * Positioning
 */

@layer dx-components {
  .overflow-anchored * {
    overflow-anchor: none;
  }

  .overflow-anchor {
    overflow-anchor: auto;
  }
}

@layer dx-components {
  .sticky-top-0 {
    --sticky-top: 0;
  }
  .contain-layout {
    contain: layout;
  }
}

@layer dx-components {
  .sticky-top-from-topbar-bottom {
    --sticky-top: var(--topbar-size);
  }
  .sticky-bottom-from-statusbar-bottom {
    --sticky-bottom: var(--statusbar-size);
  }
}
