version: 1

runtime:
  client:
    edgeFeatures:
      echoReplicator: true
      feedReplicator: true
      signaling: true
      agents: true
    storage:
      persistent: true
      dataRoot: /tmp/dx/run

  services:
    edge:
      url: https://edge-main.dxos.workers.dev/
    signaling:
      - server: ws://localhost/.well-known/dx/signal
      - server: wss://kube.dxos.org/.well-known/dx/signal
    ice:
      - urls: turn:kube.dxos.org:3478
        username: dxos
        credential: dxos
    iceProviders:
      - urls: https://edge-production.dxos.workers.dev/ice
    ipfs:
      server: http://127.0.0.1:5001/
      gateway: http://127.0.0.1:8888/ipfs
    publisher:
      server: ws://127.0.0.1/.well-known/dx/deploy
    supervisor:
      server: ws://127.0.0.1/.well-known/dx/supervisor
    tunneling:
      server: wss://127.0.0.1/.well-known/dx/tunnel
    machine:
      doAccessToken:
