version: 1

runtime:
  client:
    storage:
      persistent: true

  services:
    ipfs:
      server: https://api.ipfs.dxos.network/api/v0
      gateway: https://gateway.ipfs.dxos.network/ipfs
    signaling:
      - server: wss://dev.kube.dxos.org/.well-known/dx/signal
      - server: wss://kube.dxos.org/.well-known/dx/signal
    ice:
      - urls: stun:kube.dxos.org:3478
      - urls: turn:kube.dxos.org:3478
        username: dxos
        credential: dxos
    publisher:
      server: ws://127.0.0.1/.well-known/dx/deploy
    supervisor:
      server: ws://127.0.0.1/.well-known/dx/supervisor
    tunneling:
      server: ws://127.0.0.1/.well-known/dx/tunnel
    
  agent:
    plugins:
      - id: dxos.org/agent/plugin/dashboard
        enabled: true
