/**
 * Surfaces
 */

@layer dx-components {
  .dx-base-surface {
    @apply bg-base-surface text-base-fg;
    --surface-bg: var(--color-base-surface);
  }

  .dx-sidebar-surface {
    @apply bg-sidebar-surface text-base-fg;
    --surface-bg: var(--color-sidebar-surface);
  }

  .dx-modal-surface {
    @apply bg-modal-surface text-base-fg backdrop-blur-md;
    --surface-bg: var(--color-modal-surface);
  }

  .dx-attention-surface {
    @apply bg-attention-surface text-base-fg;
    --surface-bg: var(--color-attention-surface);
  }

  .dx-popover-surface {
    @apply bg-popover-surface text-base-fg backdrop-blur-md;
    --surface-bg: var(--color-popover-surface);
  }
}
