name: Check

on:
  pull_request:
  merge_group:

  push:
    branches:
      - mykola/fix-e2e-tests
      # - main
      # - ci/*

  schedule:
    - cron: '0 4 * * 1-5'

  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

      e2e:
        type: boolean
        description: 'Run the e2e tests'
        required: false
        default: false

env:
  DEPOT_TOKEN: ${{ secrets.DEPOT_TOKEN }}
  DISCORD_TEST_REPORT_WEBHOOK: ${{ secrets.DISCORD_TEST_REPORT_WEBHOOK }}

# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/control-the-concurrency-of-workflows-and-jobs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# https://moonrepo.dev/docs/guides/ci
jobs:
  check:
    runs-on: depot-ubuntu-24.04-8
    container:
      image: ghcr.io/dxos/gh-actions:20.19.5
      credentials:
        username: dxos-bot
        password: ${{ secrets.GITHUB_TOKEN }}
    timeout-minutes: 30
    steps:
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled && !inputs.e2e }}
        with:
          detached: true

      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          lfs: true

      - name: Extract branch
        id: extract_branch
        uses: ./.github/actions/branch

      - name: Setup
        uses: ./.github/actions/setup

      - name: Check for import cycles
        run: pnpm run check-cycles

      - name: Check Affected
        if: ${{ steps.extract_branch.outputs.branch != 'main' }}
        run: moon run :lint :build --affected --remote

      - name: Check All
        if: ${{ steps.extract_branch.outputs.branch == 'main' }}
        run: moon run :lint :build

      - uses: 'moonrepo/run-report-action@v1'
        if: (success() || failure()) && github.event_name == 'pull_request'
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}

  test:
    strategy:
      matrix:
        # TODO(wittjosiah): Test across all LTS versions of node.
        #  Currently fails on 22 and 24.
        # node-version: ['20.19.5', '22', '24']
        node-version: ['20.19.5', '24.4.1'] # TODO(dmaretskyi): Switch to 24.10.0
    runs-on: depot-ubuntu-24.04-8
    container:
      image: ghcr.io/dxos/gh-actions:${{ matrix.node-version }}
      credentials:
        username: dxos-bot
        password: ${{ secrets.GITHUB_TOKEN }}
    timeout-minutes: 30
    env:
      NODE_VERSION: ${{ matrix.node-version }}
      VITEST_ENV: 'node'
      VITEST_COVERAGE: 'true'
      # NOTE: Browser tests also require a process for chromium. Limiting to 4 provides headroom for those processes.
      MOON_CONCURRENCY: 4
    steps:
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled && !inputs.e2e }}
        with:
          detached: true

      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          lfs: true

      - name: Extract branch
        id: extract_branch
        uses: ./.github/actions/branch

      - name: Setup
        uses: ./.github/actions/setup

      - name: Install Playwright
        run: pnpm run install-playwright

      - name: Test Affected
        if: ${{ steps.extract_branch.outputs.branch != 'main' }}
        run: moon run :test --affected --remote -- --no-file-parallelism

      - name: Test All
        if: ${{ steps.extract_branch.outputs.branch == 'main' }}
        run: moon run :test -- --no-file-parallelism

      - uses: 'moonrepo/run-report-action@v1'
        if: (success() || failure()) && github.event_name == 'pull_request'
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: vitest-report-${{ matrix.node-version }}
          path: test-results
          retention-days: 7

      - uses: codecov/codecov-action@v5
        if: ${{ matrix.node-version == '24.4.1' }}
        with:
          directory: ./coverage
          fail_ci_if_error: false
          handle_no_reports_found: true
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

      - name: Send test report
        if: ${{ always() && github.event_name == 'schedule' }}
        uses: ./.github/actions/test-report
        with:
          name: '${{ github.job }}-${{ matrix.node-version }}'
          result: ${{ job.status }}

  e2e:
    # if: ${{ startsWith(github.ref, 'refs/heads/main') || startsWith(github.ref, 'refs/heads/rc-') || startsWith(github.ref, 'refs/heads/hotfix-') || startsWith(github.ref, 'refs/heads/release-please-') || inputs.e2e }}
    runs-on: depot-ubuntu-24.04-8
    container:
      image: ghcr.io/dxos/gh-actions:24.4.1
      credentials:
        username: dxos-bot
        password: ${{ secrets.GITHUB_TOKEN }}
    timeout-minutes: 60
    env:
      DX_ENVIRONMENT: ci
      DX_PWA: false
      NODE_OPTIONS: --max-old-space-size=12288
    steps:
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
        with:
          detached: true

      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          lfs: true

      - name: Extract branch
        id: extract_branch
        uses: ./.github/actions/branch

      - name: Setup
        uses: ./.github/actions/setup

      - name: Install Playwright
        run: pnpm run install-playwright

      - name: Bundle Affected
        if: ${{ steps.extract_branch.outputs.branch != 'main' }}
        run: moon run :bundle --affected --remote

      - name: Bundle All
        if: ${{ steps.extract_branch.outputs.branch == 'main' }}
        run: moon run :bundle

      - name: Test Affected
        if: ${{ steps.extract_branch.outputs.branch != 'main' }}
        run: moon run :e2e --affected --remote --concurrency=2 -- --browser=all

      - name: Test All
        # if: ${{ steps.extract_branch.outputs.branch == 'main' }}
        run: moon run :e2e --concurrency=2 -- --browser=all

      - uses: 'moonrepo/run-report-action@v1'
        if: (success() || failure()) && github.event_name == 'pull_request'
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Traces
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: test-results/playwright
          retention-days: 7

      - name: Send test report
        if: ${{ (success() || failure()) && github.event_name == 'schedule' }}
        uses: ./.github/actions/test-report
        with:
          name: ${{ github.job }}
          result: ${{ job.status }}
