on:
  push:
    branches-ignore:
      - main

name: check
jobs:
  check:
    runs-on: [self-hosted, dind-actions-runner]
    timeout-minutes: 15
    strategy:
      matrix:
        node-version: [12.7, 16.0]
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Check, install and build
        run: |
          \. "$NVM_DIR/nvm.sh" && nvm use ${{ matrix.node-version }}
          npm install -g @microsoft/rush pnpm
          
          # Install dependencies
          node common/scripts/install-run-rush.js install
          
          # Build
          node common/scripts/install-run-rush.js rebuild --verbose

          # Build storybooks
          cd packages/echo/echo-demo && pnpm build-storybook && cd -
          cd packages/sdk/react-ux && pnpm build-storybook && cd -
          cd packages/sdk/react-client && pnpm build-storybook && cd -
