on:
  push:

name: Build, test, lint
jobs:
  check:
    runs-on: [self-hosted, dind-actions-runner]
    timeout-minutes: 25
    strategy:
      matrix:
        node-version: [16.0]
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          clean: false
      - name: Check, install and build
        run: |
          \. "$NVM_DIR/nvm.sh" && nvm use ${{ matrix.node-version }}
          npm install -g @microsoft/rush pnpm
          sudo ./common/scripts/install-dependencies.sh
          npx playwright@1.11.0 install-deps

          # Install dependencies
          echo "::group::Install"
          node common/scripts/install-run-rush.js install
          echo "::endgroup::"

          # Build with tests
          # TODO(burdon): Move to separate action (run once per evening).
          node common/scripts/github-actions-folding.js node common/scripts/install-run-rush.js build:test --verbose
      - name: Prepare summary comment
        if: failure()
        run: |
          SUMMARY_COMMENT=$(cat ./failure-summary.log)
          echo "SUMMARY_COMMENT<<EOF" >> $GITHUB_ENV
          echo "$SUMMARY_COMMENT" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
      - name: Add summary comment
        if: failure()
        uses: mshick/add-pr-comment@v1
        with:
          message: |
            Here's the summary of the build failures for ${{ github.sha }}:

            ```
            ${{ env.env.SUMMARY_COMMENT }}
            ```
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          repo-token-user-login: 'github-actions[bot]' # The user.login for temporary GitHub tokens
          allow-repeats: false # This is the default


  check-storybooks:
    runs-on: [self-hosted, dind-actions-runner]
    timeout-minutes: 25
    strategy:
      matrix:
        node-version: [16.0]
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          clean: false
      - name: Check, install and build
        run: |
          \. "$NVM_DIR/nvm.sh" && nvm use ${{ matrix.node-version }}
          npm install -g @microsoft/rush pnpm
          sudo ./common/scripts/install-dependencies.sh

          # Install dependencies
          echo "::group::Install"
          node common/scripts/install-run-rush.js install
          echo "::endgroup::"

          # Quick build
          node common/scripts/github-actions-folding.js node common/scripts/install-run-rush.js build --verbose

          # Test the demos storybooks
          cd packages/demos
          pnpm book &
          pnpm test:playwright
          echo "::endgroup::"
      - name: Cleanup
        if: always()
        run: |
          kill $(lsof -t -i:9001) || true
          kill $(lsof -t -i:8080) || true

  # TODO(burdon): Run nightly.
  check-sdk-health:
    runs-on: [self-hosted, dind-actions-runner]
    timeout-minutes: 25
    strategy:
      matrix:
        node-version: [16.0]
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          clean: false
      - name: Check, Install and Test
        run: |
          \. "$NVM_DIR/nvm.sh" && nvm use ${{ matrix.node-version }}
          npm install -g @microsoft/rush pnpm
          sudo ./common/scripts/install-dependencies.sh

          echo "::group::Install"
          node common/scripts/install-run-rush.js install
          echo "::endgroup::"

          # Quick build
          node common/scripts/github-actions-folding.js node common/scripts/install-run-rush.js build --verbose --to @dxos/tutorials-tasks-app

          # Test the Tasks App
          echo "::group::tutorials-tasks-app"
          cd packages/tutorials/tutorials-tasks-app
          ./scripts/start-and-wait.sh
          pnpm test:playwright
          echo "::endgroup::"
      - name: Cleanup
        if: always()
        run: |
          sudo apt-get install -y lsof
          kill $(lsof -t -i:3000) || true
          kill $(lsof -t -i:8080) || true
