name: Check

on:
  push:

  # schedule:
  #   - cron: '0 4 * * 1-5'

  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

      e2e:
        type: boolean
        description: 'Run the e2e tests'
        required: false
        default: false

# Needed for nx-set-shas when run on the main branch
permissions:
  actions: read
  contents: read

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
  DISCORD_TEST_REPORT_WEBHOOK: ${{ secrets.DISCORD_TEST_REPORT_WEBHOOK }}

# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/control-the-concurrency-of-workflows-and-jobs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# https://nx.dev/ci/intro/tutorials/github-actions
jobs:
  test:
    strategy:
      matrix:
        node-version: ['20.12.1', '21.7.2']
    runs-on:
      group: ubuntu-large
    steps:
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
        with:
          detached: true

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Extract branch
        id: extract_branch
        uses: ./.github/actions/branch

      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node-version }}
          # TODO(wittjosiah): Nx Agents were flaky.
          # stop-agents-after: test

      # TODO(wittjosiah): Coverage is causing CI failures.
      - name: Test Affected
        if: ${{ steps.extract_branch.outputs.branch != 'main' }}
        run: pnpm exec nx affected -t test

      - name: Test All
        if: ${{ steps.extract_branch.outputs.branch == 'main' }}
        run: pnpm exec nx run-many -t test

      - uses: codecov/codecov-action@v4
        if: ${{ matrix.node-version == '20.12.1' }}
        with:
          directory: ./coverage
          fail_ci_if_error: true
          handle_no_reports_found: true
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

      - name: Send test report
        if: ${{ (success() || failure()) && github.event_name == 'schedule' }}
        uses: ./.github/actions/test-report
        with:
          name: '${{ github.job }}-${{ matrix.node-version }}'
          result: ${{ job.status }}

  check:
    runs-on:
      group: ubuntu-large
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Extract branch
        id: extract_branch
        uses: ./.github/actions/branch

      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version: 20.12.1
          # TODO(wittjosiah): Nx Agents were flaky.
          # stop-agents-after: build

      - name: Check Affected
        if: ${{ steps.extract_branch.outputs.branch != 'main' }}
        run: pnpm exec nx affected -t lint build

      - name: Check All
        if: ${{ steps.extract_branch.outputs.branch == 'main' }}
        run: pnpm exec nx run-many -t lint build

  e2e:
    runs-on:
      group: ubuntu-large
    if: ${{ startsWith(github.ref, 'refs/heads/main') || startsWith(github.ref, 'refs/heads/rc-') || startsWith(github.ref, 'refs/heads/hotfix-') || startsWith(github.ref, 'refs/heads/release-please-') || inputs.e2e }}
    env:
      DX_ENVIRONMENT: ci
      DX_PWA: false
      NODE_OPTIONS: --max-old-space-size=8192
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Extract branch
        id: extract_branch
        uses: ./.github/actions/branch

      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version: 20.12.1

      - name: Install system dependencies
        run: npx playwright@1.46.0 install-deps

      - name: Bundle
        run: pnpm exec nx affected -t bundle --parallel=2

      - name: Test Affected
        if: ${{ steps.extract_branch.outputs.branch != 'main' }}
        run: pnpm exec nx affected -t e2e --browser=all --parallel=1

      - name: Test All
        if: ${{ steps.extract_branch.outputs.branch == 'main' }}
        run: pnpm exec nx run-many -t e2e --browser=all --parallel=1

      - name: Send test report
        if: ${{ (success() || failure()) && github.event_name == 'schedule' }}
        uses: ./.github/actions/test-report
        with:
          name: ${{ github.job }}
          result: ${{ job.status }}

  dead-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1
        with:
          args: --offline ./docs/content/composer ./docs/content/guide
