on:
  push:

name: check
jobs:
  check:
    runs-on: [self-hosted]
    timeout-minutes: 15
    strategy:
      matrix:
        node-version: [12.17]
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: apt-get install -y pkg-config
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install -g pnpm # TODO: rush comes with pnpm so we should make this step not required.
      - name: Check package versions
        run: node common/scripts/install-run-rush.js change -v
      - name: Install dependencies
        run: node common/scripts/install-run-rush.js install --no-link
      - name: Link dependencies
        run: node common/scripts/install-run-rush.js link
      - name: Build
        run: node common/scripts/install-run-rush.js rebuild --verbose
