name: Build and Push Docker Image

permissions:
  contents: read
  packages: write

on:
  push:
    branches:
      - main
      - gh-docker
    paths:
      - .github/Dockerfile
      - .github/workflows/docker-image.yml
  workflow_dispatch:

env:
  IMAGE_NAME: ghcr.io/dxos/gh-actions
  DEFAULT_NODE_VERSION: 20.19.5
  IMAGE_TAG_SUFFIX: ''

jobs:
  build-and-push:
    strategy:
      matrix:
        node_version: ['20.19.5', '22.17.1', '24.4.1', '24.10.0']
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set suffix if on branch
        run: |
          if [[ "${GITHUB_REF}" != "refs/heads/main" ]]; then
            BRANCH=${GITHUB_REF#refs/heads/}
            echo "IMAGE_TAG_SUFFIX=-${BRANCH//\//-}" >> $GITHUB_ENV
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .github
          file: .github/Dockerfile
          push: true
          build-args: |
            NODE_VERSION=${{ matrix.node_version }}
          # TODO(wittjosiah): Tag latest for the default node version.
          tags: |
            ${{ env.IMAGE_NAME }}:${{ matrix.node_version }}${{ env.IMAGE_TAG_SUFFIX }}
