name: Pack the Tutorial and publish to separate repo

on:
  push

jobs:
  pack_tutorial:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        persist-credentials: false
        path: protocols
    - uses: actions/setup-node@v1
      with:
        node-version: 16.1
    - name: Prerequisites and dependencies
      run: |
        cd protocols
        set -e
        npm install -g @microsoft/rush pnpm
        sudo ./common/scripts/install-dependencies.sh

        echo "::group::Install"
        node common/scripts/install-run-rush.js install
        echo "::endgroup::"
    - name: Prepare packed app
      run: |
        cd protocols
        set -e

        cd packages/sdk/tutorials/apps/tasks-app/
        rushx pack:app

        # Undo package.json changes that are made for packing purposes
        git checkout -- package.json

        tar -xvzf dxos-tutorials-tasks-app-0.1.0.tgz # untars to a `package` directory
    - name: Checkout tutorial
      uses: actions/checkout@v2
      with:
        repository: dxos/tutorial-tasks-app
        persist-credentials: true
        path: tutorial-tasks-app
        ref: master
        token: ${{ secrets.CREATE_PR_TOKEN }}
    - name: Copy and push packed app
      run: |
        set -e

        # Copy including dotfiles
        cp -R protocols/packages/sdk/tutorials/apps/tasks-app/package/* tutorial-tasks-app/
        cp -R protocols/packages/sdk/tutorials/apps/tasks-app/package/.* tutorial-tasks-app/
        cd tutorial-tasks-app
        git status
        git checkout -b ci/release-test
        git add -A
        git commit -m "Release"