name: pkg.pr.new

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DEPOT_TOKEN: ${{ secrets.DEPOT_TOKEN }}
  PNPM_USE_NODE_VERSION: false

jobs:
  publish:
    runs-on: depot-ubuntu-24.04-4
    container:
      image: ghcr.io/dxos/gh-actions:20.19.5
      credentials:
        username: dxos-bot
        password: ${{ secrets.GITHUB_TOKEN }}
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          lfs: true

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build
        run: moon run :build
        env:
          NODE_ENV: production

      - name: Bundle Shell
        run: moon run shell:bundle
        env:
          NODE_ENV: production

      - name: Publish to pkg.pr.new
        run: .github/workflows/scripts/pkg-pr-new-publish.sh

