on:
  push:
    branches:
      - main

name: Publish packages to NPM, apps to DXNS, extensions to artifacts
jobs:
  publish:
    runs-on: [self-hosted, dind-actions-runner]
    timeout-minutes: 25
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        clean: false
    - name: Check, install and build
      run: |
        \. "$NVM_DIR/nvm.sh" && nvm use

        # Install dependencies
        echo "::group::Install"
        node common/scripts/install-run-rush.js install
        echo "::endgroup::"

        # Build with tests
        node common/scripts/github-actions-folding.js node common/scripts/install-run-rush.js check --verbose
    - name: Run prerelease scripts
      run: |
        \. "$NVM_DIR/nvm.sh" && nvm use
        node common/scripts/install-run-rush.js prerelease
    - name: Publish latest to NPM
      run:  |
        \. "$NVM_DIR/nvm.sh" && nvm use

        # Publish under "latest" tag
        node common/scripts/install-run-rush.js publish --publish --include-all --tag latest
    - name: Publish dev to NPM
      run:  |
        \. "$NVM_DIR/nvm.sh" && nvm use

        git config --global user.email "ci@dxos.org"
        git config --global user.name "ci"

        # Create a temporary bump of versions
        rush version --bump --override-bump prerelease --override-prerelease-id dev

        # Include a commit hash in the version
        SUBST="s/dev.0/dev.$(git rev-parse --short HEAD)/g"
        FILEPATH='./common/config/rush/version-policies.json'
        sed -i $SUBST $FILEPATH # Caution: on macOS that would be `sed -i '' $SUBST $FILEPATH`
        rush version --ensure-version-policy

        # Publish under "dev" tag
        node common/scripts/install-run-rush.js publish --publish --include-all --tag dev
  publish-apps:
    runs-on: [self-hosted, dind-actions-runner]
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      DX_PROFILE_URL: ${{ secrets.dx_profile_url }}
      DX_DXNS_USER_URI: ${{ secrets.DX_DXNS_USER_URI }}
      DX_DXNS_ACCOUNT: ${{ secrets.DX_DXNS_ACCOUNT }}
      CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
      DX_PROFILE: ci
    timeout-minutes: 25
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Check, install and build
      run: |
        \. "$NVM_DIR/nvm.sh" && nvm use

        # Install dependencies
        echo "::group::Install"
        node common/scripts/install-run-rush.js install
        echo "::endgroup::"

        # Quick build
        node common/scripts/github-actions-folding.js node common/scripts/install-run-rush.js build --verbose
    - name: Initialize CLI
      run: |
        set -e
        \. "$NVM_DIR/nvm.sh" && nvm use

        yarn global add @dxos/cli@v2.19.0
        yarn global add @dxos/cli-dxns@v2.19.0
    - name: Publish apps
      run:  |
        \. "$NVM_DIR/nvm.sh" && nvm use
        export PATH="$PATH:$(yarn global bin)"
        ./common/scripts/publish-apps.sh
  publish-extension:
    runs-on: [self-hosted, dind-actions-runner]
    timeout-minutes: 25
    strategy:
      matrix:
        node-version: [16.0]
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Check, install and build
      run: |
        \. "$NVM_DIR/nvm.sh" && nvm use

        # Install dependencies
        echo "::group::Install"
        node common/scripts/install-run-rush.js install
        echo "::endgroup::"

        # Quick build
        node common/scripts/github-actions-folding.js node common/scripts/install-run-rush.js build --verbose --to @dxos/wallet-extension
        node common/scripts/github-actions-folding.js node common/scripts/install-run-rush.js build --verbose --to @dxos/devtools-extension
    - name: Upload wallet
      uses: actions/upload-artifact@v2
      with:
        name: Wallet
        path: packages/wallet/extension/dist
    - name: Upload devtools
      uses: actions/upload-artifact@v2
      with:
        name: Devtools
        path: packages/devtools/devtools-extension/dist
