on:
  push:
    branches:
      - main

name: Release automation with Release Please

jobs:
  release-please:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          token: ${{ secrets.CREATE_PR_TOKEN }}
          release-type: node
          command: manifest-pr
