# https://github.com/marketplace/actions/github-releases
name: Upload Release Artifacts

on:
  release:
    types: [published]

jobs:
  upload:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          clean: false
      - uses: actions/setup-node@v1
        with:
          node-version: 16.14
      - name: Setup
        run: |
          # Needed for dependencies to install (playwright/robotjs)
          sudo apt-get install libxtst-dev libpng++-dev

          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
          npm install -g @microsoft/rush pnpm
          
          # Install dependencies
          node common/scripts/install-run-rush.js install

          yarn global add @dxos/cli@v2.16.0
          yarn global add @dxos/cli-dxns@v2.16.0
          yarn global add @dxos/cli-ipfs@v2.16.0
      - name: Build
        run: node common/scripts/install-run-rush.js build --verbose
      - name: Gather Artifacts
        run: |
          ROOT_CWD="$(pwd)"

          mkdir artifacts
          pushd packages/devtools/devtools-extension/dist/ && zip -r $ROOT_CWD/artifacts/devtools.zip . && popd
          pushd packages/wallet/wallet-extension/dist/ && zip -r $ROOT_CWD/artifacts/wallet.zip . && popd
      - name: Publish to DXNS
        run: |
          \. "$NVM_DIR/nvm.sh" && nvm use
          export PATH="$PATH:$(yarn global bin)"
          ./common/scripts/publish-artifacts.sh ${GITHUB_REF##*/}
        env:
          GITHUB_REF: ${{ github.ref }}
          DX_PROFILE_URL: ${{ secrets.DX_PROFILE_URL }}
          DX_DXNS_USER_URI: ${{ secrets.DX_DXNS_USER_URI }}
          DX_DXNS_ACCOUNT: ${{ secrets.DX_DXNS_ACCOUNT }}
          DX_PROFILE: ci
      - name: Upload
        uses: fnkr/github-action-ghr@v1
        env:
          GHR_PATH: artifacts/
          GITHUB_TOKEN: ${{ secrets.CREATE_PR_TOKEN }}
      - name: Cleanup
        run: rm -rf artifacts
