on:
  workflow_dispatch:

name: release-candidate

jobs:
  release-candidate:
    runs-on: ubuntu-latest
    steps:
      - name: Branch Check
        id: branch
        run: |
          if [ "${{ github.ref_name }}" == "production" ]; then
            echo "prefix=hotfix" >> $GITHUB_OUTPUT
          elif [ "${{ github.ref_name }}" == "main" ]; then
            echo "prefix=rc" >> $GITHUB_OUTPUT
          else
            exit 1
          fi

      - name: Compute Date
        id: time
        run: echo "today=$(date +"%Y%m%d")" >> $GITHUB_OUTPUT

      - name: Compute Hash
        id: git
        run: echo "sha=$(echo $GITHUB_SHA | cut -c1-4)" >> $GITHUB_OUTPUT

      - uses: peterjgrainger/action-create-branch@v2.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.CREATE_PR_TOKEN }}
        with:
          branch: ${{ steps.branch.outputs.prefix }}-${{ steps.time.outputs.today }}-${{ steps.git.outputs.sha }}

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Checkout all branches
          token: ${{ secrets.CREATE_PR_TOKEN }}

      - name: Push to Staging
        run: |
          BRANCH="${{ steps.branch.outputs.prefix }}-${{ steps.time.outputs.today }}-${{ steps.git.outputs.sha }}"
          git checkout $BRANCH
          git checkout staging
          git reset --hard $BRANCH
          git push --force
